<h2>Search Alert</h2>
<p>
  A user just performed a search for venues in <%= @search.location %> that only returned <%= @search.num_results %> venues. Please add some more venues to this area ASAP.
</p>
<p>
  Details: <%= @search.search_options %>
</p>
<p>
  User Agent: <%= @search.user_agent %>
</p>