<% content_for :page_title do %>
  Manage Spaces
<% end %>
<% content_for :page_header do %>
  Manage Spaces
<% end %>
<div class="col-sm-12">
  <div class="acenter" style="margin:20px 0">
  </div>
  <table class="table table-striped">
    <thead>
    <tr>
      <th>Space Name</th>
      <th>Square Feet</th>
      <th>Dimensions (L'xW')</th>
      <th>Ceiling Height</th>
      <th>Classroom</th>
      <th>Theater</th>
      <th>Banquet</th>
      <th>Reception</th>
      <th>Conference</th>
      <th>U-Shape</th>
      <th>H-Shape</th>
    </tr>
  </thead>
  <tbody>
    <% @spaces.each do |space| %>
      <tr>
        <td>
          <%= space.name %>
        </td>
        <td>
          <%= space.square_feet %>
        </td>
        <td>
          <%= space.length %>' X <%= space.width %>'
        </td>
        <td>
          <%= space.ceiling_height %>
        </td>
        <td>
          <%= space.classroom_size %>
        </td>
        <td><%= space.theater_size %></td>
        <td><%= space.banquet_size %></td>
        <td><%= space.reception_size %></td>
        <td><%= space.conference_size %></td>
        <td><%= space.u_shape_size %></td>
        <td><%= space.h_square_size %></td>
      </tr>
    <% end %>
  </tbody>
  </table>
</div><!-- .col-sm-12 -->
