// Place all the styles related to the manage/billing controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#billing-overview {
    margin-bottom: 20px;
    font-weight: 600;
    font-size: 14pt;
    line-height: 20pt;
}