// Place all the styles related to the Manage/Details controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.checkbox-array {
  label {
    margin: 0 10px;
  }
}


.header-photo {
  margin: 20px 0;
}

.photo-upload-form {
  margin: 20px 0;
}
