<% content_for :page_title do %>
  Resend confirmation instructions
<% end %>
<% content_for :page_description do %>
  Resend user account confirmation instructions
<% end %>
<div class="container content">
  <div class="row">
    <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
      <div class="reg-header">
        <h2>Resend confirmation instructions</h2>
      </div>
      <%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f| %>
        <%= devise_error_messages! %>

        <div class="input-group margin-bottom-20">
          	<span class="input-group-addon"><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span></span>
          	<%= f.email_field :email, autofocus: true, placeholder: 'Email address', class: 'form-control', required: true %>
        </div>

        <div class="actions">
          <%= f.submit "Resend confirmation instructions", class: 'btn btn-success btn-lg btn-block' %>
        </div>
      <% end %>
      <div class="acenter">
        <%= render "devise/shared/links" %>
      </div>
    </div><!-- .col-sm-6 -->
  </div><!-- .row -->
</div><!-- .container -->
