<% content_for :page_title do %>
  My Venues
<% end %>
<% content_for :page_header do %>
  My Venues
<% end %>
<div class="col-sm-12">
  <table class="table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Address</th>
        <th>City</th>
        <th>State</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr>
          <td><%= @venue.name %></td>
          <td><%= @venue.address %></td>
          <td><%= @venue.city%></td>
          <td><%= @venue.state.name %></td>
          <td class="acenter">Active Venue</td>
      </tr>
    <% @venues.each do |venue| %>
      <tr>
        <td>
          <%= venue.name %>
        </td>
        <td>
          <%= venue.address %>
        </td>
        <td>
          <%= venue.city %>
        </td>
        <td>
          <%= venue.state.abbrev %>
        </td>
        <td class="acenter">
              <button class="btn btn-success" id="<%= venue.id %>">Switch to Venue</button>
        </td>
        <tr>
    <% end %>
</tbody>
</table>
    <div class="acenter">
       <a href="mailto:hello@venuecenter.com?subject=Add venue to my profile" class="btn">Add New Venue</a>
    </div>
</div><!-- .col-sm-12 -->
