<% content_for :page_title do %>
  Edit Profile
<% end %>
<div class="container" style="margin-top: 30px;">
  <div class="row">
    <div class="col-sm-4">
      <h2>Edit Profile</h2>

      <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
        <%= devise_error_messages! %>
        <div class="form-group">
          <%= f.label :first_name, 'First Name' %>
          <%= f.text_field :first_name, autofocus: true, class: 'form-control' %>
        </div>
        <div class="form-group">
          <%= f.label :last_name, 'Last Name' %>
          <%= f.text_field :last_name, autofocus: true, class: 'form-control' %>
        </div>
        <div class="form-group">
  	  	    <%= f.label :display_name, 'Your name displays as' %>
    		    <%= f.text_field :display_name, class: 'form-control margin-bottom-20', required: true %>
    	  </div>
        <div class="form-group">
  	  	    <%= f.label :zip_code, 'Zip Code' %>
    		    <%= f.text_field :zip_code, class: 'form-control margin-bottom-20', required: true %>
    	  </div>

        <div class="form-group">
          <%= f.label :email %>
          <%= f.email_field :email, autofocus: true, class: 'form-control' %>
        </div>

        <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
          <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
        <% end %>

        <div class="form-group">
          <%= f.label :password %> <i>(leave blank if you don't want to change it)</i>
          <%= f.password_field :password, autocomplete: "off", class: 'form-control' %>
        </div>

        <div class="form-group">
          <%= f.label :password_confirmation, 'Password Confirmation'%>
          <%= f.password_field :password_confirmation, autocomplete: "off", class: 'form-control' %>
        </div>

        <div class="form-group">
          <%= f.label :current_password, 'Current Password' %> <i>(we need your current password to confirm your changes)</i>
          <%= f.password_field :current_password, autocomplete: "off", class: 'form-control' %>
        </div>

        <div class="actions">
          <%= f.submit "Update Profile", class: 'btn btn-success' %>
        </div>
      <% end %>
      <div class="hide">
        <h3>Cancel my account</h3>

        <p>Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p>

        <%= link_to "Back", :back %>
      </div>
    </div><!-- .col-sm-12 -->
  </div><!-- .row -->
</div><!-- .container -->
