<% content_for :page_title do %>
  Sign up for a new account
<% end %>
<% content_for :page_description do %>
  Create a free account with VenueCenter to find the perfect venue for your next event.
<% end %>
<div class="container content">
  <div class="row">
    <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">

      <%= form_for(resource, as: resource_name, html: { id: 'register_form', class: 'reg-page' }, url: registration_path(resource_name)) do |f| %>
        <div class="reg-header">
        <h1>Sign up for a new account</h1>
        <p>
          Already signed up? <%= link_to 'Login', new_user_session_path %> to your account</p>
        </div>
        <%= devise_error_messages! %>
        <div class="form-group">
	          <%= f.label :email %>
          	<%= f.email_field :email, class: ' form-control margin-bottom-20', required: true %>
			  </div>
			  <div class="row">
	          <div class="col-sm-6">
    				  <div class="form-group">
  			          <%= f.label :password%>
  			          <% if @validatable %>
  			          <em>(<%= @minimum_password_length %> characters minimum)</em>
  			          <% end %>
            			  <%= f.password_field :password, autocomplete: "off", class: 'form-control margin-bottom-20', required: true  %>
    				  </div>
			      </div>
	          <div class="col-sm-6">
    				  <div class="form-group">
  			          <%= f.label :password_confirmation, 'Password Confirmation' %>
  			          <%= f.password_field :password_confirmation, autocomplete: "off", class: 'form-control margin-bottom-20', required: true  %>
    				  </div>
			      </div>
	      </div>
     		<div class="form-group">
      	    <%= f.label :first_name, 'First Name', { :autofocus => true } %>
           	<%= f.text_field :first_name, autofocus: true, class: 'form-control margin-bottom-20', required: true  %>
			  </div>
			  <div class="form-group">
  	  	    <%= f.label :last_name, 'Last Name' %>
    		    <%= f.text_field :last_name, class: 'form-control margin-bottom-20', required: true %>
    	  </div>


        <div class="form-group">
  	  	    <%= f.label :zip_code, 'Zip Code' %>
    		    <%= f.text_field :zip_code, class: 'form-control margin-bottom-20', required: true %>
    	  </div>
        <div class="form-group">
          <%= f.label(:user_type, 'Account Type') %><br>
          <%= f.radio_button(:user_type, "Personal") %> Personal - I plan a couple personal/social events a year. <br>
          <%= f.radio_button(:user_type, "Professional") %> Professional - I plan multiple events a year for my company.
        </div>
        <hr>
  		  <div class="row">
            <div class="col-lg-9 checkbox">
                <label>
                    <input type="checkbox" id="chk-agree" required>
                    I read and agree to the <a href="/tos" class="color-green">Terms and Conditions</a>
                </label>
            </div>
            <div class="col-lg-3 text-right">
                <input class="btn btn-success btn-lg" type="submit" style="margin-top: 5px;" id="form-submit" value="Sign up" disabled />
            </div>
        </div>
        
      <% end %>

    </div>
  </div>
</div>
<script type="text/javascript">
$(document).ready(function(){
  $('#chk-agree').click(function() {
    $("#form-submit").attr('disabled', false);
    if(!$(this).is(':checked'))
    {
      $("#form-submit").attr('disabled', true);
    }
  });
});
</script>
