<% content_for :page_title do %>
 Submission Confirmation
<% end %>

<div class="container" style="margin-top: 30px;">
  <div class="row">
    <div class="col-sm-12">
      <h1 style="margin-bottom: 20px;">Thank You</h1>
      <p>
        We have received your information and will a member of our team will get back to you as soon as possible.
      </p>

      <p>
        Thank you for using VenueCenter!
      </p>

      <p>
        <%= link_to 'Return Home', home_path, class: 'btn btn-lnk' %>
      </p>
    </div><!-- .col-sm-12 -->
  </div><!-- .row -->
</div><!-- .container-fluid -->
