/* line 1, /Users/shawn/Dev/venuecenter/app/assets/stylesheets/admin.css.scss */
h1, h2, h3, h4 {
  font-family: Helvetica, Arial, sans-serif;
  color: #000;
}

/* line 6, /Users/shawn/Dev/venuecenter/app/assets/stylesheets/admin.css.scss */
h1 {
  font-size: 24pt;
}

/* line 9, /Users/shawn/Dev/venuecenter/app/assets/stylesheets/admin.css.scss */
.admin-link-btn {
  margin-top: 20px;
}

/* line 13, /Users/shawn/Dev/venuecenter/app/assets/stylesheets/admin.css.scss */
.table-label {
  font-weight: 600;
}

/* line 17, /Users/shawn/Dev/venuecenter/app/assets/stylesheets/admin.css.scss */
.venue-details-section {
  margin-top: 10px;
  margin-bottom: 10px;
}
