<% content_for :page_title do %>
  Cancel My Account
<% end %>
<div class="container" style="margin-top: 30px;">
  <div class="row">
    <div class="col-sm-12">
      <h1>Cancel My Account</h1>
      <p>We're sorry to see you go, are you sure you want to cancel your account?</p>
      <p>
        <%= link_to "No, I've changed my mind", '/' %>
      </p>
      <p>
        <%= link_to "Yes, cancel my account", registration_path(current_user), :confirm => "Are you sure?", :method => :delete %>
      </p>
    </div>
  </div><!-- .row -->

</div><!-- .container -->
