<% content_for :page_title do %>
  My Profile
<% end %>
<div class="container" style="margin-top: 30px;">
  <div class="row">
    <div class="col-sm-1">
      <%= image_tag('blank_user.gif', class: "img-circle profile-img") %>
    </div>
    <div class="col-sm-8">
      <h1><%= @user.first_name %> <%= @user.last_name %> <small><%= link_to 'Edit', edit_user_registration_path %></small></h1>
      Joined <%= @user.created_at.strftime('%B %d, %Y') %><Br>
      <%= link_to "Cancel my account", account_cancel_path %>
      <div class="row" style="margin-top: 30px;">
        <div class="col-sm-6">
          <strong class="lead">Email</strong><br />
          <%= @user.email %>
        </div>
        <div class="col-sm-6">
          <strong class="lead">Password</strong><br />
          ******

        </div>
      </div>
    </div><!-- .col-sm-9 -->
    <div class="col-sm-3 hide">
      <h2>Social Connections</h2>
    </div><!-- .col-sm-3 -->
  </div><!-- .row -->

</div><!-- .container -->
