<% content_for :page_title do %>
  My Events
<% end %>
<div class="container">
	<div class="row">
		<div class="page-header">
        <h1>My Events</h1>
        <% if @user_events.count > 1 %>
          Events go here
        <% else %>
          You have not created any events. Why not <%= link_to 'create a new event', new_account_event_path %> now?
        <% end %>

      </div>
	</div><!-- .row -->
</div><!-- .container -->
