<% content_for :page_title do %>
Create New Event
<% end %>
<% content_for :page_head do %>
  <link rel="stylesheet" href="https://code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
<% end %>
<div class="container">
  <div class="row" style="border-bottom: 1px solid #e3e3e3;">
    <div class="col-xs-12 col-sm-7" style="margin-top: 40px; padding-right: 20px;">
      <h1>Create a New Event</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12" id="new-rfp-form">
      <div>
        <%= form_for([:account, @event], url: '/account/events', method: 'post') do |f| %>
        <% if !@event.errors.empty? %>
          <div id="error_explanation">
            <h2><%= pluralize(@event.errors.count, "error") %> prohibited this request from being processed:</h2>
            <ul>
              <% @event.errors.full_messages.each do |message| %>
              <li><%= message %></li>
              <% end %>
            </ul>
          </div>
        <% end %>
        <div class="col-xs-12 col-sm-6">
          <div class="form-group">
              <%= f.label :event_name, 'Event Name (required)' %>
              <%= f.text_field(:event_name, { class: 'form-control', required: true }) %>
          </div><!-- .form-group -->
          <div class="form-group">
             <%= f.label :event_type_id, 'Event Type (required)'%>
             <%= f.collection_select(:event_type_id, EventType.order('name'), :id, :name, {}, { class: 'form-control', required: true} )%>
          </div><!-- .form-group -->
          <div class="form-inline" style="margin-bottom: 15px;">
              <%= f.label :desired_date, 'Desired Date (required)' %><br>
              <%= f.text_field :desired_date, { class: 'form-control', required: true, style: "margin-right: 30px;"} %>
              <%= f.check_box :date_flexible %>&nbsp;<%= f.label :date_flexible, 'Date is flexible'%>
          </div><!-- .form-inline -->
          <div class="row">
            <div class="form-group col-xs-6">
               <%= f.label :num_guests, 'Guests (required)'%>
               <%= f.number_field :num_guests, { class: 'form-control', required: true }%>
            </div><!-- .form-group -->
            <div class="form-group col-xs-6">
               <%= f.label :budget, 'Budget (required)' %><br>
               <%= f.select :budget, "<option value='Up to $3000'>Up to $3000</option><option value='$3,001 - $6,000'>$3,001 - $6,000</option><option value='$6,000 - $10,000'>$6,000 - $10,000</option>
               <option value='$10,000+'>$10,000+</option>".html_safe, { include_blank: 'Select an option', class: 'form-control'}, required: true  %>
            </div><!-- .form-group -->
          </div>
          <div class="form-group">
             <%= f.label :description, 'Special Details' %>
             <%= f.text_area :description, { class: 'form-control', rows: 5 }%>
          </div><!-- .form-group -->
        </div>
        <div class='col-xs-12 col-sm-6'>


          <div class="form-group">
            <%= f.check_box :overnight_accomodations %>
            <%= f.label :overnight_accomodations, 'I need overnight accomodations or referrals'%>
          </div><!-- .form-group -->
          <div class="form-group">
            <%= f.check_box :need_flight %>
            <%= f.label :need_flight, 'Someone will need a flight for this event.'%>
          </div><!-- .form-group -->
        </div>



        <div class="acenter" style='margin: 20px 0;'>
           <input type="submit" value="Create Event" class="btn btn-success btn-lg" id="submit">
        </div>

      <% end %>
    </div><!-- #quote-form -->

    </div>


  </div>

</div>

 <script type="text/javascript">
    $( document ).ready(function() {
      $( "#rfp_desired_date" ).datepicker({ dateFormat: 'yy-mm-dd' });
      $( "#submit").click(function(){
        mixpanel.track("User Event Created", {
        "User": "<%= current_user.display_name %>",
        "Event Type": $('#event_event_type_id :selected').text(),
        "Guests": $('#event_num_guests').val(),
        "Desired Date": $('#event_desired_date').val(),
        "Date Flexible": $('#event_date_flexible').val(),
        "Budget": $('#event_budget').val(),
        "Message": $('#event_message').val(),
        "Overnight": $('#event_overnight_accomodations').val(),
        "Flight": $('#event_need_flight').val(),
      });
      });
    });
  </script>
