<h2>New RFP</h2>
<p>
 	<%= @rfp.venue.name %> in <%= @rfp.venue.city %>, <%= @rfp.venue.state.name %> has received a new RFP.
</p>
<p>
    Overnight accomodations? <%= @rfp.overnight_needed %> <br>
    Flight Needed? <%= @rfp.need_flight %>
</p>
<p>
  To view the request, <%= link_to 'click here', @url %>.
</p>
