<p>Hi <%= @rfp.venue.name %>, </p>
<p>
  VenueCenter is a one-stop online resource for customers to find the hottest and trendiest venues in their area. Changing the way consumers and planners approach the event
  planning and booking process, VenueCenter.com has fulfilled the market's need to deliver a user-friendly experience that facilitates a direct line of communication between venues
  and their target audiences.</p>
<p>
    Please note that the following VenueCenter user has requested information regarding your venue:<br/>
    <strong>Name:</strong> <%= @rfp.first_name %> <%= @rfp.last_name %><br>
    <strong>Email:</strong> <%= @rfp.email %><br>
    <strong>Phone:</strong> <%= @rfp.contact_phone %>

</p>

<p>
  In addition, the user has also provided the following information regarding their booking needs:<br>
  <strong>Event Type:</strong> <%= @rfp.event_type.name %><br>
  <strong>Number of Guests:</strong> <%= @rfp.num_guests %><br>
  <strong>Desired Date:</strong> <%= @rfp.desired_date.strftime('%b %e, %Y') %><br>
  <% if @rfp.date_flexible %>Date is flexible<br><% end %>
  <strong>Budget:</strong> <%= @rfp.max_budget %><br>
  <% if @rfp.overnight_needed %>Overnight accommodations needed <br><% end %>
  <strong>Message:</strong>  <%= @rfp.message %>
</p>

<p>
  Please reach out to this potential customer as soon as possible and preferably within 24 hours. If you are looking for ways to reach your target audience, we invite you to visit
  <a href="http://venuecenter.com">http://venuecenter.com</a> for additional details about us.
</p>
<p>
  If you are interested in claiming ownership and updating your venue's profile on our site, you can do so by clicking
  <a href="http://venuecenter.com/biz">on this link</a>.
</p>
<p>
  Our support center is ready to assist you with any needs you may have regarding the use of our site, so please do not hesitate to contact us at <%= mail_to 'support@venuecenter.com' %>
</p>
