<h2>Your RFP has been submitted!</h2>
<p>
  Thank you for submitting a RFP to <%= @rfp.venue.name %> in <%= @rfp.venue.city %>, <%= @rfp.venue.state.name %>.
  We have forwarded your information on to the venue manager.
</p>
<p>
  You should expect to receive a response with more information within 48 hours. If you do not hear back from them by then, please let us know
  by sending an email to <%= mail_to 'support@venuecenter.com' %> and we will gladly assist.
</p>
