<% content_for :page_title do %>
  My Reviews
<% end %>
<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <div class="page-header">
        <h1>My Reviews</h1>
      </div>
      <p class="margin-bottom-20">Here is a list of all venue reviews you've made.</p>
      <table class="table">
        <thead>
          <tr>
            <th>Title</th>
            <th>Venue</th>

            <th>Date</th>
          </tr>
        </thead>

        <tbody>
          <% @reviews.each do |review| %>
            <tr>
              <td><%= link_to review.title, account_review_path(review) %></td>
              <td>
                <%= review.venue.name %>
              </td>

              <td><%= review.created_at.strftime('%m/%e/%Y') %></td>

            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
