<% content_for :page_title do %>
 Write a new review for <%= @venue.name %>
<% end %>
<% content_for :page_head do %>
  <% unless @venue.meta_keywords.blank? %>
    <meta property="keywords" content="<%= @venue.meta_keywords %>" />
  <% end %>
  <% unless @venue.meta_description.blank? %>
    <meta property="description" content="Write a new review for <%= @venue.name %>" />
  <% end %>
<% end %>
<div class="container">
  <div class="row">
    <div class="col-xs-12" style="margin-top: 15px; border-bottom: 1px solid #e3e3e3;">
      <h1>Write a New Review</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-6" id="new-review-header" style="margin: 20px 0;">

      <span class="venue-name"><%= @venue.name %></span><br>
      <%= @venue.address %><br>
      <%= @venue.city %>, <%= @venue.state.abbrev %>
      <div class="new-review-image">
        <%= cl_image_tag(@venue.main_image_url, width: 520, crop: :fill) %>
      </div>

    </div>
    <div class="col-xs-12 col-sm-6" id="new-review-form">
      <%= form_for([:account, @review], url: account_reviews_path) do |f| %>
            <% if @review.errors.any? %>
              <div id="error_explanation">
                <h5><%= pluralize(@review.errors.count, "error") %> prohibited this review from being saved:</h5>

                <ul>
                  <% @review.errors.full_messages.each do |message| %>
                  <li><%= message %></li>
                  <% end %>
                </ul>
              </div>
            <% end %>
            <div class="form-group">
              <%= f.label :title, 'Review Title' %>
              <%= f.text_field :title, { class: 'form-control', required: true }%>
            </div><!-- .form-group -->
      <div class="form-group clearfix" style="margin-bottom: 20px;">
        <h4>Ratings</h4>
        <div class="col-sm-4" style="margin-bottom: 20px;">
          <%= f.label :service_quality, "Quality of Service" %><br>
          <%= f.radio_button :service_quality, 1, class: 'star' %>
          <%= f.radio_button :service_quality, 2, class: 'star' %>
          <%= f.radio_button :service_quality, 3, class: 'star' %>
          <%= f.radio_button :service_quality, 4, class: 'star' %>
          <%= f.radio_button :service_quality, 5, class: 'star' %>
        </div>
        <div class="col-sm-4">
          <%= f.label :venue_quality, "Quality of Venue" %><Br>
            <%= f.radio_button :venue_quality, 1, class: 'star' %>
            <%= f.radio_button :venue_quality, 2, class: 'star' %>
            <%= f.radio_button :venue_quality, 3, class: 'star' %>
            <%= f.radio_button :venue_quality, 4, class: 'star' %>
            <%= f.radio_button :venue_quality, 5, class: 'star' %>
        </div>
        <div class="col-sm-4">
          <%= f.label :staff_quality, "Quality of Staff" %><br>
          <%= f.radio_button :staff_quality, 1, class: 'star' %>
          <%= f.radio_button :staff_quality, 2, class: 'star' %>
          <%= f.radio_button :staff_quality, 3, class: 'star' %>
          <%= f.radio_button :staff_quality, 4, class: 'star' %>
          <%= f.radio_button :staff_quality, 5, class: 'star' %>
        </div>
      </div>
      <div class="form-group margin-bottom-20">
        <h4>Recommend</h4>
        <%= f.check_box :corporate_event %>
        <%= f.label :corporate_event, 'Corporate Event'%>
        <%= f.check_box :party %>
        <%= f.label :party, 'Holiday/Birthday Party'%>
        <%= f.check_box :wedding %>
        <%= f.label :wedding %>
        <%= f.check_box :retreat %>
        <%= f.label :retreat %>
      </div>
      <div class="form-group">
        <%= f.label :text, 'My Review' %>
        <%= f.text_area :text, { class: 'form-control', required: true, rows: 10 } %>
      </div>
            <div class="acenter">
        <%= f.hidden_field(:venue_id, value:@venue.id) %>
               <input type="submit" value="Post Review" class="btn btn-success" >
            </div>
    <% end %><!-- end of form -->
    </div><!-- #quote-form -->

    </div>
  </div>

</div>

<script>
  $(function() {
    $( "#quote_request_desired_date" ).datepicker();
  });
  </script>
