<% content_for :page_title do %>
  My Reviews
<% end %>
<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <div class="page-header">
        <h1><%= @review.venue.name %></h1>
      </div>
      <div class="well">
        <div class="row clearfix">
          <div class="col-md-6 review-title">
            <%= @review.title %>
          </div>
          <div class="col-md-6 text-right" style="color: #82888A;">
            <%= time_ago_in_words(@review.created_at) %> ago
          </div>
        </div>
        <div class="row review-categories">
          <div class="col-sm-4 text-center">
            Service Quality<br>
            <% (@review.service_quality).times do %>
              <i class="fa fa-star green"></i>
            <% end %>

          </div>
          <div class="col-sm-4 text-center">
            Venue Quality<br>
            <% (@review.venue_quality).times do %>
              <i class="fa fa-star green"></i>
            <% end %>
          </div>
          <div class="col-sm-4 text-center">
            Staff Quality<br>
            <% (@review.staff_quality).times do %>
              <i class="fa fa-star green"></i>
            <% end %>
          </div>
        </div>
        <div class="review-text">
          <%= @review.text %>
        </div>
        <% if (@review.corporate_event || @review.party || @review.wedding || @review.retreat) %>
          <div class="review-recommendations">
            Recommended for:
            <% if @review.corporate_event %>Corporate Events &nbsp;<% end %>
            <% if @review.party %>Holiday/Birthday Parties &nbsp;<% end %>
            <% if @review.wedding %>Weddings &nbsp;<% end %>
            <% if @review.retreat %>Retreats &nbsp;<% end %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
