<% content_for :page_title do %>
  Dashboard
<% end %>

<% content_for :page_header do %>
  Dashboard
<% end %>
<div class="row">
  <div class="col-xs-12 col-lg-6">
    <div class="panel panel-default">
      <div class="panel-heading">Venue Details</div>
      <div class="panel-body">
        <%= @venue.name %><br/>
        <%= @venue.address %> <%= @venue.address2 %> <br>
        <%= @venue.city %>, <%= @venue.state.abbrev %>, <%= @venue.zip_code %><br><br>
        <%= link_to 'Edit Venue Details', '/manage/details/general' %>
      </div>
    </div>
  </div>
  <div class="col-xs-12 col-lg-6">
    <div class="panel panel-default">
      <div class="panel-heading">Reviews</div>
      <div class="panel-body">
        <% if !@reviews.blank? && @reviews.count > 0 %>
        <table class="table">
          <thead>
            <tr>
              <th>Date</th>
              <th>User</th>
              <th>Title</th>
              <th>Service</th>
              <th>Venue</th>
              <th>Staff</th>
            </tr>
          </thead>
          <tbody>
            <% @reviews.each do |review| %>
              <tr>
                <td><span style="text-transform: uppercase;"><%= link_to review.created_at.strftime('%b %e,  %Y %l:%m %p'), manage_review_path(review) %></span></td>
                <td>
                  <%= review.user.first_name + ' ' + review.user.last_name %>
                </td>
                <td><%= review.title %></td>
                <td class="acenter"><%= review.service_quality %></td>
                <td class="acenter"><%= review.venue_quality %></td>
                <td class="acenter"><%= review.staff_quality %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
        <% else %>
          Your venue has not received any reviews.
        <% end %>
      </div>
    </div>
  </div>
</div><!-- .row -->
<div class="row">
  <div class="col-xs-12">
    <div class="panel panel-default">
      <div class="panel-heading">RFPs</div>
      <div class="panel-body">
        <% if @rfps.count > 0 %>
          <table class="table">
            <thead>
              <tr>
                <th>ID</th>
                <th>Request Date</th>
                <th>Event Type</th>
                <th>Guests</th>
                <th>Desired Date</th>
                <th>Budget</th>
                <th>Status</th>
              </tr>
            </thead>
            <tbody>
              <% @rfps.each do |rfp| %>
                <tr>
                  <td><span style="text-transform: uppercase;"><%= link_to 'R-' + rfp.id, manage_rfp_path(rfp) %></span></td>
                  <td>
                    <%= rfp.created_at.strftime('%b %e,  %Y %l:%m %p') %>
                  </td>
                  <td><%= rfp.event_type.name %></td>
                  <td><%= rfp.num_guests %></td>
                  <td><%= rfp.desired_date.strftime('%b %e, %Y') %></td>
                  <td><%= rfp.max_budget %></td>
                  <td><%= rfp.external_rfp_status.name %></td>
                </tr>
              <% end %>
            </tbody>
          </table>
        <% else %>
          Your venue has not received any rfp requests.
        <% end %>
      </div>
    </div>
  </div>



  <div class="col-xs-12 col-lg-6 ">

  </div><!-- .col-xs-12 col-lg-6 -->
</div><!-- .row -->
