<% content_for :page_title do %>
  Change Your Password
<% end %>

<div class="container content">
  <div class="row">
    <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
      <div class="reg-header">
        <h2>Change your password</h2>
      </div>
      <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put, class: 'form-horizontal' }) do |f| %>
        <%= devise_error_messages! %>
        <%= f.hidden_field :reset_password_token %>

        <div class="form-group">
          <%= f.label :password, "New password" %>
          <%= f.password_field :password, autofocus: true, autocomplete: "off", class: 'form-control margin-bottom-20' %>
        </div>

        <div class="form-group">
          <%= f.label :password_confirmation, "Confirm new password" %>
          <%= f.password_field :password_confirmation, autocomplete: "off", class: 'form-control margin-bottom-20' %>
        </div>

        <div class="actions">
          <%= f.submit "Change my password", class: 'btn btn-primary btn-lg btn-block' %>
        </div>
      <% end %>

    </div>
  </div>
</div>
