<% content_for :page_title do %>
  Forgot Password
<% end %>
<% content_for :page_keywords do %>
  Forgot Password
<% end %>
<% content_for :page_description do %>
  Reset your VenueCenter password
<% end %>
<div class="container content">
  <div class="row">
    <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
      <div class="reg-header">
        <h1>Forgot your password?</h1>
        <p>Enter your registered email address below and we will email instructions to reset your password.</p>
      </div>
      <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
          <%= devise_error_messages! %>
          <div class="input-group margin-bottom-20">
            	<span class="input-group-addon"><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span></span>
            	<%= f.email_field :email, autofocus: true, placeholder: 'Email Address', class: 'form-control', required: true %>
          </div>

          <div class="actions">
            <%= f.submit "Reset My Password", class: 'btn btn-success btn-lg btn-block' %>
          </div>
      <% end %>
      <div class="acenter">
        <%= render "devise/shared/links" %>
      </div>
    </div>
  </div>
</div>
