<% content_for :page_title do %>
  RFPs
<% end %>
<% content_for :page_header do %>
  RFPs
<% end %>

<div class="col-sm-12">
  <table class="table">
    <thead>
      <tr>
        <th>ID</th>
        <th>Venue</th>
        <th>Event Type</th>
        <th># Guests</th>
        <th>Desired Date</th>
        <th>Flexible Date</th>
        <th>Budget</th>
        <th>Created</th>
        <th>Updated</th>
        <th>Status</th>
      </tr>
    </thead>

    <tbody>
      <% @rfps.each do |rfp| %>
      <tr>
        <td><span style="text-transform: uppercase;"><%= link_to 'R-' + rfp.id, manage_rfp_path(rfp) %></span></td>
        <td>
          <%= rfp.venue.name %><br>
          <%= rfp.venue.city %>, <%= rfp.venue.state.abbrev %>
        </td>
        <td>
          <% if !rfp.event_type_id.blank? %>
            <%= rfp.event_type.name %>
          <% end %>
        </td>

        <td><%= rfp.num_guests %></td>

        <td><%= rfp.desired_date.strftime('%b %e, %Y') %></td>
        <td>
          <% if rfp.date_flexible %>
            Yes
          <% else %>
            No
          <% end %>
        </td>
        <td><%= rfp.max_budget %></td>
        <td><%= rfp.created_at.strftime('%b %e,  %Y %l:%m %p') %></td>
        <td><%= rfp.updated_at.strftime('%b %e,  %Y %l:%m %p') %></td>
        <td><span style="text-transform:capitalize"><%= rfp.external_rfp_status.name %></span></td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>
