<% content_for :page_title do %>
  RFP Details
<% end %>
<% content_for :page_header do %>
  RFP <br>
  <small>R-<span style="text-transform: uppercase"><%= @rfp.id %></span></small>
<% end %>
<div class="row">
  <div class="col-sm-6">
    <label>Date Received</label> - <%= @rfp.created_at.strftime('%B %e, %Y %l:%m %p') %>
  </div>
  <div class='col-sm-6'>
    <label>Event Type</label> - <%= @rfp.event_type.name %>
  </div>
  <div class="col-sm-6">
    <% if !@rfp.user.blank? %>
    <label>Contact Name</label> - <%= @rfp.user.first_name + ' ' + @rfp.user.last_name %><br>
    <label>Contact Email</label> - <%= @rfp.user.email %><br>
    <% else %>
      <label>Contact Name</label> - <%= @rfp.first_name + ' ' + @rfp.last_name %><br>
      <label>Contact Email</label> - <%= @rfp.email %><br>
    <% end %>
    <label>Contact Phone</label> - <%= @rfp.contact_phone %>
  </div>
  <div class="col-sm-6">
    <label>Desired Date</label> - <%= @rfp.desired_date.strftime('%A, %B %e, %Y ') %><br>
      <label>Flexible Date</label> - <% if @rfp.date_flexible %>Yes<% else %>No<% end %><br>
  </div>

  <div class="col-sm-6">
    <label>Number of Guests</label> - <%= @rfp.num_guests %>
  </div>
  <div class="col-sm-6">
    <label>Max Budget</label> - <%= @rfp.max_budget %>
  </div>
  <div class="col-sm-6">
    <label>Overnight Needed</label> - <% if @rfp.overnight_needed %>Yes<% else %>No<% end %><Br>
  </div>
  <div class="col-sm-6">
    <label>Status</label> - <%= @rfp.external_rfp_status.name %>
  </div>
  <div class="col-sm-12">

    <label>Message</label> - <%= @rfp.message %>
  </div>
