<% content_for :page_title do %>
  <%= @review.title %>
<% end %>
<% content_for :page_header do %>
  <%= @review.title %>
<% end %>

<div class="row clearfix">
  <div class="col-md-6 review-title">
    <%= @review.title %>
  </div>
  <div class="col-md-6 text-right" style="color: #82888A;">
    Created at: <%= @review.created_at.strftime('%b %e,  %Y %l:%m %p') %> <Br>
    by: <%= @review.user.first_name + ' ' + @review.user.last_name %>
  </div>
</div>
<div class="row review-text">
  <div class="col-sm-12">
    <%= @review.text %>
  </div>
</div>
<div class="row review-categories">
  <div class="col-sm-4 text-center">
    Service Quality<br>
    <% (@review.service_quality).times do %>
      <i class="fa fa-star green"></i>
    <% end %>

  </div>
  <div class="col-sm-4 text-center">
    Venue Quality<br>
    <% (@review.venue_quality).times do %>
      <i class="fa fa-star green"></i>
    <% end %>
  </div>
  <div class="col-sm-4 text-center">
    Staff Quality<br>
    <% (@review.staff_quality).times do %>
      <i class="fa fa-star green"></i>
    <% end %>
  </div>
</div>
<% if (@review.corporate_event || @review.party || @review.wedding || @review.retreat) %>
  <div class="review-recommendations">
    Recommended for:
    <% if @review.corporate_event %>Corporate Events &nbsp;<% end %>
    <% if @review.party %>Holiday/Birthday Parties &nbsp;<% end %>
    <% if @review.wedding %>Weddings &nbsp;<% end %>
    <% if @review.retreat %>Retreats &nbsp;<% end %>
  </div>
<% end %>
