<div class="container-fluid" style="margin-top: 20px;">
  <div class="row">
    <div class="col-sm-12">
      <h1>Venues</h1>
      <table class="table table-hover">
        <thead>
          <tr>
            <th>Venue</th>
            <th>Billing Plan</th>
            <th>Status</th>
            <th>Location</th>
            <th>Categories</th>
            <th>Pageviews</th>
            <th>Admins</th>
            <th>Total RFPs</th>
          </tr>
        </thead>
        <tbody>
          <% @venues.each do |venue| %>
            <tr>
              <td><%= link_to venue.name, backoffice_venue_path(venue) %></td>
              <td><%= venue.billing_plan.name %></td>
              <td><%= venue.status %></td>
              <td><%= venue.city %>, <%= venue.state.abbrev %></td>
              <td><%= venue.venue_types.map(&:name).sort.join(", ") %></td>
              <td><%= venue.pageviews %></td>
              <td><%= venue.admins.count %></td>
              <td><%= venue.rfps.count %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
      <%= will_paginate @venues %>
    </div><!-- .col s12 -->
  </div><!-- .row -->
</div> <!-- .container -->
