
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12">
      <div style="margin: 20px 0;">
        <%= link_to '<< Back to Venues', backoffice_venues_path %>
      </div>

      <h1><%= @venue.name %></h1>
    </div><!-- col-sm-12 -->
  </div><!-- .row -->
  <div class="row">
    <div class="col-sm-12">
      <h2>Admins <small>(<%= @admins.count() %>)</small></h2>
      <table class="table table-hover">
        <thead>
          <tr>
            <th>Name</th>
            <th>Title</th>
            <th>Email</th>
            <th>Created At</th>
            <th>Last Login</th>
          </tr>
        </thead>
        <tbody>
          <% @admins.each do |a| %>
            <tr>
              <td><%= a.first_name %> <%= a.last_name %></td>
              <td><%= a.title %></td>
              <td><%= a.email %></td>
              <td><%= a.created_at %></td>
              <td><%= a.last_sign_in_at %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div><!-- col-sm-12 -->
  </div>
  <div class="row">
    <div class="col-sm-12">
      <h2>RFPs <small>(<%= @rfps.count() %>)</small></h2>
      <table class="table table-hover">
        <thead>
          <tr>
            <th>ID</th>
            <th>Date Added</th>
            <th>Event Type</th>
            <th>Event Date</th>
            <th>Customer</th>
            <th>Guests</th>
            <th>Budget</th>
            <th>Hotel?</th>
            <th>Flight?</th>
            <th>Status</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <% @rfps.each do |rfp| %>
            <tr>
              <td><%= rfp.id %></td>
              <td><%= rfp.created_at %></td>
              <td><%= rfp.event_type.name %></td>
              <td><%= rfp.desired_date %></td>
              <td><%= rfp.first_name %> <%= rfp.last_name %></td>
              <td><%= rfp.num_guests %></td>
              <td><%= rfp.max_budget %></td>
              <td><%= rfp.need_flight %></td>
              <td><%= rfp.overnight_needed %></td>
              <td>
                <%= rfp.external_rfp_status.name %><br>
                <%= rfp.rfp_status.name %>
              </td>
              <td>
                <%= link_to("Delete", backoffice_rfp_path(rfp), method: :delete, remote: true, data: { confirm: 'Are you sure?'} ) %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div><!-- .row -->
</div><!-- .container -->
