// Place all the styles related to the Account/Quotes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#new-quote-header {
  margin: 20px 0;
  font-size: 12px;
  line-height: 1.3em;
  h1 {
    font-style: normal;
  }
  .venue-name{
    font-size: 14px;
    font-weight: 600;
    margin-top: 20px;
  }

}

#new-quote-form {
  padding: 20px 0 20px;

}

.new-quote-image {
  margin-top: 20px;
}
