// Place all the styles related to the Account/Reviews controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#new-review-header {
  margin: 20px 0;
  font-size: 16px;
  line-height: 1.3em;
  h1 {
    font-style: normal;
  }
  .venue-name{
    font-size: 18px;
    font-weight: 600;
  }

}

#new-review-form {
  padding: 100px 0 20px;

}

.new-review-image {
  margin-top: 20px;
}
