<% content_for :page_title do %>
  About VenueCenter
<% end %>
<% content_for :page_description do %>
    VenueCenter is a one-stop shop for finding the perfect venue for your next event. With venues in Dallas, Houston, Austin, San Antonio and New Orleans, we can help you find 
a venue that meets your exact needs.
<% end %>
<% content_for :page_keywords do %>
 About VenueCenter, dallas event venues, austin event venues, houston event venues, san antonio event venues, new orleans event venues
<% end %>
<div class="container" style="margin-top: 30px; margin-bottom: 30px;">
  <div class="row">
    <div class="col-sm-12">
      <h1>About VenueCenter</h1>
      <p>
        VenueCenter is an online tool that helps people find the perfect venue to meet their needs! Our comprehensive online database provides an assortment of venue types all across the
        United States with pictures and amenities/features for each venue clearly displayed--we want to take the hassle out of the venue finding process and make the process more efficient.
      </p>  
      <p>We are headquartered in Dallas, Texas and started this business to be the go to source for venue selections no matter the event type. We applied all of our industry knowledge and
        know-how to identify the very best venues. We hope you enjoy!
      </p>
    </div>
  </div>
</div>
