<% content_for :page_title do %>
  Contact VenueCenter for all your event planning needs
<% end %>
<% content_for :page_description do %>
  Contact VenueCenter for all your event planning needs
<% end %>

<div class="container" style="margin-top: 30px; margin-bottom: 30px;">
  <div class="row">
    <div class="col-sm-6">
      <div id="contact-image"></div>
      311 N Market St, Floor 2<br>
      Dallas, TX 75202<br>
      Phone: 214-308-2033<Br>
      Fax: 214-308-2044<br>
      Toll Free: (888) 511-2033<br>
      <%= mail_to 'hello@venuecenter.com' %>
    </div>
    <div class="col-sm-6">
      <h1>Contact Us</h1>
      <p>Need to get in contact with us? Fill out the form below and a member of our team will get back to you shortly.</p>
      <%= form_for @contact_form , url: '/process-contact' do |f|%>
      <% if !@contact_form.errors.empty? %>
          <div id="error_explanation">
            <h2><%= pluralize(@contact_form.errors.count, "error") %> prohibited this request from being processed:</h2>
            <ul>
              <% @contact_form.errors.full_messages.each do |message| %>
              <li><%= message %></li>
              <% end %>
            </ul>
          </div>
        <% end %>
        <div class="form-group">
          <%= f.label :name, 'Name' %>
          <%= f.text_field :name, { class: 'form-control', required: true } %>
        </div>
        <div class="form-group">
          <%= f.label :email %>
          <%= f.email_field :email, { class: 'form-control', required: true } %>
        </div>
        <div class="form-group">
          <%= f.label :phone, 'Phone Number' %>
          <%= f.text_field :phone, { class: 'form-control', required: true } %>
        </div>
        <div class="form-group">
          <div class="col-sm-6 npl">
            <%= f.label :city %>
            <%= f.text_field :city,{ class: 'form-control', required: true } %>
          </div>
        </div>
        <div class="form-group">
          <div class="col-sm-6 npl">
            <%= f.label :state %>
            <%= f.text_field :state, { class: 'form-control', required: true } %>
          </div>
        </div>
        
        <div class="form-group">
          <%= f.label :message, 'Message' %>
          <%= f.text_area :message, { class: 'form-control', required: true } %>
        </div>
        <div class="acenter">
          <input type="submit" value="Submit" class="btn btn-success">
        </div>
      <% end %>
      
    </div>
  </div>
</div>
