<% content_for :page_title do %>
 Frequently Asked Questions
<% end %>
<% content_for :page_description do %>
  VenueCenter Frequently Asked Questions. Learn more about how VenueCenter works
<% end %>
<div class="container" style="margin-top: 30px;">
  <div class="row">
    <div class="col-sm-12">
      <h1 style="margin-bottom: 20px;">Frequently Asked Questions</h1>
      <h3>How can I create my own user account?</h3>
      <p>
        To create your own user account you must first click the sign up link. Once you are directed to the sign up page please enter the following: first and last name (required), email address (required), password and re-enter password (required). Once this registration form is finished please click submit. Our system will automatically send a verification email to confirm that all the information that you have entered is correct. After registration is complete you will be directed back to the home page.
      </p>
      <h3>How can I pay for additional services for my profile?</h3>
      <p>
        If you are a venue and would like to pay for additional enhancements to your profile page, please follow the steps to claim your venue by clicking here: <%= link_to 'Claim Venue', '/biz' %>.
      </p>
      <h3>How can I be sure viewers will be able to contact me?</h3>
      <p>
        To update, change, or remove information from your venue page please register and claim your venue by clicking here: <%= link_to 'Claim Venue', '/biz' %>.
      </p>
      <h3>I already have an account, but cannot log into my profile</h3>
      <p>
        Please follow the instructions to reset your password. If the problem persists please contact our customer service department for special instructions at <%= mail_to 'admin@venuecenter.com' %>.
      </p>
    </div><!-- .col-sm-12 -->
  </div><!-- .row -->
</div><!-- .container-fluid -->
