<% content_for :page_title do %>
  Find Venues for Weddings, Parties, Corporate Events, and more
<% end %>
<% content_for :page_description do %>
  VenueCenter has a collection of the best wedding venues, meeting rooms, unique venues, and corporate event venues to host your next event.
<% end %>
<% content_for :page_keywords do %>
  wedding venues, birthday party venues, find venues, corporate meeting venues, corporate event venues, unique venues, office space
<% end %>
<% content_for :page_head do %>
  <meta name="p:domain_verify" content="759c6ff80b5598242e5812f639e33080"/>
  <meta name="google-site-verification" content="wvPNs_RackG_FBmD5uGZj0RvSUfxFqoAPuq6nZa3Fn0" />
  <meta name='B-verify' content='abe9a111b381df77646f9f112f629685108f81ec' />
<% end %>


  <div id="carousel-example-generic" class="carousel slide" data-ride="carousel" style="height: 428px;">
          <!-- Indicators -->
          <ol class="carousel-indicators">
            <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
            <li data-target="#carousel-example-generic" data-slide-to="1"></li>
            <li data-target="#carousel-example-generic" data-slide-to="2"></li>
            <li data-target="#carousel-example-generic" data-slide-to="3"></li>
            <li data-target="#carousel-example-generic" data-slide-to="4"></li>
            <li data-target="#carousel-example-generic" data-slide-to="5"></li>
            <li data-target="#carousel-example-generic" data-slide-to="6"></li>

          </ol><!-- .carousel-indicators -->

          <!-- Wrapper for slides -->
          <div class="carousel-inner" role="listbox">
            <div class="item active" style="background-image: url('https://res.cloudinary.com/venuecenter/image/upload/v1443197750/hm-1_ci92ca.jpg');">

              <div class="carousel-caption">

              </div>
            </div>
            <div class="item" style="background-image: url('https://res.cloudinary.com/venuecenter/image/upload/v1443197749/hm-2_x01qyy.jpg');">
              <div class="carousel-caption">

              </div>
            </div>
            <div class="item" style="background-image: url('https://res.cloudinary.com/venuecenter/image/upload/v1443197750/hm-3_pycdqc.jpg');">

              <div class="carousel-caption">

              </div>
            </div>
            <div class="item" style="background-image: url('https://res.cloudinary.com/venuecenter/image/upload/v1443197750/hm-4_uahbig.jpg');">

              <div class="carousel-caption">

              </div>
            </div>
            <div class="item" style="background-image: url('https://res.cloudinary.com/venuecenter/image/upload/v1443197750/hm-5_b8jnjx.jpg');">

              <div class="carousel-caption">

              </div>
            </div>
            <div class="item" style="background-image: url('https://res.cloudinary.com/venuecenter/image/upload/v1443197751/hm-6_yx65m4.jpg');">

              <div class="carousel-caption">

              </div>
            </div>
            <div class="item" style="background-image: url('https://res.cloudinary.com/venuecenter/image/upload/v1443197752/hm-7_dslpkv.jpg');">

              <div class="carousel-caption">

              </div>
            </div>
          </div><!-- .carousel-inner -->

          <div class="container-fluid">
            <div class="row">
                <div class="col-xs-6 col-xs-offset-3 col-sm-8 col-sm-offset-2 home-search-form acenter">
                  <h1>Find the perfect venue for your next event</h1>
                    <%= form_tag("/search", method: "get", class: 'form-inline', role: 'form', id: 'searchForm') do %>
                      <div class="form-group">
                        <div class="input-group xs-mb-20">
                          <%= select_tag(:event_type, options_from_collection_for_select(EventType.order(:name), :slug, :name), { prompt: 'Event Type', class: 'form-control'}) %>
                        </div>
                        <div class="input-group xs-mb-20">
                          <%= text_field_tag(:loc, '', { class: 'form-control', placeholder: 'Location' }) %>
                        </div>
                        <div class="input-group xs-mb-20">
                          <%= number_field_tag(:g, nil, { placeholder: 'Number of Guests', class: 'form-control' }) %>
                        </div>
                        <input type="submit" value="Find My Venue" class="btn btn-success" style="font-weight: 600; height: 40px;">
                      </div>
                    <% end %>
                </div><!-- .home-search-form -->
            </div><!-- .row -->
          </div><!-- .container-fluid -->

          <!-- Controls -->
          <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev" style="padding-top: 220px;">
            <span class="fa fa-chevron-left" aria-hidden="true" style="font-size: 20px;"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next" style="padding-top: 220px;">
            <span class="fa fa-chevron-right" aria-hidden="true" style="font-size: 20px;"></span>
            <span class="sr-only">Next</span>
          </a>

        </div><!-- .carousel-example-generic -->
  <div class="container">
    <div class="row" style="padding-top: 20px;">
      <div class="col-sm-12">
        <h2 class="home-special">It's as easy as 1-2-3</h2>
      </div><!-- .col-sm-12 -->
    </div><!-- .row -->
    <div class="row" style="margin-top: 20px; margin-bottom: 20px;">
      <div class="col-xs-12 col-sm-4 home-3up">
        <i class="fa fa-search home-icon"></i><br>
        <h2 class="green">Search It</h2>
        <p>Search for venues by location, type, size and many more options.</p>
      </div><!-- .col-sm-4 -->
      <div class="col-xs-12 col-sm-4 home-3up">
        <i class="fa fa-usd home-icon"></i><br>
        <h2 class="green">Price It</h2>
        <p>Request a pricing quote from the venues that meet your criteria.</p>
      </div><!-- .col-sm-4 -->
      <div class="col-xs-12 col-sm-4 home-3up">
        <i class="fa fa-thumbs-up home-icon"></i><br>
        <h2 class="green">Book It</h2>
        <p>Work directly with the venue manager to book the space for your special event.</p>
      </div><!-- .col-sm-4 -->
    </div><!-- .row -->
  </div><!-- .container -->
  <div class="container-fluid" style="background: #000; margin-top: 20px;">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 acenter" style="color: #fff; font-size: 16px;">
          <!-- Begin MailChimp Signup Form -->
          <div id="mc_embed_signup">
            <form action="//venuecenter.us8.list-manage.com/subscribe/post?u=967795607eb167aa8a3cf34b3&amp;id=7b7c0440ed" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
              <div id="mc_embed_signup_scroll">
                <div class="form-group col-xs-12 col-sm-6" style="margin-top: 20px; display: inline-flex;">
                  <span class="acenter">Stay up to date with the latest VenueCenter news</span>
                </div>
                <div class="col-xs-12 col-sm-6 hm-newsletter-signup-fields">
                  <input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL" placeholder="Email Address" required style="
                   padding: 6px 12px; font-size: 14px; color: #000;">

                  <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="btn btn-success hm-newsletter-join" style="border-radius: 0; margin: -1px 0 0 -5px;">

                  <div id="mce-responses">
                    <div class="response" id="mce-error-response" style="display:none"></div>
                    <div class="response" id="mce-success-response" style="display:none"></div>
                  </div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                  <div style="position: absolute; left: -5000px;"><input type="text" name="b_967795607eb167aa8a3cf34b3_7b7c0440ed" tabindex="-1" value=""></div>
                </div>
              </div>
            </form>
          </div>

          <!--End mc_embed_signup-->
        </div>
      </div>
    </div>
  </div>
  <div class="container" style="margin-top: 20px; padding-top: 20px; padding-bottom: 40px;">
    <div class="row">
      <div class="col-sm-12">
        <h2 class="home-section"><i class="fa fa-building"></i> Browse by City</h2>
        <div class="row">
          <div class="col-sm-12 col-md-4 acenter">
            <div class="home-cities austin">
              <%= link_to 'Austin', city_search_path(city: 'austin', state:'tx') %>
            </div>
          </div>
          <div class="col-sm-12 col-md-4 acenter">
            <div class="home-cities dallas">
              <%= link_to 'Dallas', city_search_path(city: 'dallas', state:'tx') %>
            </div>
          </div>
          <div class="col-sm-12 col-md-4 acenter">
            <div class="home-cities houston">
              <%= link_to 'Houston', city_search_path(city: 'houston', state:'tx') %>
            </div>
          </div>
        </div>
        <div class="col-sm-12 centered" style="margin: 20px 0;">
          <%= link_to 'See all cities we serve', cities_home_path, { style: 'font-size: 18px;'} %>
        </div>
      </div>
    </div><!-- .row -->
  </div><!-- .container -->
  <% if !@blogs.nil? %>
  <div class="container">
	<div class="row">
  	<div class="col-sm-12">
    	<h2 class="home-section"><i class="fa fa-rss-square"></i> Latest Articles</h2>
    	<div class="row">
      	<% @blogs.each do |blog| %>
        	<div class="col-sm-4 blog-post">

            	<div class="blog-content centered">
              	<%= blog.description.gsub("width:auto !important; max-width:50%; float:left;", "").html_safe %>

            	</div><!-- .blog-content -->
            	<h3 class="blog-title" style="font-size: 1.3em;"><%= link_to blog.title, blog.link %></h3>
        	</div><!-- .blog-post -->
      	<% end %>
    	</div><!-- .row -->
  	</div><!-- col-sm-12 -->
	</div><!-- .row -->
  </div><!-- .container -->
  <% end %>
