<% content_for :page_title do %>
  Privacy Policy
<% end %>
<% content_for :page_description do %>
  VenueCenter Privacy Policy. We take your privacy very serious.
<% end %>
<div class="container">
  <div class="row">
    <div class="col-sm-12" style="margin-top: 30px; margin-bottom: 30px;">
      <h1>Privacy Policy</h1>
      <p>Effective date: August 6, 2014</p>
      <p>We at VenueCenter know you care about how your personal information is used and shared, and we take your privacy seriously. Please read the following to learn more about our Privacy Policy.
        By using or accessing the website in any manner, you acknowledge that you accept the practices and policies outlined in this Privacy Policy, and you hereby consent that we will collect, use,
        and share your information in the following ways. Remember that your use of VenueCenter's website is at all times subject to the <%= link_to 'Terms of Service', 'tos' %>, which incorporates
        this Privacy Policy. Any terms we use in this Privacy Policy without defining them have the definitions given to them in the <%= link_to 'Terms of Service', '/tos' %>.</p>

        <h4>What does this Privacy Policy cover?</h4>
      <p>This Privacy Policy covers our treatment of personal information such as name, email address
        and location information ("Personal Information") that we gather when you are accessing or using our Website, but not to the practices of companies we don't own or control, or people that we
        n't manage. We gather various types of Personal Information from our users, as explained in more detail below, and we use this Personal Information internally in connection with our Website,
        including to personalize and improve our website, to allow you to set up a user account and profile, to contact you and allow other users to contact you, to fulfill your requests for certain
        products and website, to provide and improve the services provided on our site, and to analyze how you use the Website. In certain cases, we may also share some Personal Information with third
        parties, but only as described below.</p>

      <p>As noted in the <%= link_to 'Terms of Service', '/tos' %>, we do not knowingly collect or solicit personal information from anyone under the age of 13. If you are under 13, please do not
        attempt to register for the Website or send any personal information about yourself to us. If we learn that we have collected personal information from a child under age 13, we will delete
        that information as quickly as possible. If you believe that a child under 13 may have provided us personal information, please contact us at <%= mail_to 'support@venuecenter.com' %>.</p>

        <h4>What Information does VenueCenter Collect?</h4>
      <p>VenueCenter collects personal information when you install or register with VenueCenter
        and when you use VenueCenter products or website. For example, through the registration process and/or through your account settings, we may collect Personal Information such as your name,
        email address, phone number, location information, unique device identifier, and third-party account credentials (for example, your log-in credentials for Facebook or other third party sites).
        If you provide your third-party account credentials to us, you understand some content and/or information in those accounts ("Third Party Account Information") may be transmitted into your
        account with us if you authorize such transmissions, and that Third Party Account Information transmitted to our Website is covered by this Privacy Policy; for example, if you provide us
        account information about your Facebook account, we will be able to access your basic information on Facebook or if you provide us account information about your Instagram account, we will
        be able to access information from your Instagram account. Certain information may be required to register with us or to take advantage of some of our Website or features.</p>

      <p>VenueCenter also collects information using "cookies" and other technologies such as pixel tags and web beacons. These technologies help us better understand user behavior, tell us which
        parts of our Website people have visited, and facilitate and measure the effectiveness of web searches. We treat information collected by cookies and other technologies as non-Personal
        Information. However, to the extent that Internet Protocol (IP) addresses or similar identifiers are considered Personal Information by local law, we also treat these identifiers as Personal
        Information. Similarly, to the extent that non-Personal Information is combined with Personal Information, we treat the combined information as Personal Information for the purposes of this
        Privacy Policy.</p>

      <p>VenueCenter may also use cookies and other technologies to remember Personal Information when you use our website, online services, and applications. Our goal in these cases is to make your
        experience with VenueCenter more convenient and personal.</p>
      <p>If you want to disable cookies and you're using the Safari web browser, go to Safari preferences and then to the privacy pane to disable cookies. On an Apple mobile device, go to Settings,
        then Safari, and then to the Cookies section. For other browsers, check with your provider to find out how to disable cookies. Please note that certain features of VenueCenter's website may
        not be available once cookies are disabled.</p>
      <p>As is true of most websites, we gather some information automatically and store it in log files. This information includes Internet Protocol (IP) addresses, browser type and language, Internet
        service provider (ISP), referring and exit pages, operating system, date/time stamp, and clickstream data. We use this information to understand and analyze trends, to administer the site, to
        learn about user behavior on the site, and to gather demographic information about our user base as a whole.</p>

      <p>We also use this information to personalize the VenueCenter service for you, including predicting whether you are likely to be at home or at work and what apps you may be interested in at a
        particular time of day. We also use this information to suggest new applications that may interest you.</p>

      <p>We may communicate with you if you've provided us the means to do so. For example, if you've given us your email address, we may send you promotional email offers on behalf of other
        businesses, or email you about your use of the Website. Also, we may receive a confirmation when you open an email from us by using a web beacon. This confirmation helps us make our
        communications with you more interesting and improve our website. If you do not want to receive communications from us, please indicate your preference by emailing us at
        <%= mail_to 'support@venuecenter.com' %>.</p>

      <p>We also use this data in aggregate form, and not in a manner that would identify you personally, in order to optimize the Website generally. For example, aggregated data can tell us how often
        users use a particular feature of the Website, and we can use that knowledge to make the Website interesting to as many users as possible.</p>
        <h4>Will VenueCenter Share Any of the Personal Information it Receives?</h4>
      <p>We respect your privacy; therefore we neither rent nor sell
        your Personal Information with any third parties. Any information collected through our Website is intended to be used for this transaction only and your personal information is secured via
        SSL (Secure Socket Layer) Technology. Further, any Personal Information that is in personally identifiable form that is shared with third parties or non-affiliated companies is only done
        so to provide products or services you've requested, when we have your permission or under the following circumstances:</p>

      <p>Aggregated Personal Information that's no longer personally identifiable. We may anonymize your Personal Information so that you are not individually identified, and provide that information
        to our partners. We may also provide aggregate usage information to our partners, who may use such information to understand how often and in what ways people use our Website, so that they,
        too, can provide you with an optimal online experience. However, we never disclose aggregate information to a partner in a manner that would identify you personally, as an individual.</p>

      <p>Affiliated Businesses: In certain situations, businesses or third party websites we're affiliated with may provide products or website to you through or in connection with the Website
        (either alone or jointly with us). You can recognize when an affiliated business is associated with such a transaction or service, and we will share your Personal Information with that
        affiliated business only to the extent that it is related to such transaction or service. We have no control over the policies and practices of third party websites or businesses as to
        privacy or anything else, so if you choose to take part in any transaction or service relating to an affiliated website or business, please review all such businesses' or websites' policies.</p>

      <p>Business Transfers: We may choose to buy or sell assets. In these types of transactions, customer information is typically one of the business assets that would be transferred. Also, if
         we (or our assets) are acquired, or if we go out of business, enter bankruptcy, or go through some other change of control, Personal Information could be one of the assets transferred
         to or acquired by a third party.</p>

      <p>Protection of VenueCenter and Others: We reserve the right to access, read, preserve, and disclose any information that we reasonably believe is necessary to comply with law, subpoena
         or court order; enforce or apply our <%= link_to 'Terms of Service', '/tos' %> and other agreements; investigate, prevent or take action regarding illegal activities or suspected fraud;
         or protect the rights, property, or safety of VenueCenter, our employees, our users, or others.</p>

      <h4>Is Personal Information about me secure?</h4>
      <p>
        Your account is protected by a password or other authentication for your privacy and
        security. You must prevent unauthorized access to your account and Personal Information by selecting and protecting your password or other authentication appropriately and limiting access
         to your computer or device and browser by signing off after you have finished accessing your account.</p>

      <p>We endeavor to protect the privacy of your account and other Personal Information we hold in our records, and we have physical, electronic and procedural safeguards that comply with federal
        regulations to protect personal information about you.</p>
        <h4>What Personal Information can I access?</h4>
      <p>
        Under California Civil Code Sections 1798.83-1798.84, California residents are entitled to
        ask us for a notice identifying the categories of Personal Information which we share with our affiliates and/or third parties for marketing purposes, and providing contact information for
        such affiliates and/or third parties. If you are a California resident and would like a copy of this notice, please submit a written request to: <%= mail_to 'support@venuecenter.com' %>.</p>
        <h4>How can I delete information?</h4>
      <p>You may request deletion of your Personal Information by emailing customerservice@venuecenter.com.
        Aggregated information may remain in our records after deletion of such Personal Information from your account. We may use any aggregated data derived from or incorporating your Personal
        Information after you update or delete it, but not in a manner that would identify you personally.</p>
        <h4>Will VenueCenter ever change this Privacy Policy?</h4>
      <p>We're constantly trying to improve our Website, so we may update this policy.
        We will notify you about significant changes in the way we treat personal information by sending a notice to the email address you have provided or by placing a prominent notice on our site.</p>
        <h4>What if I have questions about this policy?</h4>
      <p>If you have any questions or concerns regarding our privacy policies, please send us
        a detailed message to <%= mail_to 'support@venuecenter.com' %>, and we will try to resolve your concerns.</p>

      <p>Effective Date: August 6, 2014</p>
    </div><!-- .col-sm-12 -->
  </div><!-- .row -->
</div><!-- .container -->
