<% content_for :page_title  do %>
  Terms of Service
<% end %>
<% content_for :page_description do %>
  VenueCenter Terms of Service. Learn more about how VenueCenter works.
<% end %>
<div class="container">
  <div class="row">
     <div class="col-md-12" style="margin-top: 30px; margin-bottom: 30px;">
      <h1>Terms of Service</h1>
      <p>
        These terms and conditions of use ("Terms") govern your access to and use of the MBK Investment Group LLC d/b/a VenueCenter ("VenueCenter") website, available at
        www.venuecenter.com, as well as any other websites and mobile applications owned and/or operated by VenueCenter (collectively, the "Site"). By accessing and/or
        using the Site, you agree to the terms and provisions set forth below and in the <%= link_to 'Privacy Policy', '/privacy' %>. "You" and "your" refer to you, as a user of the Site. A "user"
        is someone who accesses, browses, crawls, or in any way uses the Site. "We," "us," and "our" refer to VenueCenter.
      </p>
      <h4>Modification or Termination of Terms of Service</h4>
      <p>
        We may modify or eliminate, in whole or in part, these Terms from time to time in our sole discretion without giving prior notice to you. Each time you use or
        access the Site, you are deemed to have accepted any such modifications. All modified terms and conditions shall take effect immediately after posting to the Site.
        We encourage you to review this page periodically because any changes will be binding on you. These Terms may not be modified, amended, and/or changed by you in
        any manner.
      </p>
      <h4>User Accounts</h4>
      <p>You must create an account and provide certain information about yourself in order to use the features that are offered through the Site. You are responsible for
      maintaining the confidentiality of your account password. You are also responsible for all activities that occur in connection with your account. You agree to notify
       us immediately of any unauthorized use of your account. We reserve the right to close your account at any time for any or no reason. By creating an account, you
       agree to receive certain communications in connection with the Site. For example, you will receive our weekly e-mail newsletter about venues listed on our Site.
       You can opt-out of non-essential communications.</p>
       <h4>Use of Site</h4>
       <p>
         You must create an account and provide certain information about yourself in order to use the features that are offered through the Site. You are responsible for
         maintaining the confidentiality of your account password. You are also responsible for all activities that occur in connection with your account. You agree to
         notify us immediately of any unauthorized use of your account. We reserve the right to close your account at any time for any or no reason. By creating an account,
          you agree to receive certain communications in connection with the Site. For example, you will receive our weekly e-mail newsletter about venues listed on our
          Site. You can opt-out of non-essential communications.
       </p>
       <p>
         The Site may also contain user-submitted videos, review boards, interactive forums and/or other message or communication facilities designed to enable you to
         communicate with Site participants. You agree to use the Site only to send and receive messages, material or content that is proper and related to the Site. By
         way of example, and not as a limitation, you agree that you will not post or otherwise disseminate on or through the Site that:
       </p>
       <ol>
         <li>is harassing, defamatory, libelous, tortious, offensive, vulgar, profane, violent, threatening, obscene, indecent, or unlawful or otherwise inappropriate
           for a general audience;</li>
        <li>infringes or violates any copyright, trademark, trade secret, right of privacy, or any other proprietary or intellectual property right of any third party;</li>
        <li>contains any third party's identification documents or sensitive financial information;</li>
        <li>constitutes "stalking" or any other form of harassment, bullying, or intimidation;</li>
        <li>constitutes a criminal offense, gives rise to civil liability or otherwise violate any applicable law or that may result in a third-party claim against, or
          civil or criminal liability to us or one or more of our affiliates;</li>
        <li>constitutes hate propaganda or hate mongering, swearing, or fraudulent material or activity;</li>
        <li>advertises, promotes, sells, offers to sell, solicits, or offers to buy any goods or services for any commercial purpose unless the Site specifically allows
          for such activity;</li>
        <li>relates to any raffles or sweepstakes unless the Site specifically allows for such activity;</li>
        <li>relates to any pyramid schemes or chain letters;</li>
        <li>attempts to harvest or otherwise collect information about others (including e-mail addresses and/or log-in information) without their consent and our
          express written consent;</li>
        <li>contains a virus, trap door, hidden sequence, hot keys, time bomb, other disabling code or other harmful component;</li>
        <li>disrupts the normal functioning of the Site; or</li>
        <li>is inconsistent with our public image, goodwill and reputation, these terms, or any other applicable law or regulation.</li>
      </ol>
      <p>
        You also agree that when you access the Site you will not:
      </p>
      <ol>
        <li>book a reservation or place an order for the same date, time and event with more than one vendor for the same service;</li>
        <li>download or access any file posted by another user that you know, or reasonably should know, cannot be legally distributed in such manner;</li>
        <li>falsify or delete any author attributions, legal or other notices or proprietary designations or labels of the origin or source of software or other material that is uploaded;</li>
        <li>launch any automated system, software or device, including without limitation, "robots," "spiders," and "offline readers," that accesses the Site without our express written permission;</li>
        <li>take any action that imposes, or may impose in our sole discretion an unreasonable or disproportionately large load on our infrastructure;</li>
        <li>restrict or inhibit any other user from using and enjoying the Site; or</li>
        <li>violate any applicable laws or regulations.</li>
      </ol>
        <p>
          We reserve the right to remove any information, content or materials that we decide (in our sole discretion) are objectionable or in violation of these Terms. We may also disclose any
          information provided within the Site or otherwise known to us in order to satisfy any law, regulation, legal process or governmental request. We may terminate your access to any or all of the
          Site at any time without notice for any reason whatsoever.
        </p>
        <p>If your booking or account shows signs of fraud, abuse or suspicious activity, VenueCenter may cancel any bookings associated with your email address or account, and close any associated
          accounts. If you have conducted any fraudulent activity, VenueCenter reserves the right to take any necessary legal action and you may be liable for monetary losses to VenueCenter, including
          litigation costs and damages. To contest the cancellation of a booking or freezing or closure of an account, please contact customer service at <%= mail_to 'support@venuecenter.com' %>.
        </p>
        <h4>Third Party Websites</h4>
        <p>The Site may link to various websites ("Third Party Websites") operated by organizations other than VenueCenter. In addition, certain Third Party Websites also may provide links to the Site.
          These Third Party Websites are not under our control, and the inclusion of any link to or from our web site does not imply endorsement or sponsorship of the site by us. Further, we provide
          links to Third Party Websites to you only as a convenience. If you choose to use a Third Party Website, you will leave the Site and you are responsible for viewing and abiding by the privacy
          statements and terms of use of the Third Party Websites.
        </p>
        <p>
          We do not control and are not responsible or liable for any Third Party Websites or any content, advertising or other materials on or available from Third Party Websites. We make no warranty
           or representation regarding any Third Party Site or the information appearing thereon or any of the products or services described thereon.
        </p>
        <p>
          When you use a Third Party Website, you do so at your own risk. We will have no liability arising out of or related to Third Party Websites and/or their content, or for any damages or loss
          caused or alleged to be caused by or in connection with any purchase, use of or reliance on any such content, goods, or services available on or through any Third Party Website. Any dealings
          that you have with Third Party Websites, including the delivery of and the payment for goods and services, and any other terms, conditions, warranties or representations associated with such
          dealings are solely between you and the third party.
        </p>
        <h4>Mapping Services</h4>
        <p>
          Your use of mapping available on this Site is governed by the Microsoft Terms of Use and Microsoft Privacy Statement and the Google Terms of Use and Google Privacy Statement. Microsoft and
          Google reserve the right to change their Terms of Use and Privacy Statements at any time, at their sole discretion. Please click here for additional information:
        </p>
        <ul>
          <li><a href="http://privacy.microsoft.com/en-us/default.mspx">http://privacy.microsoft.com/en-us/default.mspx</a></li>
          <li><a href="http://www.microsoft.com/maps/assets/docs/terms.aspx">http://www.microsoft.com/maps/assets/docs/terms.aspx</a></li>
          <li><a href="http://www.google.com/privacy/privacy-policy.html">http://www.google.com/privacy/privacy-policy.html</a></li>
          <li><a href="http://www.google.com/enterprise/earthmaps/legal/us/maps_AUP.html">http://www.google.com/enterprise/earthmaps/legal/us/maps_AUP.html</a></li>
          <li><a href="http://www.maps.google.com/help/legalnotices_maps.html">http://www.maps.google.com/help/legalnotices_maps.html</a></li>
          <li><a href="http://maps.google.com/help/terms_maps.html">http://maps.google.com/help/terms_maps.html</a></li>

        </ul>
        <h4>Mobile</h4>
        <p>We currently provide access to the Site on mobile for free, but please be aware that your carrier's normal rates apply apply.</p>
        <h4>Fees</h4>
        <p>
          There are currently no minimum fees required to list venues on the Site; however, certain optional fee-based services are available but participation is not mandatory and users must choose to
          opt into additional paid services ("Premium Services"). VenueCenter may list the prices for these Premium Services on the Site, but it reserves the right to change these prices and to offer
           discounts and temporary promotions. If applicable, based on the various optional fee-based programs, you irrevocably and expressly authorize VenueCenter to debit or credit, as applicable, any
           monies to the account that you have identified for VenueCenter.
        </p>
        <p>You agree that it is your responsibility to maintain a valid, non-expired credit card on file with us while engaging in Premium Services on our Site. You agree that if you do not maintain a
          valid, non-expired card on file with us during any billing attempt, you may be subject to interest and penalties as enumerated below. You irrevocably and expressly authorize VenueCenter to
          withhold any monies and/or debit any monies from any account that you have identified to VenueCenter for any charge backs, fees, costs, deductions, adjustments and any other amounts owed to
          VenueCenter. We reserve our rights to all actions and remedies in connection with any monies owed to VenueCenter. You will indemnify, defend and hold us harmless for any claims, demands or
          causes of actions that we take toward any identified account pursuant to this Section. You also agree to pay any attorney fees, and other costs of collection incurred by us with respect to any
          unpaid fees. You also consent and authorize us, in our sole discretion, to make appropriate reports to credit reporting agencies, financial institutions, tax agencies and law enforcement
          authorities, and cooperate with them in any resulting investigation or prosecution. In the event you believe that VenueCenter has charged you in error, you must contact VenueCenter customer
          service at <%= mail_to 'support@venuecenter.com' %> within 60 days after such charge. No refunds will be given for any charges which are more than 60 days old.
        </p>
        <p>
          VenueCenter uses Authorize.net as its third party service providers for payment services (e.g. card acceptance, merchant settlement, and related services). By making use of some or all of these payment
          services on the Site you agree to be bound by Authorize.net's terms and conditions (available at <a href="http://www.authorize.net/company/terms">http://www.authorize.net/company/terms</a> along with its privacy policy:
          <a href="http://www.authorize.net/company/privacy">http://www.authorize.net/company/privacy</a>) and hereby consent and authorize us to delegate the authorizations and share the information you provide to us with the abovementioned third party
          service provider(s) to the extent required to provide the Payment Services to you.
        </p>
        <h4>Refunds</h4>
        <p>
          If at any point you are unhappy with the Premium Services offered on the Site and would like to cancel your subscription of Premium Services, you can cancel and revise your account through the "Dashboard" portion of the Site. Once you terminate
          your subscription of the Premium Services, VenueCenter will no longer charge the card on file and you will receive a refund of the pro-rated portion of the current month. If you have any
          questions with respect to the cancellation of Premium Services, please contact VenueCenter customer service at <%= mail_to 'support@venuecenter.com' %>.
        </p>
        <h4>License to VenueCenter</h4>
        <p>
          If you communicate, provide, or submit any content ideas, comments, communications, or other information or materials (collectively "Materials") to us, we have no obligation or duty to post or
          use such Materials. All Materials submitted or communicated by you to us ("Submissions") are communicated, provided, or submitted to us without any restrictions on use or expectation of
          confidentiality. By communicating with us or making Submissions, you thereby grant (or warrant that the owner of such materials has expressly granted) to us an non-exclusive, royalty-free,
          transferable, sub-licensable, worldwide right and license to use, reproduce, modify, adapt, distribute, sublicense, publicly perform and display any Submissions, without any compensation or
          other obligation to you whatsoever. We may modify or adapt your Submissions in order to transmit, display or distribute it over computer networks and in various media and/or make changes to
          your Submissions as are necessary to conform and adapt those Submissions to any requirements or limitations of any networks, devices, services or media.
        </p>
        <p>
          The foregoing grant includes the right to exploit any proprietary rights in such communication, including but not limited to rights under copyright, trademark, service mark, or patent laws under
          any relevant jurisdiction. In addition, you warrant that all so-called "moral rights" in those materials have been waived.
        </p>
        <p>
          You represent and warrant that you own or otherwise control all of the rights in any Submissions; that the Submission does not violate any copyright, trademark, trade secret, right of privacy,
          or any other proprietary or intellectual property rights or any other legal obligation or law of any other third party; and that you will indemnify us for all claims resulting from your Submissions.
          WE TAKE NO RESPONSIBILITY AND ASSUME NO LIABILITY FOR ANY CONTENT POSTED BY YOU OR ANY THIRD PARTY.
        </p>
        <h4>Copyright Infringement/ Digital Millennium Copyright Act</h4>
        <p>
            We respect the intellectual property rights of others, including the exclusive rights granted to copyright owners under Section 106 of Copyright Act. This outlines the policy regarding the
            treatment of allegedly infringing material posted on the Site. Please contact the designated agent identified
            below should you have any questions.
        </p>
        <h4>Copyright Infringement Notification</h4>
        <p>
            Should you identify any material on the Site that you believe infringes your copyright or the copyright of a third party on behalf of whom you are authorized to act, you may notify us thereof
            and request the removal of such content by following the steps below:
        </p>
        <p>
          In order to file a copyright infringement notification with us, you will need to send our designated agent at:
        </p>
        <p>
          VenueCenter<br>
          311 N Market St<br>
          Floor 2<br>
          Dallas, TX 75202<br>
          Attn: Legal Department
        </p>
        <p>
          Written communication that includes the following information (please consult your legal counsel or see Section 512(c)(3) of the Digital Millennium Copyright Act to confirm these requirements):
        </p>
        <ol>
          <li>A physical or electronic signature of a person authorized to act on behalf of the owner of an exclusive right that is allegedly infringed;</li>
          <li>Identification of the copyrighted work claimed to have been infringed or, if multiple copyrighted works at a single online site are intended to be covered by the notification, a representative list of such works at that site;</li>
          <li>Identification of the material that is claimed to be infringing or to be the subject of infringing activity and that is to be removed or access to which is to be disabled, and information reasonably sufficient to permit the service provider to locate the material.</li>
          <li>Information reasonably sufficient to allow us to contact the complaining party, such as an address, telephone number, and, if available, an electronic mail address at which the complaining party may be contacted;</li>
          <li>A statement that the complaining party has a good faith belief that use of the material in the manner complained of is not authorized by the copyright owner, its agent, or the law; and</li>
          <li>A statement that the information in the notification is accurate, and under penalty of perjury, that the complaining party is authorized to act on behalf of the owner of an exclusive right that is allegedly infringed.</li>

        </ol>
        <h4>Counter Notification</h4>
        <p>
          If, as s Site user, you believe that certain material was removed erroneously pursuant to the receipt of a copyright infringement notice, you may send a counter notification to the designated agent referenced above, requesting that such material be reposted. Such counter notification must contain the following:
        </p>
        <ul>
          <li>A physical or electronic signature of the subscriber at issue;</li>
          <li>Identification of the material that has been removed or to which access has been disabled and the location at which the material appeared before it was removed or access to it was disabled;</li>
          <li>A statement under penalty of perjury that the subscriber has a good faith belief that the material was removed or disabled as a result of mistake or misidentification of the material to be removed or disabled; and</li>
          <li>The subscriber's name, address, and telephone number, and a statement that the subscriber consents to the jurisdiction of Federal District Court for the judicial district in which the address
            scriber's address is outside of the United States, for any judicial district in which the service provider may be found, and that the subscriber will accept service of process from the person
             who provided the original notification or an agent of such person.</li>
        </ul>
        <h4>Abuse of Copyright Infringement Policy</h4>
        <p>
          Please note that under Section 512(f) of the Copyright Act (17 U.S.C. 512(f)), any person who knowingly materially misrepresents that material or activity was removed or disabled by mistake or misidentification may be subject to liability, so please refrain from making any false claims.
        </p>
        <p>
          Please also be advised that we will terminate the subscriptions of certain repeat infringers, under the appropriate circumstances.
        </p>
        <h4>Intellectual Property Infringement (Non-Copyright Claim)</h4>
        <p>
          Should you identify any material on the Site that you believe infringes your intellectual property rights or the rights of a third party on behalf of whom you are authorized to act, you may notify us thereof and request the removal of such content by following the steps below:
        </p>
        <p>
          In order to file an intellectual property infringement notification with us, you will need to send our designated agent at:
        </p>
        <p>
          VenueCenter<br>
          311 N Market St<br>
          Floor 2<br>
          Dallas, TX 75202<br>
          Attn:Legal Department
        </p>
        <h4>Disclaimer</h4>
        <p>
          THE SITE IS PROVIDED "AS IS" WITHOUT WARRANTIES OF ANY KIND, EITHER EXPRESS OR IMPLIED, CONSTRUCTIVE, OR STATUTORY, INCLUDING, BUT NOT LIMITED TO, WARRANTIES OF TITLE OR IMPLIED WARRANTIES OF MERCHANTABILITY OR FITNESS FOR A PARTICULAR PURPOSE, NON-INFRINGEMENT, OR ANY OTHER IMPLIED WARRANTIES ARISING OUT OF COURSE OF PERFORMANCE, DEALING AND/OR TRADE USAGE. USE OF THIS SITE IS ENTIRELY AT YOUR OWN RISK. WE DO NOT GUARANTEE OR WARRANT CONTINUOUS, UNINTERRUPTED OR ERROR-FREE ACCESS OR USAGE, OR THAT DEFECTS WILL BE CORRECTED, OR THAT THIS SITE OR THE SERVER THAT MAKES IT AVAILABLE ARE FREE OF VIRUSES OR OTHER HARMFUL COMPONENTS. SOME STATES DO NOT ALLOW THE DISCLAIMER OF IMPLIED WARRANTIES SO THE FOREGOING DISCLAIMER MAY NOT BE APPLICABLE IN FULL. NEITHER VENUECENTER NOR ITS AFFILIATES, THIRD PARTY INFORMATION PROVIDERS, NOR OTHER CONTENT PARTNERS MAKE ANY GUARANTEE REGARDING THE ACCURACY, CORRECTNESS, TIMELINESS, SEQUENCE, RELIABILITY, OR COMPLETENESS OF ANY INFORMATION OR CONTENT PROVIDED BY OR THROUGH THIS SITE. ADDITIONALLY, THERE ARE NO WARRANTIES AS TO THE RESULTS OBTAINED FROM THE USE OF SUCH INFORMATION. ANY MATERIAL DOWNLOADED OR OTHERWISE OBTAINED THROUGH THE USE OF THIS WEBSITE IS DOWNLOADED AT YOUR OWN RISK.
        </p>
        <p>
          YOU WILL BE SOLELY RESPONSIBLE FOR, AND ASSUME THE ENTIRE COST OF, ALL NECESSARY SERVICING, REPAIR, OR CORRECTION IN THE EVENT OF ANY DAMAGE OR LOSS DUE TO CONTENT, DOWNLOADS OR ANY OTHER MATERIAL OR INFORMATION YOU OBTAIN FROM US OR ANY OF OUR SITES.
        </p>
        <h4>Limitations of Liability</h4>
        <p>
          UNDER NO CIRCUMSTANCES AND IN NO EVENT SHALL VENUECENTER, ITS AFFILIATES, INFORMATION PROVIDERS, OR CONTENT CONTRACTORS, OR THEIR RESPECTIVE PARENTS, SUBSIDIARIES, PARTNERS, AGENTS, EMPLOYEES, REPRESENTATIVES, AGENTS, LICENSORS, DIRECTORS, OFFICERS, SHAREHOLDERS, MEMBERS, AND OTHER OWNERS (COLLECTIVELY, "VENUECENTER PARTIES"), BE LIABLE, REGARDLESS OF THE CAUSE OR DURATION, FOR ANY ERRORS, INACCURACIES, OMISSIONS, OR OTHER DEFECTS IN, OR UNTIMELINESS OR ABSENCE OF AUTHENTICITY OF, THE INFORMATION CONTAINED WITHIN THE SITE, OR FOR ANY DELAY OR INTERRUPTION IN THE TRANSMISSION THEREOF TO YOU, OR FOR ANY CLAIMS OR LOSSES ARISING THEREFROM OR OCCASIONED THEREBY. UNDER NO CIRCUMSTANCES AND IN NO EVENT SHALL ANY VENUECENTER PARTY BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, CONSEQUENTIAL, PUNITIVE, OR EXEMPLARY DAMAGES (INCLUDING ATTORNEY'S FEES AND COSTS) ARISING OUT OF OR RELATING TO THESE TERMS, USE OF, OR INABILITY TO USE, THE SITE, OR THE CLAIMS OF THIRD PARTIES, INCLUDING USERS, HOWEVER CAUSED, UNDER ANY LEGAL THEORY, OR IF ANY VENUECENTER PARTY IS AWARE OF OR SHOULD HAVE BEEN AWARE OF THE POSSIBILITY OF SUCH DAMAGES. IN ADDITION, UNDER NO CIRCUMSTANCES AND IN NO EVENT WILL THE AGGREGATE LIABILITY OF ALL VENUECENTER PARTIES ARISING OUT OF OR RELATING TO THESE TERMS AND/OR RELATING TO USE OF, OR INABILITY TO USE, THIS WEBSITE, UNDER ANY LEGAL THEORY, EXCEED THE AMOUNT PAID TO US BY YOU, IF ANY, TO ACCESS THIS SITE.
        </p>
        <p>
          THE VENUES, HOTELS AND OTHER EVENT CENTERS AND SUPPLIERS PROVIDING SERVICES ON THIS SITE ARE INDEPENDENT CONTRACTORS AND NOT AGENTS OR EMPLOYEES OF VENUECENTER OR ANY VENUECENTER PARTY. VENUECENTER AND VENUECENTER PARTIES ARE NOT LIABLE FOR THE ACTS, ERRORS, OMISSIONS, REPRESENTATIONS, WARRANTIES, BREACHES OR NEGLIGENCE OF ANY SUCH SUPPLIERS OR FOR ANY PERSONAL INJURIES, DEATH, PROPERTY DAMAGE, OR OTHER DAMAGES OR EXPENSES RESULTING THERE FROM. VENUECENTER AND VENUECENTER PARTIES HAVE NO LIABILITY AND WILL MAKE NO REFUND IN THE EVENT OF ANY DELAY, CANCELLATION, OVERBOOKING, STRIKE, FORCE MAJEURE OR OTHER CAUSES BEYOND THEIR DIRECT CONTROL.
        </p>
        <h4>Indemnification</h4>
        <p>
          You agree to indemnify and hold harmless, and at our request, defend us, our affiliates and our and our affiliates' respective officers, directors, employees, agents, contractors and licensees from and against any and all claims, actions, demands, liabilities, losses, damages, judgments, penalties, settlements, costs and expenses (including reasonable attorney's fees and costs) (hereinafter referred to as "Losses") insofar as such Losses (or actions in respect thereof) arise out of, are based on, or relate to your violation or breach of either these Terms or the rights of any third party.
        </p>
        <h4>Applicable Law and Place of Jurisdiction</h4>
        <p>
          Any use of the Site and all legal disputes arising out of or in connection therewith shall be governed by and interpreted in accordance with the laws of the state of Texas, without giving effect to the principles of conflicts of law thereof. You hereby consent to the exclusive jurisdiction and venue of courts in Dallas County, Texas, USA, in all disputes arising out of or relating to the use of this Site. Use of this Site is unauthorized in any jurisdiction that does not give effect to all provisions of this Agreement, including, without limitation, this paragraph.
        </p>
        <p>
          You agree that all disputes arising out of or related to these Terms (regardless as to whether the dispute is based in contract, tort, statute, fraud, misrepresentation, or any other legal or equitable theory) will be submitted to the American Arbitration Association ("AAA"), for final and binding arbitration. Any and all dispute resolution proceedings shall be constructed on an individual basis and not in a class, consolidated, or representative action. If for any reason a claim proceeds in court rather than in arbitration you waive any right to a jury trial.
        </p>
        <h4>Website Users Located Outside of the United States</h4>
        <p>
          If you are a user located outside of the United States, you consent to the transfer and processing of your data inside the United States.
        </p>
        <h4>Entire Agreement</h4>
        <p>
          These Terms and our Privacy Policy constitute the entire agreement between you and VenueCenter concerning the services described in these Terms, and supersede all prior or contemporaneous communications and proposals, whether electronic, oral, or written, between you and VenueCenter with respect to this Site. A printed version of these Terms and of any notice given in electronic form shall be admissible in judicial or administrative proceedings based upon or relating to these Terms to the same extent and subject to the same conditions as other business documents and records originally generated and maintained in printed form.
        </p>
        <h4>Waiver and Severability</h4>
        <p>
          If any portion of these Terms are found to be unenforceable, the remaining portion(s) will remain in full effect. If we fail to enforce any provision herein, it shall not be deemed to constitute a waiver of any of our rights.
        </p>
        <h4>Questions, Concerns, or Complaints</h4>
        <p>
          Questions, concerns, or complaints related to conduct within the Site should be emailed to <%= mail_to 'support@venuecenter.com' %>.
        </p>
    </div><!-- .row -->
  </div><!-- .row -->
</div><!-- .container -->
