<% content_for :page_title do %>
  How It Works
<% end %>

<% content_for :page_description do %>
  How VenueCenter Works. VenueCenter is the fastest way to find the perfect venue for your next event.
<% end %>
<div class="container" style="margin-top: 30px;">
  <div class="row">
    <div class="col-sm-12">
      <h1>How It Works</h1>
      <p>
        VenueCenter is an online matching service that connects consumers to exceptional venues in their area.  Venues can
        create an account and be added to VenueCenter at any time.  Registered users may login to search and review venue
        profiles that meet their event requirements and users also have access to pictures, contact information, reviews and
        recommendations all in one place!   Search it. Price it. Book it.  Get started today!
      </p>
      <h3>Step 1</h3>
      <p>
        Sign up to get started and take control of your listing. We've spent countless hours and guzzled down several gallons of coffee scouring your area to add premium venues like yours to our database.
        While your venue may already be listed with us, we encourage you to register now to take full authority of your presence on our site. You're the expert on your venue, and we want you to be able to
        describe your venue to customers in ways that complement your brand!
      </p>
      <h3>Step 2</h3>
      <p>
          Update your listing and highlight what's great about your venue! Make sure your listing is accurate. Add contact information, business hours and other details that customers may need to know about
          your venue. Highlght what makes you unique. And of course, your listing would not be complete with a #VenueSelfie, so upload photos that give your venue personality and demonstrate how you help
          customers create lasting memories.
      </p>
      <p>
        As your VenueCenter property manager, you will have complete control of your page with the ability to:
        <ol>
          <li>Add photos, business hours, and other important information to help viewers access your venue details.</li>
          <li>Add other associated venues (when applicable)</li>
          <li>Track new customers and understand which search criteria were used to arrive at your venue profile.</li>
          <li>Respond to user reviews and requests for additional information.</li>
        </ol>
      </p>
      <h3>Step 3</h3>
      <p>
        Advertise to your target audience. By claiming your venue, we will help you build a larger customer base by identifying potential customers in your area.
        <ol>
          <li>Attract new customers by advertising on our homepage and stand out above the rest.</li>
          <li>Promote your business to customers and inform prospective customers about the benefits of your venue by allowing us to strategically promote to your targeted audience.</li>
          <li>Announce specials, discount promotions, or seasonal offers to drive additional business.*</li>
        </ol>
      </p>
      <p style="font-size: 12px;">
        * Updates are emailed to customers who have requested to receive email updates in your area.
      </p>

      <div class="acenter" style="margin: 20px auto;">
        <a href="/biz" class="btn btn-success btn-lg" style="color: #fff;">List Your Venue</a>
      </div>
   

    </div><!-- col-sm-12 -->
  </div><!-- .row -->
</div><!-- .container-fluid -->
