<% content_for :page_title do %>
  My Saved Venues
<% end %>
<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <div class="row">
        <div class="col-sm-12">
          <div class="page-header">
              <h1>My Saved Venues <small><%= @venues.count %></small></h1>
            </div>
        </div>
      </div> <!-- .row -->
      <% if @venues.count > 0 %>
        <table class="table">
          <thead>
            <tr>
              <th>Name</th>
              <th>City</th>
              <th>State</th>
              <th>Contact</th>
              <th>Type</th>
              <th></th>
            </tr>
          </thead>

          <tbody>
            <% @venues.each do |sv| %>
              <tr>

                <td><%= link_to sv.venue.name, old_venue_path(sv.venue.slug) %></td>
                <td><%= sv.venue.city %></td>
                <td><%= sv.venue.state.name %></td>
                <td>
                  <%= sv.venue.phone %><br>
                  <%= sv.venue.email %><br>
                  <%= link_to 'Website', sv.venue.website %>
                </td>
                <td><%= sv.venue.venue_types.map(&:name).sort.join(", ") %></td>
                <td>
                  <%= link_to 'Delete', '/account/venues/' + sv.id.to_s, method: :delete, data: { confirm: 'Are you sure?' } %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
        <div class="acenter">
          <%= will_paginate @venues %>
        </div>
        <% else %>
        <div class="acenter">You have no saved venues</div>
        <% end %>
    </div><!-- .col-sm-12 -->
  </div><!-- .row -->
</div><!-- .container -->
