<% content_for :page_title do %>
    Venue Categories
<% end %>
<% content_for :page_header do %>
    Venue Categories
<% end %>

<style type="text/css">
    label { font-weight: normal; }
</style>


<div class="row">
  <div class="col-sm-12" style="padding-left: 40px;">
    <p>
      Select categories below that match the type of space available at your venue.
    </p>
    <%= form_for [:manage, @venue], url: '/manage/details/categories/update', class: 'form-horizontal', role: 'form' do |f| %>
        <% if @venue.errors.any? %>
            <div id="error_explanation">
              <h2><%= pluralize(@venue.errors.count, "error") %> prohibited this venue from being saved:</h2>

              <ul>
                <% @venue.errors.full_messages.each do |message| %>
                    <li><%= message %></li>
                <% end %>
              </ul>
            </div>
        <% end %>
        <div class="row">
          <div class="col-sm-12">
            <div class="form-group">
              <%= f.collection_check_boxes :venue_type_ids, VenueType.order(:name), :id, :name, { class: 'form-control'} do |vt| %>
                  <div class="collection-check-box">
                    <%= vt.check_box %>
                    <%= vt.label %>
                  </div>
              <% end %>
            </div>
          </div><!-- .col-sm-12 -->
          <div class="col-sm-12 acenter" style="margin-top: 30px;">
            <input type="submit" value="Save Changes" class="btn btn-success">
          </div>
        </div><!-- .row -->
    <% end %>
  </div><!-- .col-sm-12 -->
</div><!-- .row -->

