<% content_for :page_title do %>
  Directions
<% end %>
<% content_for :page_header do %>
  Directions
<% end %>

<div class="row">
<div class="col-sm-12">

  <%= form_for [:manage, @venue], url: '/manage/details/directions/update', class: 'form-horizontal', role: 'form' do |f| %>
    <% if @venue.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@venue.errors.count, "error") %> prohibited this venue from being saved:</h2>

        <ul>
          <% @venue.errors.full_messages.each do |message| %>
          <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
    <div class="form-group">
      <%= f.label(:directions, '', {class: 'col-sm-1 control-label'}) %>
      <div class="col-sm-11">
        <%= f.text_area :directions, class: 'form-control tinymce', rows: 10 %>
        <%= tinymce %>
      </div>
    </div>
    <div class="col-sm-12 acenter" style="margin-top: 30px;">
      <input type="submit" value="Save Changes" class="btn btn-success">
    </div>
  <% end %>
