<% content_for :page_title do %>
  Features
<% end %>
<% content_for :page_header do %>
  Features
<% end %>

<div class="row">
  <div class="col-sm-12">

    <%= form_for [:manage, @venue], url: '/manage/details/features/update', class: 'form-horizontal', role: 'form' do |f| %>
    <% if @venue.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@venue.errors.count, "error") %> prohibited this venue from being saved:</h2>

      <ul>
        <% @venue.errors.full_messages.each do |message| %>
        <li><%= message %></li>
        <% end %>
      </ul>
    </div>
    <% end %>
    <div class="row">
      <div class="col-sm-6">

        <div class="form-group clearfix">
          <%= f.label(:venue_size, 'Venue Size', {class: 'col-sm-3 control-label'}) %>
          <div class="col-sm-4">
            <div class="input-group">
              <%= f.text_field :venue_size, class: 'form-control margin-bottom-20' %> <div class="input-group-addon">sq ft</div>
            </div>
          </div>
        </div><!-- .form-group -->
        <div class="form-group clearfix">
          <%= f.label(:venue_capacity, 'Capacity', {class: 'col-sm-3 control-label'}) %>
          <div class="col-sm-9">
            <%= f.collection_select(:venue_capacity_id, VenueCapacity.all, :id, :name, class: 'form-control margin-bottom-20') %>
          </div>
        </div>

      </div>
      <div class="col-sm-6">
        <div class="form-group clearfix">
          <%= f.label(:space_type, 'Space Type', { class: 'col-sm-3 control-label' }) %>
          <div class="col-sm-9">
            <%= f.select(:space_type, options_for_select(["Indoors", "Outdoors", "Indoors/Outdoors"]),
            { prompt: "Select", class: 'form-control margin-bottom-20'}) %>
          </div>
        </div>
        <div class="form-group clearfix">
          <%= f.label(:price, '', {class: 'col-sm-3 control-label'}) %>
          <div class="col-sm-9">
            <%= f.radio_button(:price, 1) %> <label>$0 - $2,000</label><br>
            <%= f.radio_button(:price, 2) %> <label>$2,001 - $5,000</label><br>
            <%= f.radio_button(:price, 3) %> <label>$5,001 - $10,000s</label><br>
            <%= f.radio_button(:price, 4) %> <label>$10,001+</label><br>
          </div>
        </div><!-- .form-group -->
      </div>
      <div class="col-sm-12">
        <div class="form-group clearfix">
          <%= f.label(:drink_options, 'Drink Options', {class: 'col-sm-2 control-label'}) %>
          <div class="col-sm-10 checkbox-array">
            <%= f.check_box(:wine) %> <label>Wine</label>&nbsp;
            <%= f.check_box(:beer) %> <label>Beer</label>&nbsp;
            <%= f.check_box(:full_bar) %> <label>Full Bar</label>&nbsp;
            <%= f.check_box(:outside_alcohol) %> <label>Outside Alcohol</label>&nbsp;
            <%= f.check_box(:no_alcohol) %> <label>No Alcohol</label>&nbsp;
          </div>
        </div>
        <div class="form-group clearfix">
          <label class="col-sm-2 control-label">Food Options</label>
          <div class="col-sm-10 checkbox-array">
            <%= f.check_box(:gluten_free) %> <label>Gluten Free</label>&nbsp;
            <%= f.check_box(:halal) %> <label>Halal</label>&nbsp;
            <%= f.check_box(:kosher) %> <label>Kosher</label>&nbsp;
            <%= f.check_box(:vegan) %> <label>Vegan</label>&nbsp;
            <%= f.check_box(:vegetarian) %> <label>Vegetarian</label>&nbsp;
            <Br><br>
            <%= f.check_box(:onsite_catering) %> <label>On-site Catering Available</label>&nbsp;
            <%= f.check_box(:offsite_catering) %> <label>Off-site Catering Permitted</label>&nbsp;
          </div>
        </div>
        <div class="form-group clearfix">
          <label class="col-sm-2 control-label">Parking Options</label>
          <div class="col-sm-10 checkbox-array">
            <%= f.check_box(:free_parking) %> <label>Free Parking</label>&nbsp;
            <%= f.check_box(:self_parking) %> <label>Self Parking</label>&nbsp;
            <%= f.check_box(:valet_parking) %> <label>Valet Parking</label>&nbsp;
            <%= f.check_box(:garage_parking) %> <label>Garage Parking</label>&nbsp;
          </div>
        </div>
        <div class="form-group clearfix">
          <label class="col-sm-2 control-label">Amenities</label>
          <div class="col-sm-10 checkbox-array">
            <%= f.check_box(:av_hookup) %> <label>A/V Hookup</label>&nbsp;
            <%= f.check_box(:beachfront) %> <label>Beachfront</label>&nbsp;
            <%= f.check_box(:city_view) %> <label>City View</label>&nbsp;
            <%= f.check_box(:corkage) %> <label>Corkage</label>&nbsp;
            <%= f.check_box(:garden_view) %> <label>Garden View</label>
            <%= f.check_box(:handicap_accessible) %> <label>Handicap</label>&nbsp;
            <%= f.check_box(:kid_friendly) %> <label>Kid Friendly</label>&nbsp;<br><br>
            <%= f.check_box(:lake_view) %> <label>Lake View</label>&nbsp;
            <%= f.check_box(:lgbt_friendly) %> <label>LGBT Friendly</label>&nbsp;
            <%= f.check_box(:ocean_view) %> <label>Ocean View</label>&nbsp;
            <%= f.check_box(:overnight_available) %> <label>Overnight Accomodations Available</label>&nbsp;
            <%= f.check_box(:pet_friendly) %> <label>Pet Friendly</label>&nbsp;<br><br>
            <%= f.check_box(:stage_available) %> <label>Stage Available</label>&nbsp;
            <%= f.check_box(:pool) %> <label>Swimming Pool</label>&nbsp;
            <%= f.check_box(:wifi) %> <label>WiFi</label>&nbsp;<br><br>


          </div>
        </div>
      </div>
      <div class="col-sm-12 acenter" style="margin-top: 30px;">
        <input type="submit" value="Save Changes" class="btn btn-success">
      </div>
      <% end %>
    </div><!-- .col-sm-12 -->
  </div><!-- .row -->
