<% content_for :page_title do %>
  General Details
<% end %>
<% content_for :page_header do %>
  General Details
<% end %>

<div class="row">
  <div class="col-sm-12">

    <%= form_for [:manage, @venue], url: '/manage/details/general/update', class: 'form-horizontal', role: 'form' do |f| %>
      <% if @venue.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@venue.errors.count, "error") %> prohibited this venue from being saved:</h2>

        <ul>
          <% @venue.errors.full_messages.each do |message| %>
          <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
    <div class="row">
      <div class="col-sm-6">
        <div class="form-group ">
          <%= f.label(:name, {class: 'col-sm-4 control-label'}) %>
          <div class="col-sm-8">
            <%= f.text_field :name, class: 'form-control margin-bottom-20' %>
          </div>
        </div>
        <div class="form-group">
          <%= f.label(:address, {class: 'col-sm-4 control-label'}) %>
          <div class="col-sm-8">
            <%= f.text_field :address, class: 'form-control margin-bottom-20' %>
          </div>
        </div>
        <div class="form-group">
          <%= f.label(:address2, '', {class: 'col-sm-4 control-label'}) %>
          <div class="col-sm-8">
            <%= f.text_field :address2, class: 'form-control margin-bottom-20' %>
          </div>
        </div>
        <div class="form-group">
          <%= f.label(:city, {class: 'col-sm-4 control-label'}) %>
          <div class="col-sm-8">
            <%= f.text_field :city, class: 'form-control margin-bottom-20' %>
          </div>
        </div>
        <div class="form-group">
          <%= f.label(:state, '', {class: 'col-sm-4 control-label'}) %>
          <div class="col-sm-8">
            <%= f.collection_select :state_id, State.order(:name), :id, :name, {}, { class: 'form-control margin-bottom-20' } %>
          </div>
        </div>
        <div class="form-group">
          <%= f.label(:zip_code, 'Zip Code', {class: 'col-sm-4 control-label'}) %>
          <div class="col-sm-8">
            <%= f.text_field :zip_code, class: 'form-control margin-bottom-20' %>
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="form-group">
          <%= f.label(:phone, '', {class: 'col-sm-4 control-label'}) %>
          <div class="col-sm-8">
            <%= f.text_field :phone, class: 'form-control margin-bottom-20' %>
          </div>
        </div>
        <div class="form-group">
          <%= f.label(:email, '', {class: 'col-sm-4 control-label'}) %>
          <div class="col-sm-8">
            <%= f.text_field :email, class: 'form-control margin-bottom-20' %>
          </div>
        </div>
        <div class="form-group">
          <%= f.label(:website, '', {class: 'col-sm-4 control-label'}) %>
          <div class="col-sm-8">
            <%= f.text_field :website, class: 'form-control margin-bottom-20' %>
          </div>
        </div>
        <div class="form-group">
          <%= f.label(:facebook, '', {class: 'col-sm-4 control-label'}) %>
          <div class="col-sm-8">
            <%= f.text_field :facebook, class: 'form-control margin-bottom-20' %>
          </div>
        </div>
        <div class="form-group">
          <%= f.label(:twitter, '', {class: 'col-sm-4 control-label'}) %>
          <div class="col-sm-8">
            <%= f.text_field :twitter, class: 'form-control margin-bottom-20' %>
          </div>
        </div>
        <div class="form-group">
          <%= f.label(:google_plus, 'Google Plus', {class: 'col-sm-4 control-label'}) %>
          <div class="col-sm-8">
            <%= f.text_field :google_plus, class: 'form-control margin-bottom-20' %>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-12">
          <div class="form-group">
            <%= f.label(:description, '', {class: 'col-sm-2 control-label'}) %>
            <div class="col-sm-10">
              <%= f.text_area :description, class: 'form-control tinymce', rows: 10 %>
              <%= tinymce %>

            </div>
          </div>
          <div class="form-group" >
            <%= f.label(:meta_description, '', { class: 'col-sm-2 control-label', style: "margin: 20px 0;" }) %>
            <div class="col-sm-10">
              <%= f.text_area :meta_description, class: 'form-control', rows: 4, style: "margin: 20px 0;" %>
            </div>
          </div>
          <div class="form-group" style="margin: 20px 0;">
            <%= f.label(:meta_keywords, '', { class: 'col-sm-2 control-label', style: "margin: 20px 0;" }) %>
            <div class="col-sm-10">
              <%= f.text_area :meta_keywords, class: 'form-control', rows: 4, style: "margin: 20px 0;" %>
            </div>
          </div>
          <div class="col-sm-12 acenter" style="margin-top: 30px;">
            <input type="submit" value="Save Changes" class="btn btn-success">
          </div>
        </div>
      </div>
    <% end %>
  </div><!-- .col-sm-12 -->
</div><!-- .row -->
