<% content_for :page_title do %>
Venue Details - <%= @venue.name %>
<% end %>

<% content_for :page_header do %>
  <%= @venue.name %> <span class="small">(<%= @venue.venue_types.map(&:name).sort.join(", ") %>)</span>
<% end %>
<div class="col-sm-12">
  <div style="font-size: 16px; line-height: 1.6em;">
    <%= @venue.address %> &middot; <%= @venue.city %>, <%= @venue.state.abbrev %> <%= @venue.zip_code %> &middot; <%= @venue.phone %><br>
    <% if !@venue.website.blank? %>
    <a href="<%= @venue.website %>" target="_blank"><span class='fa fa-globe'></span> Website</a> &nbsp;&nbsp;
    <% end %>
    <% if !@venue.facebook.blank? %>
      <a href="<%= @venue.facebook %>" target="_blank"><i class="fa fa-facebook"></i> Facebook</a> &nbsp; &nbsp;
    <% end %>
    <% if !@venue.twitter.blank? %>
      <a href="<%= @venue.twitter %>" target="_blank"><i class="fa fa-twitter"></i> Twitter</a> &nbsp; &nbsp;
    <% end %>
    <% if !@venue.pinterest.blank? %>
      <a href="<%= @venue.pinterest %>" target="_blank"><i class="fa fa-pinterest"></i> Pinterest</a>
    <% end %>
  </div>
  <div class="venue-info">
    <h3>About This Venue</h3>
    <div>
      <%= raw(@venue.description) %>
    </div>
    <% if !@venue.directions.blank? %>
      <h3>Directions</h3>
      <div>
        <%= raw(@venue.directions) %>
      </div>
    <% end %>
    <div class="row venue-details">
      <% if !@venue.price.blank? %>
        <div class="col-sm-4">
          <div class="venue-label"><i class="fa fa-money"></i> Price</div>

          <% if @venue.price == 1 %>$ ($0 - $2,000)<% end %>
          <% if @venue.price == 2 %>$$ ($2,001 - $5,000)<% end %>
          <% if @venue.price == 3 %>$$$ ($5,001 - $10,000)<% end %>
          <% if @venue.price == 4 %>$$$$ ($10,001+)<% end %>
        </div>
      <% end %>

      <div class="col-sm-4">
        <div class="venue-label"><i class="fa fa-building"></i> Space Details</div>

        <% if !@venue.venue_capacity_id.blank? %>
        Capacity: <%= @venue.venue_capacity.name %><br>
        <% end %>
        <% if !@venue.venue_size.blank? %>
        Venue Size: <%= @venue.venue_size %> sq ft<br>
        <% end %>
        <% if !@venue.space_type.blank? %>
        Space Type: <%= @venue.space_type %>
        <% end %>
      </div><!-- .col-sm-3 -->

      <div class="col-sm-4">
        <div class="venue-label"><i class="fa fa-check-square"></i> Amenities</div>
        <% if @venue.pet_friendly %> Pet Friendly <br><% end  %>
        <% if @venue.corkage %> Corkage <br><% end %>
        <% if @venue.av_hookup %> A/V Hookup <br><% end %>
        <% if @venue.handicap_accessible %> Handicap Accessible <br><% end %>
        <% if @venue.wifi %> Public Wi-Fi <br><% end %>
        <% if @venue.city_view %> City View <br><% end %>
        <% if @venue.lake_view %> Lake View <br><% end %>
        <% if @venue.ocean_view %> Ocean View <br><% end %>
        <% if @venue.garden_view %> Garden View <br><% end %>
        <% if @venue.beachfront %> Beachfront Property <br><% end %>
        <% if @venue.stage_available %> Stage <br><% end %>
        <% if @venue.overnight_available %> Overnight Accomodations <% end %>
      </div><!-- .col-sm-3 -->
    </div>
    <div class="row venue-details">
      <% if @venue.kosher || @venue.halal || @venue.vegetarian || @venue.gluten_free || @venue.vegan || @venue.onsite_catering || @venue.offsite_catering %>
        <div class="col-sm-4">
          <div class="venue-label"><i class="fa fa-cutlery"></i>Food Options</div>
            <% if @venue.kosher %>Kosher<br> <% end %>
            <% if @venue.halal %>Halal <br><% end %>
            <% if @venue.vegetarian %>Vegetarian <br><% end %>
            <% if @venue.gluten_free %>Gluten Free <br><% end %>
            <% if @venue.vegan %>Vegan <br><% end %>
            <% if @venue.onsite_catering %>Onsite Catering Available <br><% end %>
            <% if @venue.offsite_catering %>Offsite Catering Permitted <% end %>
        </div>
      <% end %>
      <% if @venue.wine || @venue.beer || @venue.full_bar || @venue.outside_alcohol || @venue.no_alcohol %>
        <div class="col-sm-4">
          <div class="venue-label"><i class="fa fa-glass"></i> Drink Options</div>
          <% if @venue.wine %>Wine <br><% end %>
          <% if @venue.beer %>Beer <br><% end %>
          <% if @venue.full_bar %>Full Bar <br><% end %>
          <% if @venue.outside_alcohol %>Outside Alcohol <br><% end %>
          <% if @venue.no_alcohol %>No Alcohol <% end %>
        </div>
      <% end %>
      <% if @venue.free_parking || @venue.self_parking || @venue.garage_parking || @venue.valet_parking %>
        <div class="col-sm-4">
          <div class="venue-label"><i class="fa fa-car"></i> Parking Options</div>
          <% if @venue.free_parking %>Free Parking<br><% end %>
          <% if @venue.self_parking %>Self Parking<br><% end %>
          <% if @venue.garage_parking %>Garage Parking<br><% end %>
          <% if @venue.valet_parking %>Valet Parking<% end %>
        </div>
      <% end %>
  </div>
