<% content_for :page_title do %>
Photo Manager
<% end %>

<% content_for :page_header do %>
  Photo Manager
<% end %>
<div class="col-sm-12">
  <div class="photo-header">
    You are on the <%= @bplan.name %> membership plan which allows for <%= @bplan.images == -1 ? 'unlimited' : @bplan.images %> photos.
  </div>
  <div class="header-photo">
    <h2>Header Photo</h2>
    <div class="photo-upload-form">
      <%= form_for [:manage, @venue], url: '/manage/details/header-photo/update', class: 'form-horizontal', role: 'form', multipart: true do |f| %>
        <% if @venue.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(@venue.errors.count, "error") %> prohibited this venue from being saved:</h2>

            <ul>
              <% @venue.errors.full_messages.each do |message| %>
              <li><%= message %></li>
              <% end %>
            </ul>
          </div>
        <% end %>
        <div class="form-group clearfix" style="margin-bottom: 20px;">
          <div class="col-sm-4">
            <%= f.file_field :main_image,  { class: 'form-control', style: 'border: none;', required: true }  %>
          </div>
          <div class="col-sm-2">
            <input type="submit" value="Upload Photo" class="btn btn-sm btn-success">
          </div>
        </div>
      <% end %>
    </div><!-- .photo-upload-form -->

    <% if !@venue.main_image.blank? %>
    <%= cl_image_tag(@venue.main_image, height: 200, width: 500) %> 
    <% else %>
      No header photo has been uploaded
    <% end %>
  </div><!-- .header-photo -->
  <% if @venue.billing_plan_id > 1 %>
    <div class="more-photos">
      <h2>Additional Photos</h2>
      <p>You can add <%= @bplan.images == -1 ? 'unlimited' : (@bplan.images - 1 - @images.count).to_s  %> additional photos to your profile.</p>

      <% if @bplan.images == -1 || ((@bplan.images - 1 - @images.count) > 0) %>
        <div class="photo-upload-form">
          <%= form_for [:manage, @venue_image], method: 'post', url: '/manage/details/photos/new', class: 'form-horizontal', role: 'form', multipart: true do |f| %>
          <% if @venue.errors.any? %>
            <div id="error_explanation">
              <h2><%= pluralize(@venue_image.errors.count, "error") %> prohibited this venue from being saved:</h2>
              <ul>
                <% @venue.errors.full_messages.each do |message| %>
                <li><%= message %></li>
                <% end %>
              </ul>
            </div>
          <% end %>
          <div class="form-group clearfix" style="margin-bottom: 20px;">
            <div class="col-sm-4">
              <%= f.file_field(:photo,  class: 'form-control', style: 'border:none;', required: true) %>
            </div>
            <div class="col-sm-2">
              <input type="submit" value="Upload Photo" class="btn btn-sm btn-success">
            </div>
          </div>
          <% end %>
        </div><!-- .photo-upload-form -->
      <% end %>
      
        <% @images.each do |vi| %>
          <div class="row"style="margin-bottom: 20px;">
            <div class="col-xs-6">
              <a href="<%= vi.photo_url %>" class="fancybox"><%= cl_image_tag(vi.photo, height: 300, width: 300, crop: :scale, class: 'img-responsive') %></a>

            </div>
         </div>
        <% end %>
      
    </div><!-- .more-photos -->
  <% end %>
  <% if @venue.billing_plan_id = 3 %>
    <div class="virtual_tour_editor hide">
      <h2>Virtual Tour</h2>
      <p></p>

    </div>
  <% end %>
</div>

<script type="text/javascript">
$( document ).ready(function() {
  $("a.fancybox").fancybox();
});
