<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
  <h1>New Contact Form Submission</h1>
  <p>
    You have a new contact form submission from the VenueCenter website:
  </p>
  <ul>
    <li>Name: <%= @details.name %> </li>
    <li>Email: <%= @details.email %> </li>
    <li>Phone: <%= @details.phone %></li>
    <li>City: <%= @details.city %></li>
    <li>State: <%= @details.state %></li>
    <li>Message: <%= @details.message %></li>
  </ul>
</body>
</html>
