<% content_for :page_title do %>
  My Billing Details
<% end %>
<% content_for :page_header do %>
  Billing Details
<% end %>
<div class="col-sm-12" id="billing-overview">
  Current Plan - <%= @bplan.name %> Plan<br>
  Monthly Cost - $<%= sprintf("%5.2f", @bplan.price) %><br>
  Next Billing Date - Never <br>
  <%= link_to 'Change My Plan', '/change-plan', { class: 'btn btn-success' } %>
</div>
<div class="col-sm-12 hide">

  <h2>Billing History</h2>
  <table class="table">
    <thead>
    <tr>
      <th>Date</th>
      <th>Method</th>
      <th>Description</th>
      <th>Service Period</th>
      <th>Subtotal</th>
      <th>Total</th>
    </tr>
    <thead>
    <tbody>
    <tr>

    </tr>
  </tbody>
  </table>
</div>
