<% content_for :page_title do %>
  Account Login
<% end %>
<% content_for :page_description do %>
  Create a free account with VenueCenter to find the perfect venue for your next event.
<% end %>
<div class="container content">
  <div class="row">
    <div class="col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3">

      <%= form_for(resource, as: resource_name, html: { id: 'login-form', class: 'reg-page' },url: session_path(resource_name)) do |f| %>
	      <div class="reg-header">
			  <h1>Login to your account</h1>
        <p>
          Don't have an account? <br>
          <%= link_to 'Sign up', new_user_registration_path %> for a free account.
        </p>
		  </div>
        <div class="input-group margin-bottom-20">
          <%= devise_error_messages! %>
        </div>
        <div class="input-group margin-bottom-20">
          	<span class="input-group-addon"><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span></span>
          	<%= f.email_field :email, autofocus: true, placeholder: 'Email', class: 'form-control', required: true %>
        </div>

        <div class="input-group margin-bottom-20">
			<span class="input-group-addon"><span class="glyphicon glyphicon-lock" aria-hidden="true"></span></span>
         	<%= f.password_field :password, autocomplete: "off", placeholder: 'Password', class: 'form-control', required: true %>
        </div>
		      <div class="row">
            <div class="col-md-6">
	            <%= f.check_box :remember_me %> Remember me
            </div>
            <div class="col-md-6">
                <button class="btn-u pull-right" type="submit">Login</button>
            </div>
    </div>
		<hr>
		<div class='acenter'>
			<%- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
			  <%= link_to "Forgot your password?", new_password_path(resource_name) %><br />
			<% end -%>
		</div>
      <% end %>
    </div>
  </div>
</div>
