<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
  <h3>A user needs help with finding an event venue</h3>
  <ul>
    <li>First Name: <%= @first_name %></li>
    <li>Last Name: <%= @last_name %></li>
    <li>Email: <%= @email %> </li>
    <li>Desired Date: <%= @desired_date %></li>
    <li>Number of Guests: <%= @num_guests %></li>
    <li>Budget Range: <%= @budget_range %></li>
    <li>Descripion: <%= @description %></li>
    <li>IP Address: <%= @ip %></li>
    <li>Search Criteria: <%= @criteria %></li>
  </ul>
</body>
</html>
