<p>Hi <%= current_admin.first_name %>,</p>

<p>
  Congratulations you have just “claimed your venue” which unlocked your venue to a new costumer base. VenueCenter is a one-stop online resource
  for customers to find the hottest and trendiest venues in their area.  Changing the way consumers and planners approach the event planning
  and booking process, VenueCenter.com has fulfilled the market’s need to deliver a user-friendly experience that facilitates a direct line of
  communication between venues and their target audiences.
</p>
<p>
  You may now customize and control all aspects of your VenueCenter.com listing by visiting <%= link_to '“My Dashboard”', manage_home_url %>.
</p>
<p>
  Our support center is ready to assist you with any needs you may have regarding the use of our site, so please do not hesitate to contact
  us at <%= mail_to 'support@venuecenter.com' %>.
</p>
