<% content_for :page_title do %>
  My Lists
<% end %>
<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <div class="page-header">
        <h1>My Lists</h1>
      </div>
      <p class="margin-bottom-20">Here are all your custom venue lists</p>
      <table class="table">
        <thead>
          <tr>
            <th>Name</th>
            <th></th>

            <th>Date</th>
          </tr>
        </thead>

        <tbody>
          <% @lists.each do |list| %>
            <tr>
              <td><%= link_to list.name, account_list_path(list) %></td>
              <td>
                
              </td>

              <td><%= list.created_at.strftime('%m/%e/%Y') %></td>

            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>

