<% content_for :page_title do %>
  <%= @list.name %> - Custom List 
<% end %>
<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <div class="page-header">
        <h1><%= @list.name %><br>
          <span class="small">created <%= time_ago_in_words(@list.created_at) %> ago</span></h1>
      </div>
      
      <% @list.venues.each do |venue| %>
        <div class="col-sm-6 sri">
                    <div class="search-result-item" itemscope itemtype="http://schema.org/EventVenue">
                      <%= link_to venue_path(venue, city: venue.city.downcase, state: venue.state.abbrev.downcase) do %>
          	              <div class="search-venue-image"
                            <% if venue.main_image_url.nil? %>
                              style="background-image: url('/assets/nophoto.jpg');"
                            <% else %>
                              style="background-image: url('<%= venue.main_image_url %>');"
                            <% end %>>
                          </div>
                        <% end %>
      	              <div class="details">
      	                <span class="vname" itemprop="name"><%= link_to venue.name, venue_path(venue, city: venue.city.downcase, state: venue.state.abbrev.downcase) %></span><br>
              					<div class="row">
              						<div class="col-xs-6">
              			        <span itemprop="address"><%= venue.address%> <%= venue.address2 %><br>
              							<%= venue.city %>, <%= venue.state.abbrev %></span><br>
                                <% if !venue.venue_types.blank? %>
                                    <i><%= venue.venue_types.map(&:name).sort.join(", ") %></i>
                                <% end %>
              						</div>
              						<div class="col-xs-6">
                            <% if !venue.price.blank? %>
              							       <strong>Price: </strong>
                                   <% if venue.price == 1 %><span data-toggle="tooltip" title="($0-$2000)">$</span><% end %>
                                   <% if venue.price == 2 %><span data-toggle="tooltip" title="($2,001-$5000)">$$</span><% end %>
                                   <% if venue.price == 3 %><span data-toggle="tooltip" title="($5,001-$10,000)">$$$</span><% end %>
                                   <% if venue.price == 4 %><span data-toggle="tooltip" title="($10,001+)">$$$$</span><% end %>
                                   <br>
                            <% end %>
                            <% if !venue.venue_capacity_id.blank? %>
          							       <strong>Capacity: </strong> <%= venue.venue_capacity.name %>
                            <% end %>
                            <% if !@loc.blank? %>
                              <div>
                                <strong>Distance: </strong> <%= venue.distance.round(1) %> miles away
                              </div>
                            <% end %>
              						</div>
              					</div>
      	              </div><!-- .details -->
                    </div>
      	          </div><!-- col-sm-6 -->
      <% end %>
      
    </div>
  </div>
</div>
s