<% content_for :page_title do %>
 Find the perfect venue for your next event
<% end %>

<% content_for :page_head do %>

<% end %>
<% content_for :page_description do %>
  Find the perfect venue for your next event. See all the cities which we operate in.
<% end %>
<div class="container">
  <div class="row">
    <div class="col-xs-12 city-listing">
      <h1 class="centered">Cities We Serve</h1> <hr>
      <h2>Dallas Event Venues</h2>
      <% @dallas_venues.each do |v| %>
        <div class="col-xs-12 col-md-4">
          <div class="city-listing-venue">
            <%= cl_image_tag(v.main_image_url, height: 200, width: 310, crop: :fill) %>
            <span class="name"><%= link_to v.name.truncate(30), venue_path(v, city: v.city.downcase.strip.gsub(' ', '-').gsub(/[^\w-]/, ''), state: v.state.abbrev.downcase) %></span> <br>
            <% if !v.venue_types.blank? %>
                (<%= v.venue_types.map(&:name).sort.join(", ") %>)
            <% end %>
               
          </div>
        </div>
      <% end %>
      <div class="col-xs-12 centered" style="margin:20px 0;">
        <%= link_to 'See All Dallas Event Venues', city_search_path(city: 'dallas', state:'tx'), class: 'btn btn-success btn-lg' %>
            </div> 
    </div>
    <div class="col-xs-12 city-listing">
      <h2>Houston Event Venues</h2>
      <% @houston_venues.each do |v| %>
        <div class="col-xs-12 col-md-4">
          <div class="city-listing-venue">
            <%= cl_image_tag(v.main_image_url, height: 200, width: 310, crop: :fill) %>
            <span class="name"><%= link_to v.name.truncate(30), venue_path(v, city: v.city.downcase.strip.gsub(' ', '-').gsub(/[^\w-]/, ''), state: v.state.abbrev.downcase) %></span> <br>
            <% if !v.venue_types.blank? %>
                (<%= v.venue_types.map(&:name).sort.join(", ") %>)
            <% end %>
          </div>
        </div>
      <% end %>
      <div class="col-xs-12 centered" style="margin:20px 0;">
        <%= link_to 'See All Houston Event Venues', city_search_path(city: 'houston', state:'tx'), class: 'btn btn-success btn-lg' %>
            </div> 
    </div>
    <div class="col-xs-12 city-listing">
      <h2>Austin Event Venues</h2>
      <% @austin_venues.each do |v| %>
        <div class="col-xs-12 col-md-4">
          <div class="city-listing-venue">
            <%= cl_image_tag(v.main_image_url, height: 200, width: 310, crop: :fill) %>
            <span class="name"><%= link_to v.name.truncate(30), venue_path(v, city: v.city.downcase.strip.gsub(' ', '-').gsub(/[^\w-]/, ''), state: v.state.abbrev.downcase) %></span> <br>
            <% if !v.venue_types.blank? %>
                (<%= v.venue_types.map(&:name).sort.join(", ") %>)
            <% end %>
          </div>
        </div>
      <% end %>
      <div class="col-xs-12 centered" style="margin:20px 0;">
        <%= link_to 'See All Austin Event Venues', city_search_path(city: 'austin', state:'tx'), class: 'btn btn-success btn-lg' %>
            </div> 
    </div>
    
    <div class="col-xs-12 city-listing">
      <h2>San Antonio Event Venues</h2>
      <% @san_antonio_venues.each do |v| %>
        <div class="col-xs-12 col-md-4">
          <div class="city-listing-venue">
            <%= cl_image_tag(v.main_image_url, height: 200, width: 310, crop: :fill) %>
            <span class="name"><%= link_to v.name.truncate(30), venue_path(v, city: v.city.downcase.strip.gsub(' ', '-').gsub(/[^\w-]/, ''), state: v.state.abbrev.downcase) %></span> <br>
            <% if !v.venue_types.blank? %>
                (<%= v.venue_types.map(&:name).sort.join(", ") %>)
            <% end %>
          </div>
        </div>
      <% end %>
      <div class="col-xs-12 centered" style="margin:20px 0;">
        <%= link_to 'See All San Antonio Event Venues', city_search_path(city: 'san-antonio', state:'tx'), class: 'btn btn-success btn-lg' %>
            </div> 
    </div>
    <div class="col-xs-12 city-listing">
      <h2>New Orleans Event Venues</h2>
      <% @new_orleans_venues.each do |v| %>
        <div class="col-xs-12 col-md-4">
          <div class="city-listing-venue">
            <%= cl_image_tag(v.main_image_url, height: 200, width: 310, crop: :fill) %>
            <span class="name"><%= link_to v.name.truncate(30), venue_path(v, city: v.city.downcase.strip.gsub(' ', '-').gsub(/[^\w-]/, ''), state: v.state.abbrev.downcase) %></span> <br>
            <% if !v.venue_types.blank? %>
                (<%= v.venue_types.map(&:name).sort.join(", ") %>)
            <% end %>
          </div>
        </div>
      <% end %>
      <div class="col-xs-12 centered" style="margin:20px 0;">
        <%= link_to 'See All New Orleans Event Venues', city_search_path(city: 'new-orleans', state:'la'), class: 'btn btn-success btn-lg' %>
            </div> 
    </div>
    
  </div><!-- .row -->
</div><!-- .container -->



