<h2>New User Review Posted</h2>
<p>
  <%= @review.venue.name %> in <%= @review.venue.city %>, <%= @review.venue.state.name %> has received a new user review from
  <%= @review.user.email %>.
</p>
<p>
  To view the review, <%= link_to 'click here', @url %>.
</p>
