<h2>New User Review Posted</h2>
<p>Hello!</p>
<p>
  VenueCenter is a one-stop online resource for customers to find the hottest and trendiest venues in their

  area.  Changing the way consumers and planners approach the event planning and booking process,

  VenueCenter.com has fulfilled the market’s need to deliver a user-friendly experience that facilitates a

  direct line of communication between venues and their target audiences.
</p>
<p>
  Your venue has received a new review from one of our users.
</p>
<p>
  To view the review, <%= link_to 'click here', @url %>.
</p>
