<% content_for :page_title do %>
    RFP Confirmation
<% end %>
<%= content_for :page_head do %>
    <style>
        p { font-size: 16px; margin: 20px 0 30px; }
    </style>
<% end %>
<div class="container">
  <div class="row">
    <div class="col-sm-12">
    	<div class="page-header">
            <h1>You're All Set!</h1>
        </div><!-- .page-header -->
        <p>Thank you for submitting your RFP to <strong><%= @rfp.venue.name %></strong>. We have forwarded your information to the venue manager and you should receive a response shortly. A member 
        of our team will also check in with you to make sure everything is going smoothly.</p>
        <p>Are you satisfied with your search? If so, you're all done. If not then feel free to keep searching for more venues. A good rule of thumb is to get at least 3 RFPs for your event 
        to make sure you're getting the best deal available.</p>
        <p class="centered"><%= link_to 'Find More Venues', home_path, { class: 'btn btn-success btn-lg' }  %></p>
    </div><!-- .col-sm-12 -->
  </div><!-- .row -->
</div><!--- .container -->