<% content_for :page_title do %>
  My RFPs
<% end %>
<div class="container">
  <div class="row">
    <div class="col-sm-12">
    	<div class="page-header">
        <h1>My RFPs</h1>
      </div>
      <p class="margin-bottom-20">Here is a list of all RFPs you've made. Please keep in mind each venue will
        contact you outside of this site.</p>
    	<table class="table">
    	  <thead>
    	    <tr>
    	      <th>Venue</th>
    	      <th>Event Type</th>
    	      <th># Guests</th>
    	      <th>Desired Date</th>
    	      <th>Max Budget</th>
            <th>Message</th>
    		    <th>Last Updated</th>
    		    <th>Status</th>
    	    </tr>
    	  </thead>

    	  <tbody>
    	    <% @rfps.each do |rfp| %>
    	      <tr>
              <td>
      				  <%= rfp.venue.name %><br>
      				  <%= rfp.venue.city %>, <%= rfp.venue.state.abbrev %>
      			  </td>
    	        <td><%= rfp.event_type.name %></td>
    	        <td><%= rfp.num_guests %></td>
    	        <td><%= rfp.desired_date.strftime('%b %e, %Y') %></td>
    			    <td><%= rfp.max_budget %></td>
              <td><%= rfp.message %></td>
    	        <td><%= rfp.updated_at.strftime('%m/%e/%Y') %></td>
    			    <td>
                <%= rfp.rfp_status.name %>
              </td>
    	      </tr>
    	    <% end %>
    	  </tbody>
    	</table>
    </div>
  </div>
</div>
