<% content_for :page_title do %>
 Create a New RFP for <%= @venue.name %>
<% end %>
<% content_for :page_head do %>
<link rel="stylesheet" href="https://code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
<script src="https://code.jquery.com/ui/1.11.2/jquery-ui.js"></script>
  <% unless @venue.meta_keywords.blank? %>
    <meta property="keywords" content="<%= @venue.meta_keywords %>" />
  <% end %>
  <% unless @venue.meta_description.blank? %>
    <meta property="description" content="Request a quote from <%= @venue.name %>" />
  <% end %>
<% end %>
<div class="container">
  <div class="row" style="border-bottom: 1px solid #e3e3e3;">
    <div class="col-xs-12 col-sm-7" style="margin-top: 40px; padding-right: 20px;">

      <h1>Create a New Request for Proposal</h1>
      <p style='font-size: 16px; line-height: 20px; margin: 20px 0 30px;'>
        <span class="venue-name"><%= @venue.name %></span><br>
      <%= @venue.address %><br>
      <%= @venue.city %>, <%= @venue.state.abbrev %>
      </p>

      <p>Thank you for your interest in having an event at <%= @venue.name %>. Please fill out the form below and your information will be forwarded to the venue manager.
      You can expect to receive more information in the next 24-48 hours.</p>
    </div>
    <div class="col-sm-5 hidden-xs" id="new-quote-header" style="margin: 20px 0;">
      <div class="new-quote-image">
        <%= cl_image_tag(@venue.main_image_url, width: 400, crop: :fill) %>
      </div>
    </div>


  </div>
  <div class="row">
    <div class="col-xs-12" id="new-rfp-form">
      <div>
        <%= form_for([:account, @rfp], url: '/account/rfps', method: 'post') do |f| %>
        <% if !@rfp.errors.empty? %>
          <div id="error_explanation">
            <h2><%= pluralize(@rfp.errors.count, "error") %> prohibited this request from being processed:</h2>
            <ul>
              <% @rfp.errors.full_messages.each do |message| %>
              <li><%= message %></li>
              <% end %>
            </ul>
          </div>
        <% end %>
        <div class="col-xs-12 col-sm-6">
          <h2 style="margin-bottom: 30px;">Tell Us About Your Event</h2>
          <div class="form-group">
             <%= f.label :event_type_id, 'Event Type (required)'%>
             <%= f.collection_select(:event_type_id, EventType.order('name'), :id, :name, {}, { class: 'form-control', required: true} )%>
          </div><!-- .form-group -->
          <div class="form-inline" style="margin-bottom: 15px;">
              <%= f.label :desired_date, 'Desired Date (required)' %><br>
              <%= f.text_field :desired_date, { class: 'form-control', required: true, style: "margin-right: 30px;"} %>

              <%= f.check_box :date_flexible %>&nbsp;<%= f.label :date_flexible, 'Date is flexible'%>
          </div><!-- .form-inline -->
          <div class="row">
            <div class="form-group col-xs-6">
               <%= f.label :num_guests, 'Guests (required)'%>
               <%= f.number_field :num_guests, { class: 'form-control', required: true }%>
            </div><!-- .form-group -->
            <div class="form-group col-xs-6">
               <%= f.label :max_budget, 'Budget (required)' %><br>
               <%= f.select :max_budget, "<option value='Up to $3000'>Up to $3000</option><option value='$3,001 - $6,000'>$3,001 - $6,000</option><option value='$6,000 - $10,000'>$6,000 - $10,000</option>
               <option value='$10,000+'>$10,000+</option>".html_safe, { include_blank: 'Select an option', class: 'form-control'}, required: true  %>
            </div><!-- .form-group -->
          </div>
          <div class="form-group">
             <%= f.label :message, 'Message to Venue' %>
             <%= f.text_area :message, { class: 'form-control', rows: 5 }%>
          </div><!-- .form-group -->
        </div>
        <div class='col-xs-12 col-sm-6'>
          <h2 style="margin-bottom: 30px;">Tell Us About Yourself</h2>
          <div class="form-group">
            <%= f.label :first_name, 'First Name (required)' %>
            <%= f.text_field( :first_name, { class: 'form-control', required: true }) %>
          </div><!-- .form-group -->
          <div class="form-group">
            <%= f.label :last_name, 'Last Name (required)' %>
            <%= f.text_field(:last_name, { class: 'form-control', required: true }) %>
          </div><!-- .form-group -->
          <div class="form-group">
            <%= f.label :email, 'Email Address (required)' %>
            <%= f.email_field(:email, { class: 'form-control', required: true }) %>
          </div><!-- .form-group -->
          <div class="form-group">
            <%= f.label :contact_phone, 'Contact Phone' %>
            <%= f.text_field :contact_phone, { class: 'form-control'}%>
          </div><!-- .form-group -->
          <div class="form-group">
            <%= f.check_box :overnight_needed %>
            <%= f.label :overnight_needed, 'I need overnight accomodations or referrals'%>
          </div><!-- .form-group -->
          <div class="form-group">
            <%= f.check_box :need_flight %>
            <%= f.label :need_flight, 'Someone will need a flight for this event.'%>
          </div><!-- .form-group -->
        </div>



        <div class="acenter" style='margin: 20px 0;'>
          <%= f.hidden_field(:venue_id, value: @venue.id) %>
           <input type="submit" value="Request Proposal" class="btn btn-success btn-lg" id="submit">
        </div>

      <% end %>
    </div><!-- #quote-form -->

    </div>


  </div>

</div>

 <script type="text/javascript">
    $( document ).ready(function() {
      $( "#rfp_desired_date" ).datepicker({ dateFormat: 'yy-mm-dd' });
      $( "#submit").click(function(){
        mixpanel.track("RFP Submitted", {
        "Venue": "<%= @venue.name %>",
        "User": "<% if !current_user.blank? %><%= current_user.email %><% else %>Unknown<% end %>",
        "Event Type": $('#rfp_event_type_id :selected').text(),
        "First Name": $('#rfp_first_name').val(),
        "Last Name": $('#rfp_last_name').val(),
        "Email": $('#rfp_email').val(),
        "Phone": $('#rfp_contact_phone').val(),
        "Guests": $('#rfp_num_guests').val(),
        "Desired Date": $('#rfp_desired_date').val(),
        "Date Flexible": $('#rfp_date_flexible').val(),
        "Budget Range": $('#rfp_max_budget').val(),
        "Message": $('#rfp_message').val(),
        "Overnight": $('#rfp_overnight_needed').val(),
        "Flight": $('#rfp_need_flight').val(),
      });
      });
    });
  </script>
