<% content_for :page_title do %>
  <% if !@loc.blank? %>
  <%= @loc %> <%= @stype %> Venues
  <% else %>
    Venue Search
  <% end %>
<% end %>
<% content_for :page_description do %>
  VenueCenter has a collection of the best event venues, party rentals, meeting rooms, unique venues, corporate event venues, and corporate meeting space to host your next event.
<% end %>
<style type="text/css">
footer { display: none; }
body { overflow-y: hidden; overflow-x: hidden;}
</style>

<div class="container-fluid" style="overflow-y: hidden;">
  <div class="row map-search">
  	<div class="hidden-xs col-sm-5" id="search-map"></div><!-- #search-map -->
    <div class="col-xs-12 col-sm-7" id="search-results">
      <div class="row" id="search-options">
        <div class="col-xs-12">
          <%= form_tag(new_search_path, method: "get", role: 'form') do %>
            <div class="row" id="basic-options">
              <div class="col-sm-4">
                <div class="form-group">
                  <%= label_tag(:q, 'Query') %>
                  <%= text_field_tag(:q, params[:q], { class: 'form-control' }) %>
                </div><!-- .form-group location -->
                
              </div><!-- .col-sm-4 -->
              <div class="col-sm-4">
                <div class="form-group">
                  <%= label_tag :location %>
                  <%= text_field_tag(:loc, @loc, { class: 'form-control' }) %>
                </div><!-- .form-group location -->
                <div class="form-group">
                  <%= label_tag :name, "Venue Name" %>
                  <%= text_field_tag(:name, params[:name], { class: 'form-control' }) %>
                </div><!-- .form-group venue-name -->
              </div><!-- .col-sm-4 -->
              <div class="col-sm-4">
                <div class="form-group">
                  <%= label_tag :venue_type, "Venue Type" %>
                  <%= select_tag(:venue_type, options_from_collection_for_select(VenueType.order(:name), :id, :name, params[:venue_type]), { prompt: "Select", class: 'form-control' }) %>
                </div><!-- form-group venue-type -->
                <div class="form-group">
                  <%= label_tag :capacity %>
                  <%= select_tag(:cap, options_from_collection_for_select(VenueCapacity.order(:id), :id, :name, params[:cap]), { prompt: "Select", class: 'form-control' }) %>
                </div><!-- .form-group capacity -->
              </div><!-- .col-sm-4 -->
            </div><!-- .row #basic-options -->
            <div class="acenter" id="show-advanced">
              <a class="btn btn-link" id="more-filters">More Filters</a>
            </div>
            <div class="row" id="advanced-options">
              <div class="col-sm-6">
                <div class="form-group">
                  <label>Space Type</label><br>
                  <label class="checkbox-inline">
                    <%= check_box_tag(:space_in, 1, params[:space_in]) %> Indoor
                  </label>
                  <label class="checkbox-inline">
                    <%= check_box_tag(:space_out, 1, params[:space_out]) %> Outdoor
                  </label>
                </div><!-- form-group space-type -->
                <div class="form-group">
                  <label>Price</label>
                  <div class="row">
                    <div class="col-sm-6">
                      <label class="checkbox-inline">
                        <%= check_box_tag(:p1, 1, params[:p1]) %> <span data-toggle="tooltip" title="($0-$2000)">$</span>
                      </label><br>
                      <label class="checkbox-inline">
                        <%= check_box_tag(:p2, 1, params[:p2] ) %> <span data-toggle="tooltip" title="($2,001-$5000)">$$</span>
                      </label>
                    </div>
                    <div class="col-sm-6">
                      <label class="checkbox-inline">
                        <%= check_box_tag(:p3, 1, params[:p3] ) %> <span data-toggle="tooltip" title="($5,001-$10,000)">$$$</span>
                      </label><br>
                      <label class="checkbox-inline">
                        <%= check_box_tag(:p4, 1, params[:p4] ) %> <span data-toggle="tooltip" title="($10,001+)">$$$$</span>
                      </label>
                    </div>
                </div>
                </div><!-- .form-group price -->
                <div class="form-group">
                  <label>Amenities</label>
                  <div class="row">
                    <div class="col-sm-6">

                      <label class="normal">
                        <%= check_box_tag(:av, 1, params[:av]) %> A/V Hookup
                      </label><br>
                      <label class="normal">
                        <%= check_box_tag(:beach, 1, params[:beach]) %> Beachfront
                      </label><br>
                      <label class="normal">
                        <%= check_box_tag(:cv, 1, params[:cv]) %> City View
                      </label><br>
                      <label class="normal">
                        <%= check_box_tag(:corkage, 1, params[:corkage]) %> Corkage
                      </label><br>
                      <label class="normal">
                        <%= check_box_tag(:gv, 1, params[:gv]) %> Garden View
                      </label><br>
                      <label class="normal">
                        <%= check_box_tag(:handicap, 1, params[:handicap]) %> Handicap Accessible
                      </label><br>
                      <label class="normal">
                        <%= check_box_tag(:kf, 1, params[:lv]) %> Kid Friendly
                      </label>
                    </div>
                    <div class="col-sm-6">
                      <label class="normal">
                        <%= check_box_tag(:lv, 1, params[:lv]) %> Lake View
                      </label><br>
                      <label class="normal">
                        <%= check_box_tag(:wifi, 1, params[:wifi]) %> Public Wi-Fi
                      </label><br>
                      <label class="normal">
                        <%= check_box_tag(:stage, 1, params[:stage]) %> Stage
                      </label><br>
                      <label class="normal">
                        <%= check_box_tag(:pets, 1, params[:pets]) %> Pet Friendly
                      </label><br>
                      <label class="normal">
                        <%= check_box_tag(:ov, 1, params[:ov]) %> Ocean View
                      </label><br>
                      <label class="normal">
                        <%= check_box_tag(:pool, 1, params[:pool]) %> Swimming Pool
                      </label><br>
                      <label class="normal">
                        <%= check_box_tag(:overnight, 1, params[:overnight]) %> Overnight Accomodations
                      </label>
                    </div>

                  </div><!-- .row -->
                </div><!-- .form-group amenities -->
                <div class="form-group">
                  <label>Catering</label>
                  <div class="row">
                    <div class="col-sm-6">
                      <label style="font-weight: normal;">
                        <%= check_box_tag(:on_cat, 1, params[:on_cat]) %> On-site Available
                      </label>
                    </div>
                    <div class="col-sm-6">
                      <label style="font-weight: normal;">
                        <%= check_box_tag(:off_cat, 1, params[:off_cat]) %> Off-site Permitted
                      </label>
                    </div>
                  </div><!-- .row -->
                </div><!-- form-group catering -->
              </div><!-- col-sm-6 -->
              <div class="col-sm-6">
                <div class="form-group">
                  <label>Drink Options</label>
                  <div class="row">
                    <div class="col-sm-6">
                      <label class="normal">
                        <%= check_box_tag(:wine, 1, params[:wine]) %> Wine
                      </label><br>
                      <label class="normal">
                        <%= check_box_tag(:beer, 1, params[:beer]) %> Beer
                      </label><br>
                      <label class="normal">
                        <%= check_box_tag(:full_bar, 1, params[:full_bar]) %> Full Bar
                      </label>
                    </div>
                    <div class="col-sm-6">
                      <label class="normal">
                        <%= check_box_tag(:out_alc, 1, params[:out_alc]) %> Outside Alcohol
                      </label><br>
                      <label class="normal">
                        <%= check_box_tag(:no_alc, 1, params[:no_alc]) %> No Alcohol
                      </label>
                    </div>
                  </div><!-- .row -->
                </div><!-- .form-group food-options -->
                <div class="form-group">
                  <label>Food Options</label>
                  <div class="row">
                    <div class="col-sm-6">
                      <label class="normal">
                        <%= check_box_tag(:kosher, 1, params[:kosher]) %> Kosher
                      </label><br>
                      <label class="normal">
                        <%= check_box_tag(:halal, 1, params[:halal]) %> Halal
                      </label><br>
                      <label class="normal">
                        <%= check_box_tag(:veg, 1, params[:veg]) %> Vegetarian
                      </label>
                    </div>
                    <div class="col-sm-6">
                      <label class="normal">
                        <%= check_box_tag(:gluten, 1, params[:gluten]) %> Gluten Free
                      </label><br>
                      <label class="normal">
                        <%= check_box_tag(:vegan, 1, params[:vegan]) %> Vegan
                      </label>
                    </div>
                  </div><!-- .row -->
                </div><!-- .form-group food-options -->
                <div class="form-group">
                  <label>Parking Options</label>
                  <div class="row">
                    <div class="col-sm-6">
                      <label class="normal">
                        <%= check_box_tag(:fp, 1, params[:fp]) %> Free Parking
                      </label><br>
                      <label class="normal">
                        <%= check_box_tag(:sp, 1, params[:sp]) %> Self Parking
                      </label>
                    </div>
                    <div class="col-sm-6">
                      <label class="normal">
                        <%= check_box_tag(:vp, 1, params[:vp]) %> Valet Parking
                      </label><br>
                      <label class="normal">
                        <%= check_box_tag(:gp, 1, params[:gp]) %> Garage Parking
                      </label>
                    </div>
                  </div><!-- .row -->
                </div><!-- .form-group food-options -->
              </div><!-- col-sm-6 -->
              <div class="col-sm-12 acenter margin-bottom-20">
                <button id="clear-filters">Clear Filters</button>
              </div>
            </div><!-- .row #advanced-options -->
            <div class="row">
              <div class="col-sm-6 col-sm-offset-3 acenter">
                <input type="submit" value="Refine Search" class="btn btn-success btn-block">
              </div>
            </div>
          <% end %>
        </div><!-- .col-sm-12 -->
      </div><!-- .row #search-options -->
      <% if @venues.count > 0 %>
      <div class="row" id="search-results-hdr">
        <% if !@loc.blank? %>
          <div class="col-xs-12 search-results-title">
            <h1><%= @stype %> Venues in <span style="text-transform: capitalize;"><%= @loc %></span></h1>
          </div>
        <% end %>
        <div class=" col-xs-12 col-sm-3 search-result-select">
          <label style="font-weight: normal;">Results per page</label>
          <%= select_tag 'rc', options_for_select({"20" => 20, "40" => 40, "60" => 60, "80" => 80, "100" => 100}, params[:rc]), style: 'padding: 5px;' %>
        </div>
        <div class="col-xs-12 col-sm-5 search-result-count" style="padding-top: 5px;">
          <%= page_entries_info @venues, :model => Venue %>
        </div>

        <div class=" col-xs-12 col-sm-4 search-sort" style="padding-left: 0;">
              <label class="col-sm-5 control-label" style="font-weight: normal; padding-top: 5px;">Sort by</label>
                <%= select_tag 'order', options_for_select({"Featured" => 1, "Distance" => 2, "Name" => 3, "Price Low to High" => 4, "Price High to Low" => 5}, @order), style: 'padding: 5px;' %>

        </div><!-- .col-sm-3 -->
      </div><!-- .row -->
      <div class="row" id="search-results-list">
        <div class="col-sm-12">
      	        <% @venues.each do |venue| %>
      	          <div class="col-sm-6 sri">
                    <div class="search-result-item">
                      <%= link_to venue_path(venue, city: venue.city.downcase, state: venue.state.abbrev.downcase) do %>
          	              <div class="search-venue-image"
                            <% if venue.main_image_url.nil? %>
                              style="background-image: url('/assets/nophoto.jpg');"
                            <% else %>
                              style="background-image: url('<%= venue.main_image_url %>');"
                            <% end %>>
                          </div>
                        <% end %>
      	              <div class="details">
      	                <span class="vname"><%= link_to venue.name, venue_path(venue, city: venue.city.downcase, state: venue.state.abbrev.downcase) %></span><br>
              					<div class="row">
              						<div class="col-xs-6">
              			                <%= venue.address%> <%= venue.address2 %><br>
              							<%= venue.city %>, <%= venue.state.abbrev %><br>
                                          <% if !venue.venue_types.blank? %>
                                              <small>(<%= venue.venue_types.map(&:name).sort.join(", ") %>)</small>
                                          <% end %>
              						</div>
              						<div class="col-xs-6">
                            <% if !venue.price.blank? %>
              							       <strong>Price: </strong>
                                   <% if venue.price == 1 %><span data-toggle="tooltip" title="($0-$2000)">$</span><% end %>
                                   <% if venue.price == 2 %><span data-toggle="tooltip" title="($2,001-$5000)">$$</span><% end %>
                                   <% if venue.price == 3 %><span data-toggle="tooltip" title="($5,001-$10,000)">$$$</span><% end %>
                                   <% if venue.price == 4 %><span data-toggle="tooltip" title="($10,001+)">$$$$</span><% end %>
                                   <br>
                            <% end %>
                            <% if !venue.venue_capacity_id.blank? %>
          							       <strong>Capacity: </strong> <%= venue.venue_capacity.name %>
                            <% end %>
              						</div>
              					</div>
      	              </div><!-- .details -->
                    </div>
      	          </div><!-- col-sm-6 -->
      	        <% end %>

            </div><!-- .col-sm-12 -->
            <div class="col-sm-12 acenter">
              <%= will_paginate @venues %>
            </div>

      </div><!-- .row #search-results-list -->
      <% else %>
        <div class="row">
          <div class="col-sm-12 no-search-results">
            <p>We're sorry but no venues could be found matching the criteria you selected.</p>
            <p>We would love to help you find the perfect venue for your event, so please fill out the form below to give us more details about your needs.
              Also if you'd just like to be notified when we have more venues that meet your search criteria, just leave us your email address.
            </p>
            <div style="margin-top: 30px;">
              <%= form_tag('search/get-info', methond: 'post') do %>
                  <div class="form-group">
                    <label for="description">What are you looking for?</label>
                    <textarea id="description" name="description" class="form-control" rows="10" placeholder="Please be as descriptive as possible so we can find the best venue to meet your needs."></textarea>
                  </div>
                  <% unless user_signed_in? %>
                  <div class="form-group">
                    <label for="email">Email Address</label>
                    <input type="email" id="email" name="email" class="form-control" placeholder="We just need this to contact you with your results." required/>

                  </div>
                  <% end %>
                  <input type="hidden" id="search_criteria" name="search_criteria" value='<%= params %>' />
                  <input type="submit" value="Submit" class="btn btn-success acenter" />
              <% end %>
            </div>
          </div>
        </div>
      <% end %>
    </div><!-- col-sm-7 #search-results -->

  </div><!-- .row #map-search -->
</div><!-- .container-fluid -->
<% if !@location.blank? %>

  <script type="text/javascript">
  //Load map
  $( document ).ready(function() {
    var mapOptions = {
      center: { lat: <%= @location[0].latitude %>, lng: <%= @location[0].longitude %> },
      zoom: 14
    };
    var map = new google.maps.Map(document.getElementById('search-map'),
    mapOptions);

    var pinColor = "5CB85C";
    var pinImage = new google.maps.MarkerImage("http://chart.apis.google.com/chart?chst=d_map_pin_letter&chld=%E2%80%A2|" + pinColor,
        new google.maps.Size(21, 34),
        new google.maps.Point(0,0),
        new google.maps.Point(10, 34));
    var pinShadow = new google.maps.MarkerImage("http://chart.apis.google.com/chart?chst=d_map_pin_shadow",
        new google.maps.Size(40, 37),
        new google.maps.Point(0, 0),
        new google.maps.Point(12, 35));


    //Add markers
    <% @locs.each do |loc| %>

    var contentString = '<%= loc.name %><br><%= loc.address %><br><%= loc.city %>, <%= loc.state.abbrev %><Br>' +
      '<%= link_to 'View Details',  venue_path(loc, :city => loc.city.downcase, state: loc.state.abbrev.downcase) %>';

    var infoWindow = new google.maps.InfoWindow({
      content: contentString
    });
    var marker = new google.maps.Marker({
      position: new google.maps.LatLng(<%= loc.lat %>, <%= loc.lng %>),
      map: map,
      title: '<%= loc.name %>',
      animation: google.maps.Animation.DROP,
      info: contentString,
      icon: pinImage,
      shadow: pinShadow
    });
    marker.setMap(map);

    google.maps.event.addListener(marker, 'click', function() {
      infoWindow.setContent( this.info );
      infoWindow.open( map,this );
    });
    <% end %>
  });
  </script>
<% else %>
  <script type="text/javascript">
    $( document ).ready(function() {
      $("#search-map").hide();
      $("#search-results").removeClass("col-sm-7");
      $("#search-results").addClass("col-sm-12");
      $(".sri").removeClass("col-sm-6");
      $(".sri").addClass("col-sm-4");
    });
  </script>

<% end %>
<script type="text/javascript">
  $(document).ready(function() {
    $('#more-filters').click(function () {
      $('#advanced-options').show();
      $('#show-advanced').hide();
    });
    $('#clear-filters').click(function(){
      $('input:checkbox').removeAttr('checked');
    });
    $('#rc').on('change', function() {
      $url = $(location).attr('href');
      window.location.href = replaceUrlParam($url, 'rc', this.value);
    });
    $('#order').on('change', function() {
      $url = $(location).attr('href');
      window.location.href = replaceUrlParam($url, 'order', this.value);
    });

    function replaceUrlParam(url, paramName, paramValue){
    var pattern = new RegExp('('+paramName+'=).*?(&|$)')
    var newUrl=url
    if(url.search(pattern)>=0){
        newUrl = url.replace(pattern,'$1' + paramValue + '$2');
    }
    else{
        newUrl = newUrl + (newUrl.indexOf('?')>0 ? '&' : '?') + paramName + '=' + paramValue
    }
    return newUrl
}
  });
</script>

