// Place all the styles related to the Account controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.profile-img {
  float: left;
  margin: 0px 20px 20px 0;
}
