h1, h2, h3, h4 {
  font-family: Helvetica, Arial, sans-serif;
  color: #000;
}

h1 {
	font-size: 24pt;
}
.admin-link-btn {
  margin-top: 20px;
}

.table-label {
  font-weight: 600;
}

.venue-details-section {
  margin-top: 10px;
  margin-bottom: 10px;
}
