/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_self
 *= require active_admin/editor/wysiwyg
 *= require_tree .

 */
@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";
@import url("//fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800&amp;lang=en");
html, body {
  height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
  font-family: "Helvetica-Neue", Helvetica, Arial, sans-serif;
  color: #565A5C;
  -moz-osx-font-smoothing: grayscale;
  font-size: 14px;
  line-height: 1.43;
  background-color: #e3e3e3;
}


.wrapper {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -80px;
}

header {
    position: relative;
    top:0;
    width: 100%;
    background: none repeat scroll 0% 0% #FFF;
    border-bottom: 1px solid #CCC;
    z-index: 1000000;
}
.header{
  padding-top: 20px;
  margin-bottom: 20px;

  .nav { margin-top: 10px;}
}

header .container {
    position: relative;
}

.navbar-brand > img {
  margin-top: -20px;
}
#sign-in {
    position: absolute;
    top: 7px;
    right: 150px;
    font-size: 12px;
    z-index: 101;
    height: 50px;
    line-height: 40px;
    padding-right: 10px;
}

#sign-in i {
    font-size: 16px;
    padding: 0px 6px;
    display: inline-block;
    color: #777;
}

#social_media_wrapper {
    background: none repeat scroll 0% 0% #55a32a;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
    display: inline-block;
    position: absolute;
    top: 0px;
    z-index: 101;
    overflow: hidden;
    padding: 10px;
    text-align: center;

    @media screen and (min-width: $screen-sm-min) {

      right: 15px;
    }
}

#social_media_wrapper a {
    text-align: center;
    display: block;
    float: left;
    margin: 0px 3px;
    background-color: #FFF;
    border-radius: 50%;
    font-size: 14px;
    width: 30px;
    height: 30px;
    padding: 6px;
    transition: all 100ms linear 0s;
	  color: #55a32a;
}

footer, .push {
  height: 80px;
}

footer {
  height: 80px;
  background-color: #000;
  color: #95a5a6;
  bottom: 0;
  width: 100%;
  padding-top: 20px;

  ul.footer-nav {
    margin-top: 15px;
    list-style-type: none;
    li {
      display: inline;
      padding: 20px;
      text-align: center;

      a:link, a:visited { color: #fff;}
    }
  }
}
h1, h2, h3, h4, h5 { margin-top: 5px; }
h1 {
  font-family: 'Open Sans', sans-serif;
  font-size: 26px;
  font-weight: 800;
  color: #88c33f;
  .home-special {
    margin-top: 20px;
  }
}
h2 { font-family: 'Open Sans', sans-serif;font-size: 22px; font-weight: 700; }
h3 { font-family: 'Open Sans', sans-serif;font-size: 18px; font-weight: 600; }
h4 { font-family: 'Open Sans', sans-serif;font-size: 16px; color: #88C33F; }

.page-header h1 { font-size: 26px; margin-bottom: 10px; }
a, a:visited { color: #55a32a; }
a:hover { background: none; color: #000;}
a.btn-success, a.btn-success:visited { color: #fff; }

.aleft { text-align: left; }
.acenter { text-align: center; }
.aright { text-align: right; }


.green { color: #6eaa41; }

.content {
	padding-top: 40px;
	padding-bottom: 40px;
}

.navbar-main {
	margin: 25px 0;
	background-color: transparent !important;
	border: medium none !important;
	background-image: none;
	box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.067);
	padding: 0px;
}

.navbar-main .nav {
	margin: 10px  0 0;
}

.navbar-main .nav li a {
  margin: 0px 3px;
  background-color: transparent !important;
  border-bottom: 1px solid transparent;
	font-size: 15px;
	font-weight: 400;
	color: #000;
}

.navbar-main .nav li a:hover {
  color: #88c33f;
}

.btn-success a, .btn-success a:visited {
  color: #fff;
}

.normal {
  font-weight: normal;
}


/*Registration and Login Page v1
------------------------------------*/
.reg-page {
	color: #555;
	padding: 30px;
	background: #fefefe;
	border: solid 1px #eee;
	box-shadow: 0 0 3px #eee;
}

/*Reg Header*/
.reg-header {
	color: #555;
	text-align: center;
	margin-bottom: 35px;
	border-bottom: solid 1px #eee;
}

.reg-header h2 {
	font-size: 24px;
	margin-bottom: 15px;
}

/*Reg Forms*/
.reg-page label {
	color: #777;
}
.margin-top-20 {
	margin-top: 20px;
}
.margin-bottom-20 {
 	margin-bottom: 20px;
}

.btn-u {
border: 0;
color: #fff;
font-size: 14px;
cursor: pointer;
font-weight: 400;
padding: 6px 13px;
position: relative;
background: #72c02c;
white-space: nowrap;
display: inline-block;
text-decoration: none;
}

.form-control {
display: block;
width: 100%;
height: 34px;
padding: 6px 12px;
font-size: 14px;
line-height: 1.42857143;
color: #555;
background-color: #fff;
background-image: none;
border: 1px solid #ccc;
box-shadow: none;
}

.notice {
	padding-top: 20px;
	padding-bottom: 10px;
	color: green;
	font-weight: bold;
	font-size: 16px;
}

.page-header {
  margin-top: 20px;
  h1 {
    color: #000;
  }
}


.btn-success {
  background-color: #55a32A;
}

.btn-warning {
  background-color: #F57722;
  .hover {
    background-color: #F57722;
  }
}
