// Place all the styles related to the Cities controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.city-listing {
  padding-top: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #e3e3e3;
  
  h2 {
    text-align: center;
    font-size: 32px;
  }
  
  .city-listing-venue {
    text-align: center;
    min-height: 175px;
    margin: 10px;
    a {
      color: #000;
      .hover {
        text-decoration: underline;
      }
    }
    .name {
      line-height: 1.6em;
      font-size: 1.3em;
      font-weight: 400;
    }
  }
}