// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.carousel-inner > .item {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 70%;
  z-index: 1;
  height: 428px;
}

.carousel-control {
  z-index: 10000;
}

.carousel-control .glyphicon-chevron-left, .carousel-control .icon-prev {
  margin-left: -50px;
}

.carousel-control .glyphicon-chevron-right, .carousel-control .icon-next {
    margin-right: -50px;
}

.home-search-form {
    background: rgba(0,0,0,0.7);
    color: #fff;
    margin-top: 165px;
    padding: 20px 10px 30px;
    z-index: 100;
    position: absolute;
    top: 0;
  @media screen and (max-width: 700px) {
    margin-top: 15px;
  }

  h1 {
   color: #fff;
   margin-bottom: 20px;
  }

  .input-group {
    @media screen and (max-width: 700px) { width: 100%; }
    input, select, input[type=submit] { height: 40px; }
  }

  label {
    text-align: left;
    font-size: 20px;
  }


  .xs-mb-20 {
    @media screen and (max-width: 700px) {
      margin-bottom: 20px;
      label { margin-bottom: 20px; }
    }

  }
}

h2.home-special {
  font-size: 48px;
}
h2.home-section {
  margin-bottom: 10px;
  border-bottom: 1px solid #000;
  padding-bottom: 10px;
  color: #000;
}

.home-icon {
  font-size: 40pt;
  margin: 20px 0 10px;
  color: #6eaa41;
}

.blog-post {
  margin-bottom: 20px;

  img {
      float: none !important;
      text-align: center;
      display: block;
      width: 100%;
      height: 200px;  }

  .blog-title {
    h3 {  }
    z-index: 1000;
   //position: relative;
    //top: 270px;
    color: #fff;
    text-align: center;
    padding: 10px;
    margin-top: -40px;
  }
  p {
    display: none;
    max-width: 100%;
    padding: 10px 0 5px;
    font-size: .95em;
  }

  p:first-of-type {
    display: block;
    color: #fff;
    font-size: 0;
  }
}

h1.home-special {
  font-size: 48px;
  font-weight: 300;
  text-align: center;
  color: #000;
  @media screen and (max-width: 700px) {
    font-size: 28px;
    font-weight: bold;
  }

  .small {
    font-size: .8em;
  }
}

h2.home-special {
  text-align: center;
  font-weight: 500;
  font-size: 30px;
  @media screen and(max-width: 700px) {
    font-size: 16px;
  }

}

p.home-special {
    text-align: center;
    line-height: 27px;
    font-size: 21px;
}

.home-3up {
  text-align: center;
}

.hm-newsletter-join {
  margin-top: -5px;
  @media screen and (max-width: 400px) {
    margin: 10px 0 20px;
  }
}

.hm-newsletter-signup-fields {
  margin: 15px 0 10px ;
  @media screen and (max-width: 500px) {
    margin: 0 0 20px;
  }
}

.home-cities {
    font-size: 26px;
    font-weight: bold;
    line-height: 1.5em;
    text-align: center;
    a, a:visited {
      color: #fff;
      text-shadow: 2px 2px #000;
    }
    a:hover {
      text-decoration: none;
      color: #FFF;
      font-size: 32px;
    }
    height: 200px;
    width: 100%;
    padding-top:80px;
    margin: 0 5px;
  }

.home-cities.houston {
      background-image: url('https://res.cloudinary.com/venuecenter/image/upload/v1429140073/14917618464_6c303b3c8d_z_aymshu.jpg');
      background-repeat: no-repeat;
      background-size: cover;
      background-position: 50% 50%;
    }

.home-cities.dallas {
      background-image: url('https://res.cloudinary.com/venuecenter/image/upload/v1429140049/13247721574_fd26c44164_z_wufojf.jpg');
      background-repeat: no-repeat;
      background-size: cover;
      background-position: 50% 50%;
    }

.home-cities.austin {
      background-image: url('https://res.cloudinary.com/venuecenter/image/upload/v1429139741/7553959762_2f71bf9c4a_z_mxoqpw.jpg');
      background-repeat: no-repeat;
      background-size: cover;
      background-position: 50% 50%;
    }


.form-control, .btn {
  border-radius: 0;
}

#contact-image {
  width: 100%;
  height: 400px;
  background-image: url('https://res.cloudinary.com/venuecenter/image/upload/v1421817334/contactpage_kkomkb.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 70%;
  margin-bottom: 20px;
}



.npl { padding-left: 0 }
