// Place all the styles related to the Search controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.map-search {
	position: absolute;
	top: 130px;
	bottom: 0;
	left: 0;
	right: 0;
	overflow-x: hidden;
	overflow-y: hidden;
}
#search-map {
  padding-left: 10px;
  padding-right: 10px;
  position: fixed;
  top: 0;
  bottom: 0;
  display: block;
  height: 100%;
  left: 0;
  right: auto;
}

#search-options {
  background: #E9EAED;
  margin-bottom: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.no-search-results {
	margin-top: 20px;

	p { font-size: 1.3em; line-height: 1.5em;}
}

#search-results {
	position: fixed;
	top: 130px;
	bottom: 0;
	display: block;
	left: auto;
	right: 0;
	overflow-y: scroll;
	overflow-x: hidden;
}

.search-results-title {
	h1 {
		margin-bottom: 20px;
	}
}

#search-results-hdr{
  margin: 0px 10px -20px;
  margin: 0 -15px -10px;
  border-bottom: 1px solid #CCC;
	padding-bottom: 5px;

	.search-result-select {
		text-align: center;
		@media screen and (min-width: 768px) {
			text-align: left;
		}
	}

	.search-result-count {
		text-align: center;
		margin: 5px 0 10px;
		@media screen and (min-width: 768px) {
			margin: 0;
		}
	}

	.search-sort {
		text-align: center;
		@media screen and (min-width: 768px) {
			text-align: right;
		}
	}

}

#search-results-list {
  min-height: 600px;
}


.search-result-item {

  height: 370px;
  margin-top: 20px;
  margin-bottom: 10px;
  border: 1px solid #E9EAED;
  a, a:hover{
    text-decoration: none;
    color: #fff;
  }

  .search-venue-image {
    height: 250px;
    border-bottom: 1px solid #000;
    background-image: url('http://res.cloudinary.com/venuecenter/image/upload/v1416492774/sample-venue-header-image_ujggwi.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    background-color: #F5F5F5;

    .featured-venue {
      background: #88c33f;
      color: #fff;
      text-align: center;
      padding: 5px;
      //position: relative;
      //top: 223px;


    }
  }
  .details {
    background: #fff;
    padding: 10px;
		height: auto;
	strong {
	  font-weight: 600;
	}
    .vname{
      font-weight: 800;
      font-size: 1.25em;
	  margin-bottom: 10px;

	  a {
		  color: #000;
	  }
    }
  }
}

#show-advanced {
	margin: -10px 0 10px;
}

#advanced-options {
	display: none;
}
