// Place all the styles related to the Vendors controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#vendor-desc {
  h1, h2 {
    font-family: 'Lato', Helvetica, sans-serif !important;
    margin-bottom: 30px;
    color: #34495E !important;
  }

  h1 {
    font-size: 40px !important;
  }

  h2 {
    font-size: 34px !important;
  }
  p {
    font-family: 'Lato', Helvetica, sans-serif;
      font-size: 18px;
      line-height: 1.5em;
      color: #34495E !important;
  }
  #vendor-signup-form {
    label {
      color: #34495E !important;
    }
  }
}
