// Place all the styles related to the Venue controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

h1 {
  font-size: 26px;
}

h3 {
  font-weight: 800;
  font-size: 1.5em;
}

h4 {
	font-weight: bold;
}

.venue-header-photo {
  //background-image: url('http://res.cloudinary.com/venuecenter/image/upload/v1416492774/sample-venue-header-image_ujggwi.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-color: #F5F5F5;
  height: 450px;

}

.not-found {
  h1 { margin: 30px 0 ;}
  p {
    font-size: 16px;
    line-height: 24px;
  }
}

.venue-contact-details {
  background-color: #fff;
}

#quote-form .form-horizontal .control-label { text-align: left; font-weight: 400; }

.venue-section {
  margin: 20px 0;
}

.venue-details-search {
  background-color: #f5f5f5;
  padding-top: 20px;
  padding-bottom: 20px;
}
.venue-details {
  padding-top: 10px;
  padding-bottom: 10px;

  .venue-label {
    font-weight: 600;
    font-size: 1.3em;
    border-bottom: 1px solid #e3e3e3;
    padding-bottom: 10px;
    margin: 10px 0;
    i {
      margin-right: 10px;
    }

  }
}

.venue-contact-info {
  padding-bottom: 10px;
  background-color: #000;
  color: #fff;

  h1{
    color: #fff;
    font-size: 24px;
    margin-bottom: 0;
  }

  a:hover {
    color: #fff;
    text-decoration: none;
  }
}

.venue-sidebar {
  padding: 15px;
}

.venue-save-options {
  margin-top: 15px;

}

#venue-map {
  height: 500px;
  width: 100%;
  margin-top: 20px;
  @media screen and (max-width: 767px) {
		height: 250px;
	}
}

.tab-pane {
  padding: 20px;
  border-left: 1px solid #e3e3e3;
  border-right: 1px solid #e3e3e3;
  border-bottom: 1px solid #e3e3e3;
  min-height: 200px;
}



.venue-image {
  margin-bottom: 20px;
  height: 200px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0 0;
  float: left;
}

#new-review-panel {
  display: none;
}

.yelp-review {
  margin: 20px 0;
}

.review-title {
  font-weight: 600;
  margin-bottom: 10px;
  font-size: 1.3em;
  color: #666;
}

.review-categories {
  margin-bottom: 10px;
}

.review-text {
  padding-bottom: 10px;
  border-bottom: 1px solid #e3e3e3;
  margin-bottom: 10px;
}

.review-recommendations {
  font-style: italic;
}
