<p style="margin-bottom: 20px;"><%= cl_image_tag('logo_dark_h9sqzh.png', alt: 'Venue Center') %></p>
<p>Welcome <%= @email %>!</p>
<p>Thank you for registering at VenueCenter. Your account is created and must be activated before you
  can use it.</p>

<p>To activate your account click on the following link or copy and paste it in your browser:<br>
  <%= link_to confirmation_url(@resource, confirmation_token: @token), confirmation_url(@resource, confirmation_token: @token) %>
</p>

<p>
  Our support center is ready to assist you with any needs you may have regarding the use of our site,
  so please do not hesitate to contact us at <%= mail_to 'support@venuecenter.com', 'support@venuecenter.com' %>.
</p>

<p>
  Thanks for using VenueCenter!<br>
  The VenueCenter Team
</p>

<p >
  <span style="font-style: italic;">Copyright &copy; 2014 VenueCenter, All rights reserved</span><br>
  311 N Market St. Floor 2, Dallas, TX 75202 // P 214.308.2033 F 214.308.2044 // <%= link_to 'VenueCenter.com', 'http://venuecenter.com' %>
</p>
