<p style="margin-bottom: 20px;"><%= cl_image_tag('logo_dark_h9sqzh.png', alt: 'Venue Center') %></p>

<p>Hi <%= @resource.first_name %>,</p>

<p>You recently indicated you forgot your VenueCenter.com password. You can do this through the link below:</p>

<p><%= link_to 'Change my password', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>If you didn't request this, please ignore this email.</p>
<p>Your password won't change until you access the link above and create a new one.</p>

<p>Thanks for using VenueCenter!<br>
  The VenueCenter Team</p>

<p >
  <span style="font-style: italic;">Copyright &copy; 2014 VenueCenter, All rights reserved</span><br>
  311 N Market St. Floor 2, Dallas, TX 75202 // P 214.308.2033 F 214.308.2044 // <%= link_to 'VenueCenter.com', 'http://venuecenter.com' %>
</p>
