<% content_for :page_title do %>
  Venue Manager - Change Your Password
<% end %>
<% content_for :page_keywords do %>
  Change Password
<% end %>
<% content_for :page_description do %>
  Venue Manager change your password
<% end %>

<div class="container content">
  <div class="row">
    <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 reg-page">
      <div class="reg-header">
        <h1>Change Your Password</h1>
        <p>Enter your new password below</p>
        </div><!-- .reg-header-->
        <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
          <%= devise_error_messages! %>
          <%= f.hidden_field :reset_password_token %>

          <div class="form-group">
            <%= f.label :password, "New password" %>
            <%= f.password_field :password, autofocus: true, autocomplete: "off", class: 'form-control margin-bottom-20' %>
          </div>

          <div class="form-group">
            <%= f.label :password_confirmation, "Confirm new password" %>
            <%= f.password_field :password_confirmation, autocomplete: "off", class: 'form-control margin-bottom-20' %>
          </div>

          <div class="actions">
            <%= f.submit "Change my password", class: 'btn btn-success btn-lg btn-block' %>
          </div>
        <% end %>
        <div class="acenter">
          <%= render "biz/shared/links" %>
        </div><!-- .acenter -->
      </div><!-- .reg-header-- >
      </div><!-- .col-md-6 -->
    </div><!-- .row -->
</div><!-- .container .content -->
