<% content_for :page_title do %>
 <%= @venue.name %> in <%= @venue.city %>, <%= @venue.state.abbrev %>
<% end %>

<% content_for :page_head do %>
<link rel="canonical" href="http://venuecenter.com/<%= @venue.state.abbrev.downcase %>/<%= @venue.city.downcase %>/<% if @venue.slug.blank? %><%= @venue.id %><% else %><%= @venue.slug.downcase %><% end %>" />
  <meta property="og:url" content="<%= request.original_url %>" />
  <meta property="og:title" content="<%= @venue.name %> in <%= @venue.city %>, <%= @venue.state.abbrev %> | VenueCenter" />
  <meta property="og:image" content="<%= @venue.main_image_url %>" />
  <meta property="og:description" content="<%= @venue.name %> in <%= @venue.city %>, <%= @venue.state.abbrev %>" />
<% end %>
<% unless @venue.meta_keywords.blank? %>
  <% content_for :page_keywords do %>
    <%= @venue.meta_keywords %>
  <% end %>
<% end %>
<% content_for :page_description do %>
  <% if @venue.meta_description.blank? %> Have your next event at <%= @venue.name %> in <%= @venue.city %>, <%= @venue.state.abbrev %>. Thank you for using VenueCenter<% else %><%= @venue.meta_description %><% end %>
<% end %>
<link rel="stylesheet" href="http://code.jquery.com/ui/1.11.2/themes/smoothness/jquery-ui.css">
<div class="container-fluid" id="venue-page-content">
  <div class="row">
    <div class="hidden-xs col-sm-3 venue-details-search">
      <h3>Venue Search</h3>
      <%= form_tag("/search", method: "get", role: 'form') do %>
        <div class="form-group">
          <%= label_tag :location %>
          <%= text_field_tag(:loc, @search.blank? ? nil : @search.location, { class: 'form-control' }) %>
        </div><!-- .form-group location -->
        <div class="form-group">
          <%= label_tag :name, "Venue Name" %>
          <%= text_field_tag(:name, @search_info.blank? ? nil : @search_info['name'], { class: 'form-control' }) %>
        </div><!-- .form-group venue-name -->
        <div class="form-group">
          <%= label_tag :venue_type, "Venue Type" %>
          <%= select_tag(:venue_type, options_from_collection_for_select(VenueType.order(:name), :id, :name, @search_info.blank? ? nil : @search_info['venue_type']), { prompt: "Select", class: 'form-control' })%>
        </div><!-- form-group venue-type -->
        <div class="form-group">
          <%= label_tag :g, 'Guests' %>
          <div class="input-group">
            <%= number_field_tag(:g, @search.blank? ? nil : @search.num_guests, { class: 'form-control' }) %> <div class="input-group-addon">people</div>
          </div>
        </div><!-- .form-group capacity -->
        <div class="form-group">
          <label>Price</label><br>
          <label class="checkbox-inline">
            <%= check_box_tag(:p1, 1, @search_info.blank? ? nil : @search_info['p1']) %> <span data-toggle="tooltip" title="($0-$2,000)">$ - Inexpensive</span>
          </label>
          <label class="checkbox-inline">
            <%= check_box_tag(:p2, 1, @search_info.blank? ? nil : @search_info['p2'] ) %> <span data-toggle="tooltip" title="($2,001-$5000)">$$ - Affordable</span>
          </label>
          <label class="checkbox-inline">
            <%= check_box_tag(:p3, 1, @search_info.blank? ? nil : @search_info['p3'] ) %> <span data-toggle="tooltip" title="($5,001-$10,000)">$$$ - Moderate</span>
          </label>
          <label class="checkbox-inline">
            <%= check_box_tag(:p4, 1, @search_info.blank? ? nil : @search_info['p4'] ) %> <span data-toggle="tooltip" title="($10,001+)">$$$$ - Expensive</span>
          </label>
        </div><!-- form-group -->
        <div class="form-group">
          <label>Space Type</label><br>
          <label class="checkbox-inline">
            <%= check_box_tag(:space_in, 1, @search_info.blank? ? nil : @search_info['space_in']) %> Indoor
          </label>
          <label class="checkbox-inline">
            <%= check_box_tag(:space_out, 1, @search_info.blank? ? nil : @search_info['space_out']) %> Outdoor
          </label>
        </div><!-- form-group space-type -->

        <div class="form-group">
          <label>Catering</label><br>
          <label class="normal">
            <%= check_box_tag(:on_cat, 1, @search_info.blank? ? nil : @search_info['on_cat']) %> Onsite Available
          </label>
          <label class="normal">
            <%= check_box_tag(:off_cat, 1, @search_info.blank? ? nil : @search_info['off_cat']) %> Off-Site Permitted
          </label>
        </div><!-- form-group catering -->
        <div id="advanced-search-options">
          <div class="form-group">
            <label>Drink Options</label>
            <div class="row">
              <div class="col-sm-12">
                <label class="normal">
                  <%= check_box_tag(:wine, 1, @search_info.blank? ? nil : @search_info['wine']) %> Wine
                </label><br>
                <label class="normal">
                  <%= check_box_tag(:beer, 1, @search_info.blank? ? nil : @search_info['beer']) %> Beer
                </label><br>
                <label class="normal">
                  <%= check_box_tag(:full_bar, 1, @search_info.blank? ? nil : @search_info['full_bar']) %> Full Bar
                </label><br>
                <label class="normal">
                  <%= check_box_tag(:out_alc, 1, @search_info.blank? ? nil : @search_info['out_alc']) %> Outside Alcohol
                </label>
              </div>
            </div><!-- .row -->
          </div><!-- .form-group -->
          <div class="form-group">
            <label>Food Options</label>
            <div class="row">
              <div class="col-sm-12">
                <label class="normal">
                  <%= check_box_tag(:kosher, 1, @search_info.blank? ? nil : @search_info['kosher']) %> Kosher
                </label><br>
                <label class="normal">
                  <%= check_box_tag(:halal, 1, @search_info.blank? ? nil : @search_info['halal']) %> Halal
                </label><br>
                <label class="normal">
                  <%= check_box_tag(:veg, 1, @search_info.blank? ? nil : @search_info['veg']) %> Vegetarian
                </label><br>
                <label class="normal">
                  <%= check_box_tag(:gluten, 1, @search_info.blank? ? nil : @search_info['gluten']) %> Gluten Free
                </label><br>
                <label class="normal">
                  <%= check_box_tag(:vegan, 1, @search_info.blank? ? nil : @search_info['vegan']) %> Vegan
                </label>
              </div>
            </div><!-- .row -->
          </div><!-- .form-group -->
          <div class="form-group">
            <label>Parking Options</label>
            <div class="row">
              <div class="col-sm-12">
                <label class="normal">
                  <%= check_box_tag(:fp, 1, @search_info.blank? ? nil : @search_info['fp']) %> Free Parking
                </label><br>
                <label class="normal">
                  <%= check_box_tag(:sp, 1, @search_info.blank? ? nil : @search_info['sp']) %> Self Parking
                </label><br>
                <label class="normal">
                  <%= check_box_tag(:vp, 1, @search_info.blank? ? nil : @search_info['vp']) %> Valet Parking
                </label><br>
                <label class="normal">
                  <%= check_box_tag(:gp, 1, @search_info.blank? ? nil : @search_info['gp']) %> Garage Parking
                </label>
              </div>
            </div><!-- .row -->
          </div><!-- .form-group -->
          <div class="form-group">
            <label>Amenities</label>
            <div class="row">
              <div class="col-sm-12">

                <label class="normal">
                  <%= check_box_tag(:av, 1, @search_info.blank? ? nil : @search_info['av']) %> A/V Hookup
                </label><br>
                <label class="normal">
                  <%= check_box_tag(:beach, 1, @search_info.blank? ? nil : @search_info['beach']) %> Beachfront
                </label><br>
                <label class="normal">
                  <%= check_box_tag(:cv, 1, @search_info.blank? ? nil : @search_info['cv']) %> City View
                </label><br>
                <label class="normal">
                  <%= check_box_tag(:corkage, 1, @search_info.blank? ? nil : @search_info['corkage']) %> Corkage
                </label><br>
                <label class="normal">
                  <%= check_box_tag(:gv, 1, @search_info.blank? ? nil : @search_info['gv']) %> Garden View
                </label><br>
                <label class="normal">
                  <%= check_box_tag(:handicap, 1, @search_info.blank? ? nil : @search_info['handicap']) %> Handicap Accessible
                </label><br>
                <label class="normal">
                  <%= check_box_tag(:kf, 1, @search_info.blank? ? nil : @search_info['kf']) %> Kid Friendly
                </label><br>
                <label class="normal">
                  <%= check_box_tag(:lv, 1, @search_info.blank? ? nil : @search_info['lv']) %> Lake View
                </label><br>
                <label class="normal">
                  <%= check_box_tag(:ov, 1, @search_info.blank? ? nil : @search_info['ov']) %> Ocean View
                </label><br>
                <label class="normal">
                  <%= check_box_tag(:overnight, 1, @search_info.blank? ? nil : @search_info['overnight']) %> Overnight Accomodations
                </label><br>
                <label class="normal">
                  <%= check_box_tag(:pets, 1, @search_info.blank? ? nil : @search_info['pets']) %> Pet Friendly
                </label><br>
                <label class="normal">
                  <%= check_box_tag(:pool, 1, @search_info.blank? ? nil : @search_info['pool']) %> Swimming Pool
                </label><br>
                <label class="normal">
                  <%= check_box_tag(:wifi, 1, @search_info.blank? ? nil : @search_info['wifi']) %> Public Wi-Fi
                </label><br>
                <label class="normal">
                  <%= check_box_tag(:stage, 1, @search_info.blank? ? nil : @search_info['stage']) %> Stage
                </label>
              </div>

            </div><!-- .row -->
          </div><!-- .form-group -->
        </div><!-- #advanced-search-options -->
        <div class="acenter" style="margin-top: 20px;">
          <input type="submit" value="Search" class="btn btn-success btn-block">
        </div>
      <% end %>
      <div class="acenter" style="margin-top: 30px;">

      </div>
</div><!-- .venue-details-search -->

    <div itemscope itemtype="http://schema.org/EventVenue" class="col-xs-12 col-sm-9">
      <% unless @venue.main_image_url.nil? %>
        <div class=" row venue-header-photo" style="background-image: url('<%= @venue.main_image_url %>');"></div>
      <% end %>


      <div class="row venue-contact-info">
        <div class="col-sm-8" style="padding-top: 10px;">
            <h1 itemprop="name"><%= @venue.name %>
              <% if !@venue.venue_types.blank? %>
              <small>(<%= @venue.venue_types.map(&:name).sort.join(", ") %>)</small>
              <% end %>
              </h1>
          <div style="font-size: 16px; line-height: 1.6em;">
           <span itemprop="address"><%= @venue.address %> &middot; <%= @venue.city %>, <%= @venue.state.abbrev %> <%= @venue.zip_code %></span> &middot;
           <span itemprop="telephone" id="clickPhone"><%= @venue.phone %></span>

            <div>
              <%= link_to 'Request Proposal', account_new_rfp_path(@venue) , { class: 'btn btn-success', style: 'margin-top: 10px;', id: 'quoteRequestBtn' } %>

            </div>
          </div>
        </div>
        <div class="col-sm-4 text-center venue-save-options">
          <% if user_signed_in? %>
            <% if @saved.count == 0 %>
              <%= form_tag(account_save_venue_path, method: 'post') do %>
                <%= hidden_field_tag(:venue_id, @venue.id) %>
                <input type="submit" value="Save Venue" class='btn btn-success'>
                <br />
              <% end %>
            <% else %>
              <button type="button" class="btn btn-default"><i class="fa fa-heart" style="color:red;"></i> Saved!</button><br>
            <% end %>
          <% end %>
          <div class="acenter" style="font-size: 14px; font-weight: 400; margin-top: 20px;">Share This Venue</div>
            <!-- Go to www.addthis.com/dashboard to customize your tools -->
          <div class="addthis_sharing_toolbox" data-title="<%= @venue.name %> in <%= @venue.city %>, <%= @venue.state.abbrev %> | VenueCenter" style="margin-top: 10px;"></div>
        </div><!-- .col-sm-4 -->
      </div><!-- row -->

      <div class="row venue-details">
        <div role="tabpanel" style="margin-bottom: 20px;">

        <!-- Nav tabs -->
        <ul class="nav nav-tabs" role="tablist">
          <li role="presentation" class="active"><a href="#details" aria-controls="details" role="tab" data-toggle="tab">Details</a></li>
          <li role="presentation"><a href="#photos" aria-controls="photos" role="tab" data-toggle="tab">Photos</a></li>
          <% if !@spaces.blank? %>
              <li role="presentation"><a href="#spaces" aria-control="spaces" role="tab" data-toggle="tab">Spaces</a></li>
          <% end %>
          <li role="presentation"><a href="#reviews" aria-controls="reviews" role="tab" data-toggle="tab">Reviews</a></li>

        </ul>

        <!-- Tab panes -->
        <div class="tab-content">
          <div role="tabpanel" class="tab-pane active" id="details">
            <div class="venue-info">
              <h2>About <%= @venue.name %></h2>
              <div itemprop="description">
                <%= raw(@venue.description) %>
              </div>
              <% if !@venue.directions.blank? %>
                <h3>Directions</h3>
                <div>
                  <%= raw(@venue.directions) %>
                </div>
              <% end %>
              <div class="row venue-details">
              <% if !@venue.price.blank? %>
                <div class="col-xs-12 col-sm-4 margin-bottom-20">
                  <div class="venue-label"><i class="fa fa-money"></i> Price</div>

                  <% if @venue.price == 1 %><span data-toggle="tooltip" title="($0-$2000)">$ - Inexpensive</span><% end %>
                  <% if @venue.price == 2 %><span data-toggle="tooltip" title="($2,001-$5000)">$$ - Affordable</span><% end %>
                  <% if @venue.price == 3 %><span data-toggle="tooltip" title="($5,001-$10,000)">$$$ - Moderate</span><% end %>
                  <% if @venue.price == 4 %><span data-toggle="tooltip" title="($10,001+)">$$$$ - Expensive</span><% end %>
                </div>
              <% end %>

              <div class="col-xs-12 col-sm-4 margin-bottom-20">
                <div class="venue-label"><i class="fa fa-building"></i> Space Details</div>

                <% if !@venue.venue_capacity_id.blank? %>
                Capacity: <%= @venue.venue_capacity.name %><br>
                <% end %>
                <% if !@venue.venue_size.blank? %>
                Venue Size: <%= number_with_delimiter(@venue.venue_size, delimiter: ',') %> sq ft<br>
                <% end %>
                <% if !@venue.space_type.blank? %>
                Space Type: <%= @venue.space_type %>
                <% end %>
              </div><!-- .col-sm-3 -->

              <div class="col-xs-12 col-sm-4 margin-bottom-20">
                <div class="venue-label"><i class="fa fa-check-square"></i> Amenities</div>
                <% if @venue.av_hookup %> A/V Hookup <br><% end %>
                <% if @venue.beachfront %> Beachfront Property <br><% end %>
                <% if @venue.city_view %> City View <br><% end %>
                <% if @venue.corkage %> Corkage <br><% end %>
                <% if @venue.garden_view %> Garden View <br><% end %>
                <% if @venue.handicap_accessible %> Handicap Accessible <br><% end %>
                <% if @venue.kid_friendly %> Kid Friendly <br><% end  %>
                <% if @venue.lake_view %> Lake View <br><% end %>
                <% if @venue.ocean_view %> Ocean View <br><% end %>
                <% if @venue.overnight_available %> Overnight Accomodations<br> <% end %>
                <% if @venue.pet_friendly %> Pet Friendly <br><% end  %>
                <% if @venue.wifi %> Public Wi-Fi<br><% end %>
                <% if @venue.pool %> Swimming Pool <br><% end  %>
                <% if @venue.stage_available %> Stage<% end %>


              </div><!-- .col-sm-3 -->
            </div>
            <div class="row venue-details" style="margin-top: -20px;">
              <% if @venue.kosher || @venue.halal || @venue.vegetarian || @venue.gluten_free || @venue.vegan || @venue.onsite_catering || @venue.offsite_catering %>
                <div class="col-xs-12 col-sm-4  margin-bottom-20">
                  <div class="venue-label"><i class="fa fa-cutlery"></i>Food Options</div>
                    <% if @venue.gluten_free %>Gluten Free <br> <% end %>
                    <% if @venue.halal %>Halal <br> <% end %>
                    <% if @venue.kosher %>Kosher<br> <% end %>
                    <% if @venue.offsite_catering %>Off-site Catering Permitted<br> <% end %>
                    <% if @venue.onsite_catering %>On-site Catering Available <br> <% end %>
                    <% if @venue.vegan %>Vegan <br> <% end %>
                    <% if @venue.vegetarian %>Vegetarian <br> <% end %>
                </div>
              <% end %>
              <% if @venue.wine || @venue.beer || @venue.full_bar || @venue.outside_alcohol || @venue.no_alcohol %>
                <div class="col-xs12 col-sm-4 margin-bottom-20">
                  <div class="venue-label"><i class="fa fa-glass"></i> Drink Options</div>
                  <% if @venue.wine %>Wine <br><% end %>
                  <% if @venue.beer %>Beer <br><% end %>
                  <% if @venue.full_bar %>Full Bar <br><% end %>
                  <% if @venue.outside_alcohol %>Outside Alcohol <br><% end %>
                  <% if @venue.no_alcohol %>No Alcohol <% end %>
                </div>
              <% end %>
              <% if @venue.free_parking || @venue.self_parking || @venue.garage_parking || @venue.valet_parking %>
                <div class="col-xs-12 col-sm-4 margin-bottom-20">
                  <div class="venue-label"><i class="fa fa-car"></i> Parking Options</div>
                  <% if @venue.free_parking %>Free Parking<br> <% end %>
                  <% if @venue.self_parking %>Self Parking<br> <% end %>
                  <% if @venue.garage_parking %>Garage Parking<br> <% end %>
                  <% if @venue.valet_parking %>Valet Parking<% end %>
                </div>
              <% end %>
            </div> <!-- .venue-details -->
            <% if @venue.billing_plan_id == 3 && !@venue.virtual_tour.blank? %>
              <div class="row venue-details" style="padding: 0 20px;">
                  <div class="venue-label"><i class="fa fa-youtube-play"></i> Virtual Tour</div>
                  <iframe width="853" height="480" src="https://www.youtube.com/embed/<%= @venue.virtual_tour %>" frameborder="0" allowfullscreen></iframe>
              </div>
            <% end %>
              <div class="row venue-details" style="padding: 0 20px;">
                <div class="venue-label"><i class="fa fa-map"></i> Map</div>
                <div id="venue-map"></div>
              </div>
            <% if @venue.billing_plan_id == 1 || @venue.billing_plan_id == 4 %>
              <div class="row venue-details">
                <div class="col-sm-12 venue-label"><i class="fa fa-map-marker"></i>Nearby Venues</div>
                <div class="col-sm-12">
                  <% @nearby_venues.each do |venue| %>
                      <div class="col-sm-4 sri">
                        <div class="search-result-item" itemscope itemtype="http://schema.org/EventVenue">
                          <%= link_to venue_path(venue, city: venue.city.downcase, state: venue.state.abbrev.downcase) do %>
                              <div class="search-venue-image"
                                   <% if venue.main_image_url.nil? %>
                                   style="background-image: url('/assets/nophoto.jpg');"
                                   <% else %>
                                   style="background-image: url('<%= venue.main_image_url %>');"
                                   <% end %>>

                                <% if venue.billing_plan.id == 2 || venue.billing_plan_id == 3 %>
                                    <div class="featured-venue">
                                      FEATURED
                                    </div>
                                <% end %>
                              </div>
                          <% end %>
                          <div class="details">
                            <span class="vname" itemprop="name"><%= link_to venue.name, venue_path(venue, city: venue.city.downcase.strip.gsub(' ', '-').gsub(/[^\w-]/, ''), state: venue.state.abbrev.downcase) %></span><br>
                            <div class="row">
                              <div class="col-xs-6">
              			        <span itemprop="address"><%= venue.address%> <%= venue.address2 %><br>
                                  <%= venue.city %>, <%= venue.state.abbrev %></span><br>
                                <% if !venue.venue_types.blank? %>
                                    <i><%= venue.venue_types.map(&:name).sort.join(", ") %></i>
                                <% end %>
                              </div>
                              <div class="col-xs-6">
                                <% if !venue.price.blank? %>
                                    <strong>Price: </strong>
                                    <% if venue.price == 1 %><span data-toggle="tooltip" title="($0-$2000)">$</span><% end %>
                                    <% if venue.price == 2 %><span data-toggle="tooltip" title="($2,001-$5000)">$$</span><% end %>
                                    <% if venue.price == 3 %><span data-toggle="tooltip" title="($5,001-$10,000)">$$$</span><% end %>
                                    <% if venue.price == 4 %><span data-toggle="tooltip" title="($10,001+)">$$$$</span><% end %>
                                    <br>
                                <% end %>
                                <% if !venue.venue_capacity_id.blank? %>
                                    <strong>Capacity: </strong> <%= venue.venue_capacity.name %>
                                <% end %>
                              </div>
                            </div>
                          </div><!-- .details -->
                        </div>
                      </div><!-- col-sm-6 -->
                  <% end %>

                </div><!-- .col-sm-12 -->
            </div>
            <% end %>

            </div><!--.venue-info -->

          </div><!-- .tab-pane -->
          <div role="tabpanel" class="tab-pane" id="photos">
            <div class="venue-info">
              <div class="row">
                <% if !@venue.main_image.nil? %>
                  <div class="venue-image col-xs-12 col-sm-4">
                    <a href="<%= @venue.main_image_url %>" class="fancybox"><%= cl_image_tag(@venue.main_image, height: 200, crop: :scale, class: 'img-responsive', itemprop: 'photo', rel: "group-001", alt:  @venue.name + ' in ' +  @venue.city + ', ' +  @venue.state.abbrev + ' | VenueCenter') %></a>
                  </div>
                <% end %>
                <% @venue_images.each do |vi| %>
                  <div class="venue-image col-xs-12 col-sm-4">
                    <a href="<%= vi.photo_url %>" class="fancybox"><%= cl_image_tag(vi.photo, height: 200, crop: :scale, class: 'img-responsive', rel: "group-001", itemprop: 'photo',) %></a>
                  </div>
                <% end %>
              </div>
            </div>

          </div>
          <div role="tabpanel" class="tab-pane" id="spaces">
            <table class="table">
              <thead>
              <tr>
                <th>Space Name</th>
                <th>Dimensions<br><span class="small">(length x width)</span></th>
                <th>Ceiling Height</th>
                <th>Sq. Ft.</th>
                <th>Theater</th>
                <th>Classroom</th>
                <th>Banquet</th>
                <th>Reception</th>
                <th>U-Shape</th>
                <th>H-Shape</th>
              </tr>
              </thead>
              <tbody>
                <% @spaces.each do |space| %>
                <tr>
                  <td><%= space.name %></td>
                  <td><% if space.length %><%= space.length %>' X <%= space.width %>'<% end %></td>
                  <td><% if space.ceiling_height %><%= number_with_delimiter(space.ceiling_height, delimiter: ',') %>'<% end %></td>
                  <td><% if space.square_feet %><%= number_with_delimiter(space.square_feet, delimiter: ',') %><% end %></td>
                  <td><% if space.theater_size %><%= number_with_delimiter(space.theater_size, delimiter: ',') %><% end %></td>
                  <td><% if space.classroom_size %><%= number_with_delimiter(space.classroom_size, delimiter: ',') %><% end %></td>
                  <td><% if space.banquet_size %><%= number_with_delimiter(space.banquet_size, delimiter: ',') %><% end %></td>
                  <td><% if space.reception_size %><%= number_with_delimiter(space.reception_size, delimiter: ',') %><% end %></td>
                  <td><% if space.u_shape_size %><%= number_with_delimiter(space.u_shape_size, delimiter: ',') %><% end %></td>
                  <td><% if space.h_square_size %><%= number_with_delimiter(space.h_square_size, delimiter: ',') %><% end %></td>
                </tr>
                <% end %>
              </tbody>
            </table>
          </div><!-- #spaces -->
          <div role="tabpanel" class="tab-pane" id="reviews">
            <h3><%= pluralize(@total_reviews, "Review") %>
              <% unless @yelp_data.blank? %>
              <%= image_tag(@yelp_data.rating_img_url) %>
              <% end %>
              <span class="small pull-right">
                <% if user_signed_in? %>
                  <%= link_to 'Write a Review', new_account_review_path(v: @venue.slug), { class: 'btn btn-success'} %>
                <% else %>
                  <%= link_to 'Sign in to review this venue', new_user_session_path, { class: 'btn btn-success'} %>
                <% end %>
              </span>
            </h3>
            <hr>
            <% if @reviews.count == 0 && ( @venue.yelp_id.blank?  || @yelp_data.blank? )%>
              <p class="acenter">Currently there are no reviews for this venue.</p>
            <% else %>
              <% if !@yelp_data.nil? && @yelp_data.review_count > 0 %>
                <% @yelp_data.reviews.each do |yd| %>
                  <div class="row yelp-review">
                    <div class="col-xs-12 col-sm-2 acenter">

                      <%= image_tag(yd.user.image_url) %><br>
                      <%= yd.user.name %><Br>
                      <%= Time.at(yd.time_created).to_datetime.strftime('%b %e, %Y')  %><br>
                      <%= image_tag(yd.rating_image_url) %><br>
                    </div>
                    <div class="col-xs-12 col-sm-8">
                      <%= yd.excerpt %><br>
                      <%= link_to 'Read more', @yelp_data.url, { target: '_new'} %>
                    </div>
                    <div class="col-xs-12 col-sm-2 acenter">
                      <%= image_tag('reviewsFromYelpRED.gif') %>
                    </div>
                  </div>
                <% end %>
              <% end %>
              <% @reviews.each do |review| %>
                <div class="well">
                  <div class="row clearfix">
                    <div class="col-md-6 review-title">
                      <%= review.title %>
                    </div>
                    <div class="col-md-6 text-right" style="color: #82888A;">
                      <%= review.created_at.strftime('%b %e,  %Y') %>
                    </div>
                  </div>
                  <div class="row review-categories">
                    <div class="col-sm-4 text-center">
                      Service Quality<br>
                      <% (review.service_quality).times do %>
                        <i class="fa fa-star green"></i>
                      <% end %>

                    </div>
                    <div class="col-sm-4 text-center">
                      Venue Quality<br>
                      <% (review.venue_quality).times do %>
                        <i class="fa fa-star green"></i>
                      <% end %>
                    </div>
                    <div class="col-sm-4 text-center">
                      Staff Quality<br>
                      <% (review.staff_quality).times do %>
                        <i class="fa fa-star green"></i>
                      <% end %>
                    </div>
                  </div>
                  <div class="review-text">
                    <%= review.text %>
                  </div>
                  <% if (review.corporate_event || review.party || review.wedding || review.retreat) %>
                    <div class="review-recommendations">
                      Recommended for:
                      <% if review.corporate_event %>Corporate Events &nbsp;<% end %>
                      <% if review.party %>Holiday/Birthday Parties &nbsp;<% end %>
                      <% if review.wedding %>Weddings &nbsp;<% end %>
                      <% if review.retreat %>Retreats &nbsp;<% end %>
                    </div>
                  <% end %>
                </div>
              <% end %>
            <% end %>

          </div>

      </div><!-- .tab-content -->

      </div><!-- tab-panel -->
    </div><!-- .row .venue-details -->


    </div><!-- .col-sm-10 -->
  </div>
</div><!-- #venue-page-content -->
<!-- Go to www.addthis.com/dashboard to customize your tools -->
<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-54a4424e164cf84a" async="async"></script>
<script src="//code.jquery.com/ui/1.11.2/jquery-ui.js"></script>

<script type="text/javascript">
$( document ).ready(function() {

  var shortNumber = $("#clickPhone").text().substring(0,  $("#clickToShow").text().length - 8);

  $("#clickPhone").hide().after('<button id="clickToShowButton" class="btn btn-link" style="padding: 0px; color: #88c33f; margin-top: -3px;">' + shortNumber + 'Phone Number</button>');
    $("#clickToShowButton").click(function() {
        $("#clickPhone").show();
        $("#clickToShowButton").hide();
        mixpanel.track("Venue Profile Show Phone", {
          "Venue": "<%= @venue.name %>",
          "User": "<% if user_signed_in? %><%= current_user.email %><% end %>"
        });
        ga('send', {
          hitType: 'event',
          eventCategory: 'Venue',
          eventAction: 'showPhone',
          eventLabel: 'Show Phone Number'
        });
    });

  $( "#quoteRequestBtn" ).click(function() {
    mixpanel.track("Quote Request Click", {
      "Venue": "<%= @venue.name %>",
      "User": "<% if user_signed_in? %><%= current_user.email %><% end %>"
    });
  });

  var myLatlng = new google.maps.LatLng(<%= @venue.lat %>,<%= @venue.lng %>);
  var mapOptions = {
    zoom: 15,
    center: myLatlng
  }
  var map = new google.maps.Map(document.getElementById('venue-map'),
  mapOptions);

  google.maps.event.addListener(map, 'tilesloaded', function() {
    $('#venue_map').find('img').attr('nopin','nopin');
  });
  google.maps.event.addListener(map, 'bounds_changed', function() {
    $('#map_canvas').find('img').attr('nopin','nopin');
});

  var pinColor = "5CB85C";
  var pinImage = new google.maps.MarkerImage("http://chart.apis.google.com/chart?chst=d_map_pin_letter&chld=%E2%80%A2|" + pinColor,
      new google.maps.Size(21, 34),
      new google.maps.Point(0,0),
      new google.maps.Point(10, 34));
  var pinShadow = new google.maps.MarkerImage("http://chart.apis.google.com/chart?chst=d_map_pin_shadow",
      new google.maps.Size(40, 37),
      new google.maps.Point(0, 0),
      new google.maps.Point(12, 35));

  var marker = new google.maps.Marker({
    position: myLatlng,
    map: map,
    title:"<%= @venue.name %>",
    icon: pinImage,
    shadow: pinShadow
  });

  $("a.fancybox").attr('rel', 'gallery').fancybox();
  //
  $( "#write-review" ).click(function(){
    $('#new-review-panel').show();
  });


});
</script>
