<% content_for :page_title do %>
 Venue not found
<% end %>
<% content_for :page_description do %>
  The venue you requested could not be found
<% end %>
<div class="container">
  <div class='row'>
    <div class="col-xs-12 acenter not-found" style="margin-top: 20px;">
      <h1>Venue Not Found</h1>

      <p>We're sorry we could not find the venue you're looking for.</p>
      <p><%= link_to 'Visit our homepage', home_url %> to start a new venue search.</p>
    </div>
  </div><!-- .row -->
</div><!-- .container -->
