<% content_for :page_title do %>
  Account Checkout
<% end %>
<% content_for :page_header do %>
  <%= javascript_include_tag "https://js.stripe.com/v2/", "application" %>
<% end %>

<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <h2 class="acenter">Account Checkout</h2>
      <p class="acenter">You're just about ready to go. Confirm your information below and enter your payment details to finalize your account creation.</p>
      <p class="acenter">You will be able to edit more information about your venue once your account is created and confirmed.</p>
    </div>
  </div>
  <div class="row" style="margin-top: 30px; background: #E0EFD8; padding: 20px 10px;">
    <div class="col-sm-6">
      <h3>Venue Details</h3>
      <div class="row">
        <div class="col-sm-3">
          <label>Venue Name</label>
        </div>
        <div class='col-sm-9'>
          <%= @venue.name %>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-3">
          <label>Address</label>
        </div>
        <div class='col-sm-9'>
          <%= @venue.address %><br>
          <% if !@venue.address2.blank? %>
            <%= @venue.address2 %><br>
          <% end %>
          <%= @venue.city %>, <%= @venue.state.abbrev %> <%= @venue.zip_code %>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-3">
          <label>Phone</label>
        </div>
        <div class='col-sm-9'>
          <%= @venue.phone %>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-3">
          <label>Email</label>
        </div>
        <div class='col-sm-9'>
          <%= @venue.email %>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-3">
          <label>Website</label>
        </div>
        <div class='col-sm-9'>
          <%= @venue.website %>
        </div>
      </div>
    </div>
    <div class="col-sm-6 acenter">
      <h3>Subscription Plan</h3>
      <span style="text-transform: capitalize;"><%= params[:plan] %> - <%= formatted_price(@price.to_i) %>/month</span>
      <% if params[:plan] == 'premium' %>
        (30 day free trial)
      <% end %>
    </div>
  </div>
  <%= form_tag biz_process_checkout_path, id: 'checkout-form', role: 'form', class: 'form-horizontal' do |f| %>
  <div id="stripe_error">
    <noscript>JavaScript is not enabled and is required for this form. First enable it in your web browser settings.</noscript>
  </div>
  <span class="payment-errors"></span>
    <div class="row" style="margin-top: 30px;">
      <div class="col-sm-6">
        <h3 class="checkout-header">Personal Details</h3>
        <div class="form-group clearfix">
          <label for="billing_name" class="col-sm-4 control-label">Cardholder Name</label>
          <div class="col-sm-8">
            <%= text_field_tag('billing_name', '', { data: { stripe: 'name'}, class: 'form-control', required: true } ) %>
          </div>
        </div><!-- .form-group -->
       
        <div class="form-group clearfix">
          <label for="billing_address" class="col-sm-4 control-label">Billing Address</label>
          <div class="col-sm-8">
            <%= text_field_tag('billing_address', '', { data: { stripe: 'address_line1'}, class: 'form-control', required: true }) %>
          </div>
        </div><!-- .form-group -->
        <div class="form-group clearfix">
          <label for="billing_city" class="col-sm-4 control-label">City</label>
          <div class="col-sm-8">
            <%= text_field_tag('billing_city', '', {data: { stripe: 'address_city'}, class: 'form-control', required: true }) %>
          </div>
        </div><!-- .form-group -->
        <div class="form-group clearfix">
          <label for="billing_state" class="col-sm-4 control-label">State</label>
          <div class="col-sm-8">
            <%= text_field_tag('billing_state', '', { data: { stripe: 'address_state'}, class: 'form-control', required: true }) %>
          </div>
        </div><!-- .form-group -->
        <div class="form-group clearfix">
          <label for="billing_zip" class="col-sm-4 control-label">Zip Code</label>
          <div class="col-sm-8">
            <%= text_field_tag('billing_zip', '', { data: { stripe: 'address_zip'}, class: 'form-control', required: true }) %>
          </div>
        </div><!-- .form-group -->
      </div>
      <div class="col-sm-6">
        <h3 class="checkout-header">Payment Details</h3>
        <% if params[:plan] == 'basic' || params[:plan] == 'premium' %>
        <p style="margin-bottom: 20px;">For verification purposes,we will attempt to authorize your card for $1.00 to verify your account is valid. This charge will automatically disappear
        in a few days.</p>
        <% end %>
        <div class="form-group clearfix">
          <label for="card_number" class="col-sm-4 control-label">Credit Card Number</label>
          <div class="col-sm-8">
            <%= text_field_tag('card_number', '', { data: { stripe: 'number'}, class: 'form-control', required: true, placeholder: '**** **** **** ****', pattern: '[\d]*' }) %>
          </div>
        </div><!-- .form-group -->
        <div class="form-group clearfix">
          <label for="exp_date" class="col-sm-4 control-label">Expiration Date</label>
          <div class="col-sm-4">
            <%= select_month nil, {add_month_numbers: true}, { data: { stripe: 'exp-month'}, name: nil, id: "card_month", class: 'form-control' } %>
          </div>
          <div class="col-sm-3">
            <%= select_year nil, {start_year: Date.today.year, end_year: Date.today.year+15}, { data: { stripe: 'exp-year'}, name: nil, id: "card_year", class: 'form-control' } %>
          </div>
          
        </div><!-- .form-group -->
        <div class="form-group clearfix">
          <label for="card_cvc" class="col-sm-4 control-label">Security Code</label>
          <div class="col-sm-3">
            <%= text_field_tag('card_cvc', '', { data: { stripe: 'cvc'}, class: 'form-control', required: true, placeholder: '***' }) %>
            <% if params[:plan] == 'basic' %>

            <% end %>
            <%= hidden_field_tag('plan', params[:plan]) %>
          </div>
        </div><!-- .form-group -->
       
      </div>

    </div><!-- .row -->
    <div class="row">
      <div class="col-sm-12 checkout-details">
        <p>You hereby expressly authorize VenueCenter to charge monthly the credit card account that you have identified above for any amounts owed to VenueCenter in connection with the
          monthly subscription service chosen. If you want to cancel your monthly subscription service, you may do so at any time by contacting VenueCenter customer service at
          <%= mail_to 'support@venuecenter.com' %>. In the event you believe that VenueCenter has charged your credit card in error, you must contact VenueCenter customer service at
          <%= mail_to 'support@venuecenter.com' %> within 60 days after such charge.</p>

        <p>VenueCenter uses Stripe as its third party service providers for payment services (e.g. card acceptance and related services). By using the payment services on the site,
          you hereby consent and authorize us to delegate the authorizations and share the information you provide to us with Stripe.</p>

      </div><!-- .checkout-details -->
    </div>
    <div class="row" style="margin-top: 20px;">
      <div class="col-sm-6">
        <%= check_box_tag('chk-agree') %> By check marking this box, you accept our <%= link_to 'Terms of Service', '/tos' %>.
      </div>
      <div class="col-sm-6">
        <button id="form-submit" class="btn btn-success btn-lg" type="submit">Submit Payment</button>
        
      </div>
    </div><!-- row -->
  <% end %>
  
  <script type="text/javascript">
  $(document).ready(function(){
    Stripe.setPublishableKey('<%= Rails.application.secrets.stripe_publishable_key %>');
    
    // Stripe.card.createToken({
    //     number: $('#card-number').val(),
    //     cvc: $('#card-cvc').val(),
    //     exp_month: $('#card_month').val(),
    //     exp_year: $('#card_year').val()
    //   }, stripeResponseHandler);
      
    function stripeResponseHandler(status, response) {
      var $form = $('#checkout-form');
    
      if (response.error) {
        // Show the errors on the form
        $form.find('.payment-errors').text(response.error.message);
        $form.find('button').prop('disabled', false);
      } else {
        // response contains id and card, which contains additional card details
        var token = response.id;
        // Insert the token into the form so it gets submitted to the server
        $form.append($('<input type="hidden" name="stripeToken" />').val(token));
        // and submit
        $form.get(0).submit();
      }
    };
    
    
    
    $("#form-submit").prop('disabled', true);
    $('#chk-agree').click(function() {
      $("#form-submit").prop('disabled', false);
      if(!$(this).is(':checked'))
      {
        $("#form-submit").attr('disabled', true);
      }
    });
    
    $('#checkout-form').submit(function(event) {
      var $form = $(this);
      $form.find('button').prop('disabled', true);
      Stripe.card.createToken($form, stripeResponseHandler);
      
      // Prevent the form from submitting with the default action
      return false;
    });
    
    
  });
  </script>
