
<% content_for :page_title do %>
Claim Your Venue
<% end %>
<div class="container" style="margin-bottom: 20px;">
  <div class="row">
    <div class="col-sm-6">
      <h2>Claim Your Venue</h2>
      <p>
        Add information about your venue below. Your venue page will not appear in search results until this information has been verified and approved by
        our moderators. Once it is approved, you'll receive an email with instructions on how to claim your page.
      </p>
      <%= form_for @venue, url: { action: 'update' }, role: 'form', class: 'form-horizontal' do |f|%>
      <div class="form-group clearfix">
        <%= f.label(:venue_type, 'Venue Type', { class: 'col-sm-3 control-label' }) %>
        <div class="col-sm-9">
          <%= f.collection_select(:venue_type, VenueType.order(:name), :id, :name, { }, { class: 'form-control', required: true }) %>
        </div>
      </div>
      <div class="form-group clearfix">
        <%= f.label(:name, 'Venue Name', { class: 'col-sm-3 control-label' }) %>
        <div class="col-sm-9">
          <%= f.text_field(:name, { class: 'form-control', required: true }) %>
        </div>
      </div>
      <div class="form-group clearfix">
        <%= f.label(:address, 'Address', { class: 'col-sm-3 control-label' }) %>
        <div class="col-sm-9">
          <%= f.text_field(:address, { class: 'form-control', required: true }) %>
        </div>
      </div>
      <div class="form-group clearfix">
        <%= f.label(:address2, 'Address 2', { class: 'col-sm-3 control-label' }) %>
        <div class="col-sm-9">
          <%= f.text_field(:address2, { class: 'form-control' }) %>
        </div>
      </div>
      <div class="form-group clearfix">
        <%= f.label(:city, 'City', { class: 'col-sm-3 control-label' }) %>
        <div class="col-sm-9">
          <%= f.text_field(:city, { class: 'form-control', required: true }) %>
        </div>
      </div>
      <div class="form-group clearfix">
        <%= f.label(:state_id, 'State', { class: 'col-sm-3 control-label' }) %>
        <div class="col-sm-9">
          <%= f.collection_select(:state_id, State.order(:name), :id, :name, { }, { class: 'form-control', required: true }) %>
        </div>
      </div>
      <div class="form-group clearfix">
        <%= f.label(:zip_code, 'Zip Code', { class: 'col-sm-3 control-label' }) %>
        <div class="col-sm-9">
          <%= f.text_field(:zip_code, { class: 'form-control', required: true }) %>
        </div>
      </div>
      <div class="form-group clearfix">
        <%= f.label(:phone, 'Phone', { class: 'col-sm-3 control-label' }) %>
        <div class="col-sm-9">
          <%= f.text_field(:phone, { class: 'form-control', required: true }) %>
        </div>
      </div>
      <div class="form-group clearfix">
        <%= f.label(:website, 'Website', { class: 'col-sm-3 control-label' }) %>
        <div class="col-sm-9">
          <%= f.text_field(:website, { class: 'form-control' }) %>
        </div>
      </div>
      <div class="form-group clearfix">
        <%= f.label(:email, 'Email', { class: 'col-sm-3 control-label' }) %>
        <div class="col-sm-9">
          <%= f.text_field(:email, { class: 'form-control' }) %>
        </div>
      </div>
      <div class="aright">
		    <%= f.hidden_field(:id)%>
        <input type="submit" value="Claim Venue" class="btn btn-success" style="margin-top: 30px;">
      </div>
      <% end %>
    </div>
  </div>
</div>
