<% content_for :page_title do %>
  Venue Management Made Easy
<% end %>
<% content_for :page_description do %>
  VenueCenter is the easiest way to manage your venue
<% end %>
<% content_for :page_keywords do %>
  venue management, event leads
<% end %>
<div class="container-fluid biz-home-hdr">
  <div class="container">
    <div class="row">
      <div class="col-sm-12" id="venue-search">
        <h1>Get new RFPs for your venue every month</h1>
        <p>By listing your venue with us, you'll get exposed to over 20,000 event planners in search of their next venue</p>
        <p><%= link_to 'List My Venue', biz_search_path, { class: 'btn btn-success btn-lg', style: 'color: #fff; margin-top: 40px; font-weight: 400; font-size: 22px;'} %></p>

      </div>
      <div class="col-sm-12" id="venue-list"></div>
    </div>
  </div>
</div>
<div class="container-fluid">
  <div class="container">
    <div class="row acenter biz-sell-point main" style="margin-top: 40px;  margin-bottom: 20px;">
      <div class="col-sm-12">
        <h1 class="main">How Can VenueCenter Help You?</h1>
        <p>
          We work with you as a virtual partner to help you stand out in a crowded marketplace.
        </p>

      </div><!-- col-sm-12 -->
    </div><!-- .row -->

    <div class="row biz-sell-point">
      <div class="col-sm-7">
        <h2>Highlight your uniqueness</h2>
        <p>With thousands of venues across the country vying for the attention of your
        customers, we shine the spotlight on what makes you unique and help you find customers who are looking for your exact venue.</p>
        <p>
          Your venue profile contains over 35 filters along with detailed description information to ensure you are only matched with high quality leads who are looking for
          exactly what you have to offer.
        </p>
      </div>
      <div class="col-sm-5 acenter">
        <%= image_tag('highlight-uniqueness.jpg', class: 'img-responsive', style: "height: 80%; width: 80%;") %>
      </div>
    </div><!-- .row .biz-sell-point -->
    <div class="row biz-sell-point">
      <div class="col-sm-5 acenter">
        <%= image_tag('increase-revenue.jpg', class: 'img-responsive', style: "height: 80%; width: 80%;") %>
      </div>
      <div class="col-sm-7" style="margin-top: 40px;">
        <h2>Increase your revenue</h2>
        <p>
          Our venue management tools are designed to match your venue with even the most selective event organizers.
        </p>
        <p>
          Tag your venue with the types of events you specialize in hosting and watch your bookings grow.
        </p>
      </div>

    </div><!-- .row .biz-sell-point -->
    <div class="row biz-sell-point">
      <div class="col-sm-7" style="padding-top: 40px;">
        <h2>Manage your online reputation</h2>
        <p>
          Our user review system is geared to help you gather valuable feedback from your customers after experiencing your venue.
        </p>
        <p>
          Additionally, we allow you to
          respond to individual reviews to ensure you are delivering the highest levels of customer service to your clients.
        </p>

      </div>
      <div class="col-sm-5 acenter">
        <%= image_tag('manage-reputation.jpg', class: 'img-responsive', style: "height: 80%; width: 80%;") %>
      </div>
    </div><!-- .row .biz-sell-point -->
    <div class="row biz-sell-point">
      <div class="col-sm-5 acenter">
        <%= image_tag('manage-leads.jpg', class: 'img-responsive', style: "height: 80%; width: 80%;") %>
      </div>
      <div class="col-sm-7" style="padding-top: 20px;">
        <h2 class="tk-grafolita-script">Manage leads with ease</h2>
        <p>
          Using our venue management portal, you can read and respond to RFPs in real time 24/7. Best of all, we are totally commission free.
        </p>
        <p>
          Your profile contains over 35 filters along with detailed description information to ensure you are only matched with high quality leads.
        </p>
      </div>
      <div class="row">
        <div class='col-xs-12 centered' style="margin-top: 40px;">
          <h3>What are you waiting for? List your venue today for only $49.99 a month.</h3>
          <p><%= link_to 'List My Venue', biz_search_path, { class: 'btn btn-success btn-lg', style: 'color: #fff; margin: 20px 0; font-size: 18px;'} %></p>
          <p>No Contracts, Cancel Anytime</p>
        </div>
      </div>

    </div><!-- .row .biz-sell-point -->

  </div><!-- .container -->

</div><!-- .container-fluid -->
