<% content_for :page_title do %>
  Add Your Venue
<% end %>
<div class="container" style="margin-bottom: 20px;">
  <div class="row" style="margin-top: 20px;">
    <div class="col-sm-12">
      <h2>Add Your Venue</h2>
      <p>
        Add information about you venue below. Your venue page will not appear in search results until this information has been verified and approved by
         our moderators.</p>
      <p>Once it is approved, you'll receive an email with instructions on how to claim your page.
      </p>
      <%= form_for(@venue, method: "post",  url: '/biz/create', role: 'form', class: 'form-horizontal', id: 'venue-claim') do |f| %>

      <div class="form-group clearfix" style="margin-top: 20px;">
        <%= f.label(:venue_type_id, 'Venue Type', { class: 'col-sm-4 control-label' }) %>
        <div class="col-sm-8 ">
          <%= f.collection_check_boxes :venue_type_ids, VenueType.order(:name), :id, :name, { class: 'form-control'} do |vt| %>
              <div class="collection-check-box">
                <%= vt.check_box %>
                <%= vt.label %>
              </div>
          <% end %>
        </div>
      </div>
        <div class="form-group clearfix">
          <%= f.label(:name, 'Venue Name', { class: 'col-sm-4 control-label', required: true }) %>
          <div class="col-sm-8">
            <%= f.text_field(:name, { class: 'form-control', required: true }) %>
          </div>
        </div>
        <div class="form-group clearfix">
          <%= f.label(:address, 'Address', { class: 'col-sm-4 control-label', required: true }) %>
          <div class="col-sm-8">
            <%= f.text_field(:address, { class: 'form-control', required: true }) %>
          </div>
        </div>
        <div class="form-group clearfix">
          <%= f.label(:address2, 'Address 2', { class: 'col-sm-4 control-label' }) %>
          <div class="col-sm-8">
            <%= f.text_field(:address2, { class: 'form-control' }) %>
          </div>
        </div>
        <div class="form-group clearfix">
          <%= f.label(:city, 'City', { class: 'col-sm-4 control-label', required: true }) %>
          <div class="col-sm-8">
            <%= f.text_field(:city, { class: 'form-control', required: true }) %>
          </div>
        </div>
        <div class="form-group clearfix">
          <%= f.label(:state_id, 'State', { class: 'col-sm-4 control-label' }) %>
          <div class="col-sm-8">
            <%= f.collection_select(:state_id, State.order(:name), :id, :name, { prompt: true, required: true }, { class: 'form-control' }) %>
          </div>
        </div>
        <div class="form-group clearfix">
          <%= label(:zip_code, 'Zip Code', { class: 'col-sm-4 control-label' }) %>
          <div class="col-sm-8">
            <%= f.text_field(:zip_code, { class: 'form-control', required: true }) %>
          </div>
        </div>
        <div class="form-group clearfix">
          <%= f.label(:phone, 'Phone', { class: 'col-sm-4 control-label', required: true }) %>
          <div class="col-sm-8">
            <%= f.text_field(:phone, { class: 'form-control', required: true }) %>
          </div>
        </div>
        <div class="form-group clearfix">
          <%= f.label(:website, 'Website', { class: 'col-sm-4 control-label' }) %>
          <div class="col-sm-8">
            <%= f.text_field(:website, { class: 'form-control' }) %>
          </div>
        </div>
        <div class="form-group clearfix">
          <%= f.label(:email, 'Email', { class: 'col-sm-4 control-label', required: true }) %>
          <div class="col-sm-8">
            <%= f.text_field(:email, { class: 'form-control' }) %>
          </div>
        </div>
        <div class="aright">
          <input type="submit" value="Add Venue" class="btn btn-success" style="margin-top: 30px;">
        </div>
      <% end %>
    </div>
  </div>
</div>
