<% content_for :page_title do %>
Claim Your Venue
<% end %>
<% content_for :page_header do %>
<!-- Google Code for List My Venue Conversion Page -->
<script type="text/javascript">
/* <![CDATA[ */
var google_conversion_id = 946989852;
var google_conversion_language = "en";
var google_conversion_format = "3";
var google_conversion_color = "ffffff";
var google_conversion_label = "YASnCNL40mYQnNbHwwM";
var google_remarketing_only = false;
/* ]]> */
</script>
<script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js">
</script>
<noscript>
<div style="display:inline;">
<img height="1" width="1" style="border-style:none;" alt="" src="//www.googleadservices.com/pagead/conversion/946989852/?label=YASnCNL40mYQnNbHwwM&amp;guid=ON&amp;script=0"/>
</div>
</noscript>
<% end %>
<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <h2>Claim Your Venue</h2>
      <% if params[:name].blank? %>
      <p style="margin-bottom: 40px;">Enter your venue name and location below to see if you are already listed in our database.</p>
      <%= form_tag(biz_search_path, method: "post", class: 'form-inline', role: 'form', id: 'venue-claim') do %>
        <div class="form-group">
          <div class="input-group">
            <%= label_tag(:name, 'Name') %>
            <%= text_field_tag(:name, '', { class: 'form-control', placeholder: 'Venue Name', required: true }) %>
          </div>
          <div class="input-group">
            <%= label_tag(:location) %>
            <%= text_field_tag(:location, '', { class: 'form-control', placeholder: 'City, State, Zip' , required: true} ) %>
          </div>
          <input type="submit" value="Get Started" class="btn btn-success" style="margin-top: 23px; id="submitSearch">
        </div>
      <% end %>
      <% else %>
      <p style="margin-bottom: 30px;">Don't see your venue listed here? <%= link_to 'Search again', biz_search_path %> or <%= link_to 'add it now', '/biz/new' %>.</p>
        <table class="table">
          <thead>
            <tr>
              <th>Venue Name</th>
              <th>Address</th>
  			      <th>Status</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
		        <% if !@venues.blank? %>
  	          <% @venues.each do |venue| %>
  	            <tr>
  	              <td><%= venue.name %></td>

  	              <td><%= venue.address %><br>
  	              <%= venue.city %>, <%= venue.state.name %> <%= venue.zip_code %></td>
        				  <td>
        					  <% if venue.claimed %>
        					  	Claimed
        					  <% else %>
        					  	Unclaimed
        					  <% end %>
        				  </td>
        	        <td>
        					  <% if !venue.claimed %>
        	             <%= link_to 'Claim Venue', manage_home_path, class: 'btn btn-default' %>
        					  <% end %>
        	        </td>
        	      </tr>
        	    <% end %>
      			<% else %>
      			  	<tr>
  					       <td colspan="4" class="acenter">No venues were found matching your search criteria.</td>
			          </tr>
			      <% end %>
          </tbody>
        </table>

      <% end %>
    </div>
  </div>
</div>

<script type="text/javascript">
$(document).ready(function(){

  $( "#location").change(function() {
    mixpanel.track("VM Venue Search", {
    "User": <%= current_admin.id %>,
    "First Name": '<%= current_admin.first_name %>',
    "Last Name": '<%= current_admin.last_name %>',
    "Venue Name": $('#name').val(),
    "Location": $('#location').val()
    });
  });
});
</script>
