<% content_for :page_title do %>
  Select Your Plan
<% end %>
<div class="container-fluid">
  <div class="container">
    <div class="row acenter" style="margin-top: 40px;  margin-bottom: 20px;">
      <div class="col-sm-12">
        <h1 style="margin-bottom: 30px;">Select Your Subscription Plan</h1>
        <div class="row">
          <div class="col-md-4 pricing-table belize-hole bordered hover-animation">
            <ul>
              <li class="title">
                Basic
              </li>
              <li class="price">
                <strong style="font-size: 20pt;">Free</strong>
              </li>
              <li>
                1 Image Allowed
              </li>
              <li>
                Contact Information Displayed:<br>
                - Address<br>
                - Phone Number
              </li>
              <li>
                Online Quote Requests
              </li>
              <li class="button">
                <a href="/biz/checkout?plan=basic" class="btn btn-large" onClick="choosePlan('Basic');">
                  <i class="fa fa-shopping-cart"></i>&nbsp;&nbsp;Select
                </a>
              </li>
            </ul>
          </div>
          <div class="col-md-4 pricing-table belize-hole bordered hover-animation">
            <ul>
              <li class="title">
                Standard
              </li>
              <li class="price">
                <span class="currency-symbol">$</span>
                <strong>49</strong>
                <sup>99</sup>
                <em>/mo</em>
              </li>
              <li class="label">
                Most Popular
              </li>
             
              <li>
                All Basic Features Plus The Following:
              </li>
               <li>
                5 Images Allowed
              </li>
              <li>
                Review and Respond to Customer Feedback
              </li>
              <li>
                Inquiry Notification and Contact Information For Customers Supplied Directly To Your Email
              </li>
              <li>
                Featured Before Basic Venues
              </li>
              <li>
                Email Support
              </li>
              <li class="button">
                <a href="/biz/checkout?plan=standard" class="btn btn-large" onClick="choosePlan('Standard');">
                  <i class="fa fa-shopping-cart"></i>&nbsp;&nbsp;Select
                </a>
              </li>
            </ul>
          </div>
          <div class="col-md-4 pricing-table belize-hole bordered hover-animation">
            <ul>
              <li class="title">
                Premium
              </li>
              <li class="price">
                <span class="currency-symbol">$</span>
                <strong>149</strong>
                <sup>99</sup>
                <em>/mo</em>
              </li>
              <li class="label">
                Best Value
              </li>
              
              <li>
                All Standard Features Plus The Following:
              </li>
              <li>
                Unlimited Images Allowed
              </li>
              <li>
                Last Minute Bookings  
              </li>
              <li>
                Upload Virtual Tours Or Videos
              </li>
              <li>
                Full Review Features
              </li>
              <li>
                Featured Before Standard Venues
              </li>
              <li>
                Best Ad Placement Throughout Site
              </li>
              <li>
                On Page Search Engine Optimization
              </li>
              <li>
                Phone Support
              </li>
              <li class="button">
                <a href="/biz/checkout?plan=premium" class="btn btn-large" onClick="choosePlan('Premium');">
                  <i class="fa fa-shopping-cart"></i>&nbsp;&nbsp;Select
                </a>
              </li>
            </ul>
          </div>
          <div class="col-md-3 pricing-table belize-hole bordered hover-animation hide">
            <ul>
              <li class="title">
                Featured
              </li>
              <li class="price">
                Call Us For Pricing
              </li>

              <li class="button">
                <button class="btn btn-large" >
                  <i class="fa fa-phone"></i>&nbsp;&nbsp;Call Us
                </button>
              </li>
            </ul>
          </div>

        </div>
      </div><!-- .col-sm-12 -->
    </div>
  </div>
</div>
<script type="text/javascript">
  $(document).ready(function(){
    mixpanel.track("VM Venue Match", {
      "User": <%= current_admin.id %>,
      "Venue Slug": '<%= params[:id] %>'
    });
    
  });
  
  function choosePlan(plan){
    mixpanel.track("VM Choose Plan", {
      "User": <%= current_admin.id %>,
      "Plan": plan
    });
  }

</script>
