<% content_for :page_title do %>
  Account Registration
<% end %>

<div class="container content">
  <div class="row">
    <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
      <div class="reg-header">
        <h2>Register for a new account</h2>
        <p>
          Already signed up? <%= link_to 'Sign In', new_user_session_path %> to your account</p>
      </div>
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
          <%= devise_error_messages! %>
          <div class="form-group">
            <%= f.label :first_name, 'First Name', { :autofocus => true } %>
            <%= f.text_field :first_name, autofocus: true, class: 'form-control margin-bottom-20', required: true  %>
          </div>
          <div class="form-group">
            <%= f.label :last_name, 'Last Name' %>
            <%= f.text_field :last_name, class: 'form-control margin-bottom-20', required: true %>
          </div>
          <div class="form-group">
            <%= f.label :title %>
            <%= f.text_field :title, class: 'form-control margin-bottom-20' %>
          </div>
          <div class="form-group">
            <%= f.label :email %>
            <%= f.email_field :email, class: ' form-control margin-bottom-20', required: true %>
          </div>
          <div class="row">
            <div class="col-sm-6">
              <div class="form-group">
                <%= f.label :password%>
                <% if @validatable %>
                <em>(<%= @minimum_password_length %> characters minimum)</em>
                <% end %>
                <%= f.password_field :password, autocomplete: "off", class: 'form-control margin-bottom-20', required: true  %>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <%= f.label :password_confirmation, 'Confirm Password' %>
                <%= f.password_field :password_confirmation, autocomplete: "off", class: 'form-control margin-bottom-20', required: true  %>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-9 checkbox">
              <label>
                <input type="checkbox">
                I read and agree to the <a href="/tos" class="color-green">Terms and Conditions</a>
              </label>
            </div>
            <div class="col-lg-3 text-right">
              <button class="btn-u" type="submit" style="margin-top: 5px;">Register</button>
            </div>
          </div>
      <% end %>
    </div><!-- .col-md-6 -->
  </div><!-- .row -->
</div><!-- .container .content -->
