<% content_for :page_title do %>
  Venue Manager Login
<% end %>
<% content_for :page_description do %>
  VenueCenter Venue Manager portal login. Claim your venue profile today and start booking more business.
<% end %>
<% content_for :page_keywords do %>
  Event venues, account login, VenueCenter
<% end %>
<% if flash[:notice] %>
<div class="row">
  <div class="col-sm-12 notice">
    <div class="notice acenter"><%= flash[:notice] %></div>
  </div>
</div>
<% end %>
<div class="container content">
  <div class="row">
    <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
      <%= form_for(resource, as: resource_name, html: { id: 'login-form', class: 'reg-page' },url: session_path(resource_name)) do |f| %>
        <div class="reg-header">
          <h1>Venue Manager Login</h1>
          <p>Don't have an account, <%= link_to 'sign up now', new_admin_registration_path %>.</p>
        </div>
        <div class="input-group margin-bottom-20">
            <span class="input-group-addon"><i class="fa fa-envelope"></i></span>
            <%= f.email_field :email, autofocus: true, placeholder: 'Email', class: 'form-control', required: true %>
        </div>

        <div class="input-group margin-bottom-20">
          <span class="input-group-addon"><i class="fa fa-lock"></i></span>
          <%= f.password_field :password, autocomplete: "off", placeholder: 'Password', class: 'form-control', required: true %>
        </div>
        <hr>
        <div class="row">
          <div class="col-sm-9 checkbox">
            <label>
              <%= f.check_box :remember_me %>
              Remember me
            </label>
          </div>
          <div class="col-sm-3 text-right">
              <button class="btn-u" type="submit">Login</button>
          </div>
          <hr>
          <div class='acenter'>
            <%- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
              <%= link_to "Forgot your password?", new_password_path(resource_name) %><br />
            <% end -%>
          </div>
        </div>
      <% end %>
    </div>
  </div><!-- .row -->
</div><!-- .container .content -->

<script type="text/javascript">
$(document).ready(function(){
  $('#chk-agree').click(function() {
    $("#form-submit").attr('disabled', false);
    if(!$(this).is(':checked'))
    {
      $("#form-submit").attr('disabled', true);
    }
  });
  
  $( "#register_form").submit(function(){
    mixpanel.track("Venue Manager Signup", {
    "First Name": $('#admin_first_name').val(),
    "Last Name": $('#admin_first_name').val(),
    "Email": $('#admin_email').val()
    });
  });
});
</script>
