<div class="container-fluid" style="margin-top: 20px;">
  <div class="row">
    <div class="col-sm-9">
      <h1>Users <small>(<%= @users.count %>)</small></h1>
      <table class="table table-hover">
        <thead>
          <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Zip Code</th>
            <th>User Type</th>
            <th>Created</th>
            <th>Last Login</th>
            <th>RFPs</th>
          </tr>
        </thead>
        <tbody>
          <% @users.each do |u| %>
            <tr>
              <td><%= link_to u.first_name + ' ' +  u.last_name, backoffice_user_path(u) %></td>
              <td><%= u.email %></td>
              <td><%= u.zip_code %></td>
              <td><%= u.user_type %></td>
              <td><%= u.created_at %></td>
              <td><%= u.last_sign_in_at %></td>
              <td><%= u.rfps.count %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
      <%= will_paginate @users %>
    </div><!-- .col s12 -->
    <div class="col-sm-3">

    </div>
  </div><!-- .row -->
</div> <!-- .container -->
