<!DOCTYPE html>
<html>
<head>
  <title>VenueCenter</title>
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700,800' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag    'admin', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <% if Rails.env.production? %>
    <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-34952256-2"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-34952256-2');
  </script>

    <% end %>
</head>
<body>
  <!-- Google Tag Manager -->
  <noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-P2SP7Z"
  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
  <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
  new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
  j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
  '//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
  })(window,document,'script','dataLayer','GTM-P2SP7Z');</script>
  <!-- End Google Tag Manager -->
  <nav class="navbar navbar-inverse" role="navigation">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">VenueCenter</a>
      </div>
      <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav navbar-right">
          <li><a href="#">Dashboard</a></li>
          <li><a href="/settings">Settings</a></li>
          <li><a href="/profile">Profile</a></li>
          <li style="display: none;"><a href="/help">Help</a></li>
        </ul>

      </div>
    </div>
  </nav>
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-3 col-md-2 sidebar">
        <ul class="nav nav-sidebar">
          <li class="active"><a href="#">Dashboard <span class="sr-only">(current)</span></a></li>
          <li><a href="#">My Events</a></li>
          <li><a href="#">My Reviews</a></li>
          <li><a href="#">My RFQs</a></li>
        </ul>
      </div>
      <div class="col-sm-9 col-md-10 main">
        <%= yield %>
      </div><!-- .main -->
    </div>
  </div>
  <footer>
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-3">
          <%= link_to cl_image_tag('logo_white_p5eocj.png'), home_path %>
        </div>
        <div class="col-sm-3" style="margin-top: 15px; text-align: center;">
          Copyright &copy; 2014 VenueCenter
        </div>
        <div class="col-sm-6" style="text-align: center;">
          <ul class="footer-nav">
            <li><%= link_to 'Home', home_path %></li>
            <li><%= link_to 'About', '/about' %></li>
            <li><%= link_to 'Terms of Service', '/tos' %></li>
            <li><%= link_to 'Privacy Policy', '/privacy' %></li>
            <li><%= link_to 'Contact', '/contact' %></li>
          </ul>

        </div>
      </div>
    </div><!-- .container -->
  </footer>
  <% if Rails.env.production? %>
        
  <% end %>

</body>
</html>
