<!DOCTYPE html>
<html>
<head>
  <title><%= content_for(:page_title) %></title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="<%= content_for(:page_description) %>"/>
  <meta name="keywords" content="<%= content_for(:page_keywords) %>" />

  <script type="text/javascript"src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDLu4u8MypTbIZARHNs-nunNBIPu00eA4w"></script>
  <%= favicon_link_tag 'favicon.ico' %>
  <link rel="stylesheet" href="https://code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
   <script src="https://code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
  <%= csrf_meta_tags %>
  <%= content_for(:page_head) %>
  <% if Rails.env.production? %>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-34952256-2"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-34952256-2');
    </script>
    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <script>
      (adsbygoogle = window.adsbygoogle || []).push({
        google_ad_client: "ca-pub-8187990456068232",
        enable_page_level_ads: true
      });
    </script>
<% end %>
</head>
<body>
  <!-- Google Tag Manager -->
  <noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-KPNBKC"
  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
  <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
  new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
  j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
  '//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
  })(window,document,'script','dataLayer','GTM-KPNBKC');</script>
  <!-- End Google Tag Manager -->

  <!-- Google Tag Manager -->
    <noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-P2SP7Z"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    '//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-P2SP7Z');</script>
  <!-- End Google Tag Manager -->
<div class="wrapper">
<header>
  <div class="container-fluid">
	  <div class="navbar navbar-default navbar-main" role="navigation">
		  <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
			  <a class="navbar-brand" href="/"><%= cl_image_tag('logo_dark_h9sqzh.png', alt: 'Find the best venues for your next event with VenueCenter') %></a>

		  </div>
		  <div class="collapse navbar-collapse" role="navigation">
	        <ul class="nav pull-right navbar-nav" style="margin-top: 30px;">
            <% if user_signed_in? %>
            <li class="dropdown">
              <a href="/account" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">My Account <span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
                <li><a href="/account/profile">My Profile</a></li>
                <li><a href="/account/rfps">My RFPs</a></li>
                <li><a href="/account/reviews">My Reviews</a></li>
                <li><a href="/account/venues">My Saved Venues</a></li>
              </ul>
            </li>
            <% end %>
            <% if admin_signed_in? %>
              <li><%= link_to 'Manage Your Venue', '/manage' %></a></li>
            <% else %>
	            <li><%= link_to 'List Your Venue', biz_home_path %></a></li>
            <% end %>
            <li><%= link_to 'Vendors', vendors_path %></a></li>
	          <li><%= link_to 'How It Works', '/how-it-works' %></li>

            <li>
              <%= link_to 'Blog', 'http://blog.venuecenter.com' %>
            </li>

            <li>

              <% if user_signed_in? %>
      	        <%= link_to 'Logout', destroy_user_session_path, method: :delete %>
              <% elsif admin_signed_in? %>
                <%= link_to 'Logout', destroy_admin_session_path, method: :delete %>
      	      <% else %>
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Login <span class="caret"></span></a>
                <ul class="dropdown-menu" role="menu">
                  <li><%= link_to 'User Login', new_user_session_path %></li>
                  <li>
                    <% if admin_signed_in? %>
                      <%= link_to 'Manage Venue', manage_home_path %>
                    <% else %>
                      <%= link_to 'Venue Manager Login', new_admin_session_path %>
                    <% end %>
                  </li>
                </ul>
      	      <% end %>
            </li>
             <% if (!user_signed_in? && !admin_signed_in?) %>
                <li>
                  <%= link_to 'Sign Up', new_user_registration_path  %>
                </li>
              <% end %>


	        </ul>
          </div>
	  </div>
	  

  </div><!-- .container -->
</header>


<% if flash[:notice] || flash[:alert] %>
  <div class="container">
    <div class="row">
      <div class="col-sm-12 notice acenter">
        <% if flash[:notice] && !flash[:notice].blank? %>
          <div class=”alert alert-success”>
            <%= notice %>
          </div>
        <% end %>
        <% if flash[:alert] && !flash[:alert].blank? %>
          <div class=”alert alert-danger”>
            <%= alert %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
<% end %>


  <%= yield %>

  <div class="push"></div>
</div>
<footer class="footer">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-3">
        <%= link_to cl_image_tag('logo_white_p5eocj.png'), home_path %>
      </div>
      <div class="col-sm-3" style="margin-top: 15px; text-align: center;">
        Copyright &copy; <%= Date.current.year %> VenueCenter
      </div>
      <div class="col-sm-6" style="text-align: center;">
        <ul class="footer-nav">
          <li><%= link_to 'Home', home_path %></li>
          <li><%= link_to 'About', '/about' %></li>
          <li><%= link_to 'FAQ', '/faq' %></li>
          <li><%= link_to 'Terms of Service', '/tos' %></li>
          <li><%= link_to 'Privacy Policy', '/privacy' %></li>
          <li><%= link_to 'Contact', '/contact' %></li>
        </ul>
      </div><!-- .col-sm-6 -->
    </div><!-- .row -->
  </div><!-- .container-fluid -->
</footer><!-- footer -->
<% if Rails.env.production? %>

<% end %>
</body>
</html>
