<!DOCTYPE html>
<html>
<head>
  <title><%= content_for(:page_title) %></title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="<%= content_for(:page_description) %>"/>
  <meta name="keywords" content="<%= content_for(:page_keywords) %>" />
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= content_for(:page_header) %>
  <!-- start Mixpanel --><script type="text/javascript">(function(e,b){if(!b.__SV){var a,f,i,g;window.mixpanel=b;b._i=[];b.init=function(a,e,d){function f(b,h){var a=h.split(".");2==a.length&&(b=b[a[0]],h=a[1]);b[h]=function(){b.push([h].concat(Array.prototype.slice.call(arguments,0)))}}var c=b;"undefined"!==typeof d?c=b[d]=[]:d="mixpanel";c.people=c.people||[];c.toString=function(b){var a="mixpanel";"mixpanel"!==d&&(a+="."+d);b||(a+=" (stub)");return a};c.people.toString=function(){return c.toString(1)+".people (stub)"};i="disable time_event track track_pageview track_links track_forms register register_once alias unregister identify name_tag set_config people.set people.set_once people.increment people.append people.union people.track_charge people.clear_charges people.delete_user".split(" ");
for(g=0;g<i.length;g++)f(c,i[g]);b._i.push([a,e,d])};b.__SV=1.2;a=e.createElement("script");a.type="text/javascript";a.async=!0;a.src="undefined"!==typeof MIXPANEL_CUSTOM_LIB_URL?MIXPANEL_CUSTOM_LIB_URL:"file:"===e.location.protocol&&"//cdn.mxpnl.com/libs/mixpanel-2-latest.min.js".match(/^\/\//)?"https://cdn.mxpnl.com/libs/mixpanel-2-latest.min.js":"//cdn.mxpnl.com/libs/mixpanel-2-latest.min.js";f=e.getElementsByTagName("script")[0];f.parentNode.insertBefore(a,f)}})(document,window.mixpanel||[]);
mixpanel.init("fc51b98f05d0b608abd9ea1e62921398");</script><!-- end Mixpanel -->
  <% if Rails.env.production? %>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-34952256-2"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-34952256-2');
    </script>
  <% end %>
</head>
<body>
  <!-- Google Tag Manager -->
    <noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-P2SP7Z"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    '//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-P2SP7Z');</script>
  <!-- End Google Tag Manager -->
  <div class="wrapper">
    <div class="container-fluid hdr-container">
      <div class="header">
        <div class="pull-right" style="padding-top: 25px;">
          <% if admin_signed_in? %>
            <%= link_to 'Logout', destroy_admin_session_path, :method => :delete %>
          <% else %>
            <%= link_to 'Venue Manager Login', new_admin_session_path %>
          <% end %>
        </div><!-- .pull-right -->
        <a href="/"><%= image_tag('venuecenter_logo_dark.png', alt: 'Showcase your venue with VenueCenter') %></a>
      </div><!-- .header -->
    </div><!-- .container -->

    <%= yield %>
    <div class="push"></div>
  </div><!-- .wrapper -->
  <footer class="footer">
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-3">
          <%= link_to cl_image_tag('logo_white_p5eocj.png'), home_path %>
        </div>
        <div class="col-sm-3" style="margin-top: 15px; text-align: center;">
          Copyright &copy; 2015 VenueCenter
        </div>
        <div class="col-sm-6" style="text-align: center;">
          <ul class="footer-nav">
            <li><%= link_to 'Home', home_path %></li>
            <li><%= link_to 'About', '/about' %></li>
            <li><%= link_to 'Terms of Service', '/tos' %></li>
            <li><%= link_to 'Privacy Policy', '/privacy' %></li>
            <li><%= link_to 'Contact', '/contact' %></li>
          </ul>
        </div><!-- .col-sm-6 -->
      </div><!-- .row -->
    </div><!-- .container-fluid -->
  </footer><!-- footer -->
  <% if Rails.env.production? %>
   
    
  <% end %>
</body>
</html>
