<html>
  <body>

    <p style="margin-bottom: 20px;"><%= cl_image_tag('logo_dark_h9sqzh.png', alt: 'Venue Center') %></p>

    <%= yield %>

    <p>
      Thanks for using VenueCenter!<br>
      The VenueCenter Team
    </p>

    <p>
      <span style="font-style: italic;">Copyright &copy; 2016 VenueCenter, All rights reserved</span><br>
      311 N Market St. Floor 2, Dallas, TX 75202 // P 214.308.2033 F 214.308.2044 // <%= link_to 'VenueCenter.com', 'http://venuecenter.com' %>
    </p>

  </body>
</html>
