<!DOCTYPE html>
<head>
  <title><%= content_for(:page_title) %> - VenueCenter BackOffice</title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="<%= content_for(:page_description) %>"/>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <% if Rails.env.production? %>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-34952256-2"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-34952256-2');
    </script>
  <% end %>
</head>
<body>
  <!-- Google Tag Manager -->
    <noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-P2SP7Z"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    '//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-P2SP7Z');</script>
  <!-- End Google Tag Manager -->
<div id="wrapper">
  <nav class="navbar navbar-inverse navbar-static-top" role="navigation" style="margin-bottom: 0;">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">
          <%= image_tag 'logo_white.png', alt: 'VenueCenter', style: 'padding-top: 5px;'  %>
        </a>
      </div><!-- .navbar-header -->
      <ul class="nav navbar-top-links navbar-right">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown"><%= current_admin.first_name %> <%= current_admin.last_name %>  - <%= @venue.name %> <b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li>
              <a href="/manage/venues"><i class="fa fa-fw fa-exchange"></i> Switch Venue</a>
            </li>
            <li class="hide">
              <a href="#"><i class="fa fa-fw fa-user"></i> Profile</a>
            </li>
            <li class="hide">
              <a href="#"><i class="fa fa-fw fa-gear"></i> Settings</a>
            </li>
            <li class="divider"></li>
            <li>
              <%= link_to destroy_admin_session_path, :method => :delete do %>
                <i class="fa fa-fw fa-power-off"></i> Logout
              <% end %>
            </li>
          </ul>
        </li>
      </li>
    </ul><!-- .nav navbar-right .top-nav -->

    <div class="navbar-default sidebar" role="navigation">
      <div class="sidebar-nav navbar-collapse">
        <ul class="nav" id="side-menu">
          <li>
            <a href="/manage"><i class="fa fa-fw fa-dashboard"></i> Dashboard</a>
          </li>
          <li>
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="false" aria-expanded="false">
              <i class="fa fa-fw fa-list"></i> Details <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
              <li>
                <a href="/manage/details">Overview</a>
              </li>
              <li>
                <a href="/manage/details/general">General</a>
              </li>
              <li>
                <a href="/manage/details/categories">Categories</a>
              </li>
              <li>
                <a href="/manage/details/features">Features</a>
              </li>
              <li>
                <a href="/manage/details/photos">Photos</a>
              </li>
              <li>
                <a href="/manage/details/directions">Directions</a>
              </li>
              <li class="hide">
                  <a href="/manage/details/spaces">Spaces</a>
              </li>
            </ul>
          </li>
          <li>
            <a href="/manage/rfps"><i class="fa fa-quote-right"></i> RFPs</a>
          </li>
          <li>
            <a href="/manage/reviews"><i class="fa fa-comments-o"></i> Reviews</a>
          </li>
          <li class="hide">
            <a href="/manage/billing"><i class="fa fa-credit-card"></i> Billing</a>
          </li>
        </ul>
      </div>

    </div>
  </nav>
  <div class="col-sm-9">
    <div id="page-wrapper">
      <div class="row">
        <div class="col-md-12">
          <h1 class="page-header"><%= content_for(:page_header) %></h1>

        </div>

      </div>
      <% if flash[:notice] || flash[:alert] %>
        <div class="row">
          <div class="col-sm-12 notice acenter">
            <% if flash[:notice] && !flash[:notice].blank? %>
                <div class=”alert alert-success”>
                  <%= notice %>
                </div>
            <% end %>
            <% if flash[:alert] && !flash[:alert].blank? %>
                <div class=”alert alert-danger”>
                  <%= alert %>
                </div>
            <% end %>
          </div>
        </div><!-- .row -->
      <% end %>

      <%= yield %>

    </div>
  </div>


</div>
<% if Rails.env.production? %>

  
<% end %>
</body>
</html>
