<% content_for :page_title do %>
  Register for a new account
<% end %>
<% content_for :page_description do %>
  VenueCenter Venue Manager Registration. Claim your venue profile today and start booking more business.
<% end %>
<% content_for :page_keywords do %>
  Event venues, account login, VenueCenter
<% end %>
<div class="container content">
  <div class="row">
    <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
      <div class="reg-header">
      <h1>Register for a new account</h1>
      <p>
        Already signed up? <%= link_to 'Sign In', new_admin_session_path %> to your account</p>
      </div><!-- .reg-header -->

      <%= form_for(resource, as: resource_name, html: { id: 'register_form', class: 'reg-page' }, url: registration_path(resource_name)) do |f| %>
        <%= devise_error_messages! %>
         <div class="form-group">
            <%= f.label :first_name, 'First Name', { :autofocus => true } %>
             <%= f.text_field :first_name, autofocus: true, class: 'form-control margin-bottom-20', required: true  %>
        </div>
        <div class="form-group">
            <%= f.label :last_name, 'Last Name' %>
            <%= f.text_field :last_name, class: 'form-control margin-bottom-20', required: true %>
        </div>
        <div class="form-group">
            <%= f.label :email %>
            <%= f.email_field :email, class: ' form-control margin-bottom-20', required: true %>
        </div>
        <div class="row">
            <div class="col-sm-6">
              <div class="form-group">
                  <%= f.label :password%>
                  <% if @validatable %>
                  <em>(<%= @minimum_password_length %> characters minimum)</em>
                  <% end %>
                    <%= f.password_field :password, autocomplete: "off", class: 'form-control margin-bottom-20', required: true  %>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                  <%= f.label :password_confirmation%>
                  <%= f.password_field :password_confirmation, autocomplete: "off", class: 'form-control margin-bottom-20', required: true  %>
              </div>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-lg-9 checkbox">
                <label>
                    <input type="checkbox" required>
                    I read and agree to the <a href="/tos" class="color-green">Terms of Service</a>
                </label>
            </div>
            <div class="col-lg-3 text-right">
                <button class="btn-u" type="submit" style="margin-top: 5px;">Register</button>
            </div>
        </div>
      <% end %>
    </div><!-- . col-md-6-->
  </div><!-- .row -->
</div><!-- .container .content -->
<script type="text/javascript">
    $( document ).ready(function() {
      $( "#submit").click(function(){
        mixpanel.track("Venue Manager Signup", {
        "First Name": $('#admin_first_name').val(),
        "Last Name": $('#admin_first_name').val(),
        "Email": $('#admin_email').val()
        });
      });
    });
  </script>
